SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/***************************************************************************/
/* Stored Procedure: isp_RPT_ASN_TALLYSHT_030                              */
/* Creation Date: 01-Aug-2023                                              */
/* Copyright: MAERSK                                                       */
/* Written by: WLChooi                                                     */
/*                                                                         */
/* Purpose: WMS-23204 - [TW] ADS WM Report TALLYSHT_NEW                    */
/*                                                                         */
/* Called By: RPT_ASN_TALLYSHT_030                                         */
/*                                                                         */
/* GitHub Version: 1.1                                                     */
/*                                                                         */
/* Version: 1.0                                                            */
/*                                                                         */
/* Data Modifications:                                                     */
/*                                                                         */
/* Updates:                                                                */
/* Date         Author      Ver. Purposes                                  */
/* 01-Aug-2023  WLChooi     1.0  DevOps Combine Script                     */
/* 27-Nov-2023  WLChooi     1.1  WMS-23204 - Bug Fix (WL01)                */
/***************************************************************************/

CREATE OR ALTER PROC [dbo].[isp_RPT_ASN_TALLYSHT_030]
   @c_Receiptkey  NVARCHAR(10)

AS
BEGIN
   SET NOCOUNT ON
   SET ANSI_NULLS OFF
   SET QUOTED_IDENTIFIER OFF
   SET CONCAT_NULL_YIELDS_NULL OFF

   SELECT RECEIPT.STORERKEY
        , RECEIPTDETAIL.ToLoc
        , CASE ISNULL(RECEIPT.Notes,'') WHEN 'NEW' THEN N'新品' 
                                        WHEN 'REP' THEN N'續補' 
                                        ELSE ISNULL(RECEIPT.Notes,'') END AS Notes
        , CONVERT(NVARCHAR(10),RECEIPT.RECEIPTDATE,111) AS RECEIPTDATE
        , RECEIPT.Facility AS Facility
        , TRIM(ISNULL(RECEIPT.Notes,'')) AS RNotes
        , (SELECT COUNT(DISTINCT U.UCCNo)
           FROM UCC U (NOLOCK)
           WHERE U.ExternKey = RECEIPT.ExternReceiptKey 
           AND U.Storerkey = RECEIPTDETAIL.StorerKey ) AS BilledContainerQty   --WL01
        , TRIM(ISNULL(CL1.UDF01,'')) AS UDF01
        , RECEIPT.Receiptkey AS Receiptkey
        , TRIM(ISNULL(RECEIPT.ExternReceiptkey,'')) AS ExternReceiptkey
        , TRIM(ISNULL(S.Style,'')) AS SStyle
        , TRIM(ISNULL(S.Color,'')) AS SColor
        , TRIM(ISNULL(S.[Size],'')) AS SSize
        , TRIM(ISNULL(S.AltSku,'')) AS AltSku
        , TRIM(ISNULL(S.Descr,'')) AS SDESCR
        , TRIM(ISNULL(RECEIPTDETAIL.Lottable03,'')) AS LOTT03
        , UCC.Qty AS UCCQty
        , TRIM(ISNULL(UCC.UCCNo,'')) AS UCCNo
   FROM RECEIPTDETAIL WITH (NOLOCK) 
   JOIN RECEIPT WITH (NOLOCK) ON (RECEIPT.RECEIPTKEY = RECEIPTDETAIL.RECEIPTKEY)
   JOIN SKU S WITH (NOLOCK) ON S.Storerkey = RECEIPTDETAIL.Storerkey AND S.Sku = RECEIPTDETAIL.Sku
   LEFT JOIN CODELKUP CL1 WITH (NOLOCK) ON CL1.LISTNAME = 'ITEMCLASS' AND CL1.STORERKEY = RECEIPT.STORERKEY
                                       AND CL1.Code = S.Itemclass
   LEFT JOIN UCC WITH (NOLOCK) ON UCC.ExternKey = RECEIPT.ExternReceiptKey 
                              AND UCC.Storerkey = RECEIPTDETAIL.StorerKey AND UCC.SKU = RECEIPTDETAIL.SKU
   WHERE ( RECEIPT.ReceiptKey =  @c_Receiptkey )
   GROUP BY RECEIPT.STORERKEY
          , RECEIPTDETAIL.ToLoc
          , ISNULL(RECEIPT.Notes,'')
          , CONVERT(NVARCHAR(10),RECEIPT.RECEIPTDATE,111)
          , RECEIPT.Facility
          , TRIM(ISNULL(RECEIPT.Notes,''))
          , TRIM(ISNULL(CL1.UDF01,''))
          , RECEIPT.Receiptkey
          , RECEIPT.ExternReceiptkey
          , TRIM(ISNULL(S.Style,''))
          , TRIM(ISNULL(S.Color,''))
          , TRIM(ISNULL(S.[Size],''))
          , TRIM(ISNULL(S.AltSku,''))
          , TRIM(ISNULL(S.Descr,''))
          , TRIM(ISNULL(RECEIPTDETAIL.Lottable03,''))
          , TRIM(ISNULL(UCC.UCCNo,''))
          , RECEIPTDETAIL.Sku
          , UCC.Qty
          , RECEIPTDETAIL.StorerKey 
   ORDER BY RECEIPT.Receiptkey,RECEIPTDETAIL.Sku

END
GO
GRANT EXECUTE ON  [dbo].[isp_RPT_ASN_TALLYSHT_030] TO [LogiReportRoleWM]
GO
GRANT EXECUTE ON  [dbo].[isp_RPT_ASN_TALLYSHT_030] TO [NSQL]
GO