SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS OFF
GO

/************************************************************************/
/* Stored Procedure: isp_RPT_WV_PLIST_WAVE_017                          */
/* Creation Date: 22-Nov-2022                                           */
/* Copyright: LFL                                                       */
/* Written by: Pavithra                                                 */
/*                                                                      */
/* Purpose: WMS-21193 - Migrate WMS report to Logi Report               */
/*                      r_dw_print_wave_pickslip_03 (TH)                */
/*                                                                      */
/* Called By: RPT_WV_PLIST_WAVE_017                                     */
/*                                                                      */
/* GitLab Version: 1.0                                                  */
/*                                                                      */
/* Version: 5.4                                                         */
/*                                                                      */
/* Data Modifications:                                                  */
/*                                                                      */
/* Updates:                                                             */
/* Date         Author   Ver. Purposes                                  */
/* 22-Nov-2022  WLChooi  1.0  DevOps Combine Script                     */
/* 01-SEP-2023  CSCHONG  1.1  WMS-23541 add new field (CS01)            */
/************************************************************************/

CREATE OR ALTER PROC [dbo].[isp_RPT_WV_PLIST_WAVE_017] (
      @c_wavekey        NVARCHAR(10)
    , @c_PreGenRptData  NVARCHAR(10) = ''
)
AS
BEGIN

   SET NOCOUNT ON
   SET ANSI_NULLS OFF
   SET QUOTED_IDENTIFIER OFF
   SET CONCAT_NULL_YIELDS_NULL OFF
   DECLARE @n_continue           INT
         , @c_errmsg             NVARCHAR(255)
         , @b_success            INT
         , @n_err                INT
         , @n_pickslips_required INT
         , @c_pickheaderkey      NVARCHAR(10)
         , @c_sorting            NVARCHAR(10)


   DECLARE @c_UDF01     NVARCHAR(60)
         , @c_UDF02     NVARCHAR(60)
         , @c_UDF03     NVARCHAR(60)
         , @c_UDF04     NVARCHAR(60)
         , @c_UDF05     NVARCHAR(200)
         , @c_OrderType NVARCHAR(250) = N''

   SELECT @c_UDF01 = TRIM(ISNULL(CL1.UDF01, ''))
        , @c_UDF02 = TRIM(ISNULL(CL1.UDF02, ''))
        , @c_UDF03 = TRIM(ISNULL(CL1.UDF03, ''))
        , @c_UDF04 = TRIM(ISNULL(CL1.UDF04, ''))
        , @c_UDF05 = TRIM(ISNULL(CL1.UDF05, ''))
   FROM ORDERS (NOLOCK)
   JOIN CODELKUP CL1 (NOLOCK) ON  CL1.LISTNAME = 'REPORTCFG'
                              AND CL1.Code = 'ShowAltSKU'
                              AND CL1.Long = 'RPT_WV_PLIST_WAVE_017'
                              AND CL1.Storerkey = ORDERS.StorerKey
   WHERE ORDERS.UserDefine09 = @c_wavekey

   SET @c_OrderType = CASE WHEN ISNULL(@c_UDF01, '') = '' THEN ''
                           ELSE @c_UDF01 + ',' END + CASE WHEN ISNULL(@c_UDF02, '') = '' THEN ''
                                                          ELSE @c_UDF02 + ',' END
                      + CASE WHEN ISNULL(@c_UDF03, '') = '' THEN ''
                             ELSE @c_UDF03 + ',' END + CASE WHEN ISNULL(@c_UDF04, '') = '' THEN ''
                                                            ELSE @c_UDF04 + ',' END
                      + CASE WHEN ISNULL(@c_UDF05, '') = '' THEN ''
                             ELSE @c_UDF05 + ',' END

   IF ISNULL(@c_OrderType,'') <>''
   BEGIN
          SET @c_OrderType = SUBSTRING(@c_OrderType, 1, (LEN(@c_OrderType) - 1))
   END

   IF @c_PreGenRptData = '0'
      SET @c_PreGenRptData = ''
      
   CREATE TABLE #TEMP_PICK
   (
      PickSlipNo      NVARCHAR(10) NULL
    , OrderKey        NVARCHAR(10)
    , ExternOrderkey  NVARCHAR(50)
    , WaveKey         NVARCHAR(10)
    , StorerKey       NVARCHAR(15)
    , InvoiceNo       NVARCHAR(10)
    , BuyerPO         NVARCHAR(20) NULL
    , Route           NVARCHAR(10) NULL
    , Company         NVARCHAR(62) NULL
    , Sku             NVARCHAR(20) NULL
    , SkuDescr        NVARCHAR(60) NULL
    , ManufacturerSku NVARCHAR(20) NULL
    , Lottable02      NVARCHAR(18) NULL
    , Lottable04      DATETIME     NULL
    , Qty             INT
    , DeliveryDate    DATETIME     NULL
    , LogicalLocation NVARCHAR(10) NULL
    , Loc             NVARCHAR(10) NULL
    , PutawayZone     NVARCHAR(10) NULL
    , MasterUnit      INT
    , LowestUOM       NVARCHAR(10)
    , PrintedFlag     NVARCHAR(1)
    , Notes1          NVARCHAR(60) NULL
    , Notes2          NVARCHAR(60) NULL
    , Lottable12      NVARCHAR(30) NULL
    , pickroute       NVARCHAR(5)  NULL
    , showroute       NVARCHAR(5)  NULL
    , ShowAltSKU      NVARCHAR(10) NULL
    , AltSKU          NVARCHAR(20)
    , ExtPOKey        NVARCHAR(20)                 --CS01

   )

   INSERT INTO #TEMP_PICK
   SELECT (  SELECT PICKHEADER.PickHeaderKey
             FROM PICKHEADER (NOLOCK)
             WHERE PICKHEADER.WaveKey = @c_wavekey AND PICKHEADER.OrderKey = ORDERS.OrderKey AND PICKHEADER.Zone = '8')
        , ORDERS.OrderKey
        , ORDERS.ExternOrderKey
        , WAVEDETAIL.WaveKey
        , ISNULL(ORDERS.StorerKey, '')
        , ISNULL(ORDERS.InvoiceNo, '')
        , ISNULL(ORDERS.BuyerPO, '')
        , ISNULL(ORDERS.Route, '')
        , ISNULL(dbo.fnc_RTRIM(ORDERS.ConsigneeKey), '') + ' -- ' + ISNULL(dbo.fnc_RTRIM(ORDERS.C_Company), '') AS Company
        , SKU.Sku
        , ISNULL(SKU.DESCR, '') AS SkuDescr
        , ISNULL(SKU.MANUFACTURERSKU, '')
        , ISNULL(LOTATTRIBUTE.Lottable02, '')
        , ISNULL(CONVERT(NVARCHAR(10), LOTATTRIBUTE.Lottable04, 112), '01/01/1900')
        , SUM(PICKDETAIL.Qty) AS QTY
        , ISNULL(CONVERT(NVARCHAR(10), ORDERS.DeliveryDate, 112), '01/01/1900')
        , ISNULL(LOC.LogicalLocation, '')
        , ISNULL(PICKDETAIL.Loc, '')
        , ISNULL(LOC.PutawayZone, '')
        , ISNULL(PACK.Qty, 0) AS MasterUnit
        , LTRIM(RTRIM(ISNULL(PACK.PackUOM3, ''))) AS LowestUOM
        , ISNULL((  SELECT DISTINCT 'Y'
                    FROM PICKHEADER (NOLOCK)
                    WHERE WaveKey = @c_wavekey AND Zone = '8')
               , 'N') AS PrintedFlag -- SOS25171
        , CONVERT(NVARCHAR(60), ISNULL(ORDERS.Notes, '')) AS Notes1
        , CONVERT(NVARCHAR(60), ISNULL(ORDERS.Notes2, '')) AS Notes2
        , ISNULL(ORDERDETAIL.Lottable12, '') AS Lottable02
        , CASE WHEN ISNULL(ORDERS.Route, '') LIKE 'BKK%' THEN 'B'
               ELSE 'U' END AS PICKROUTE
        , SHOWROUTE = ISNULL(CL.Short, 'N')
        , ShowAltSKU = ISNULL(CL1.Short, 'N')
        , AltSKU = ISNULL(SKU.ALTSKU, '')
        , ExtPOKey = ISNULL(ORDERS.externpokey, '')     --CS01
   FROM PICKDETAIL (NOLOCK)
   JOIN ORDERS (NOLOCK) ON (PICKDETAIL.OrderKey = ORDERS.OrderKey)
   JOIN WAVEDETAIL (NOLOCK) ON (PICKDETAIL.OrderKey = WAVEDETAIL.OrderKey)
   JOIN LOTATTRIBUTE (NOLOCK) ON (PICKDETAIL.Lot = LOTATTRIBUTE.Lot)
   JOIN SKU (NOLOCK) ON (PICKDETAIL.Storerkey = SKU.StorerKey AND PICKDETAIL.Sku = SKU.Sku)
   JOIN LOC (NOLOCK) ON (PICKDETAIL.Loc = LOC.Loc)
   JOIN PACK (NOLOCK) ON (SKU.PACKKey = PACK.PackKey)
   JOIN ORDERDETAIL (NOLOCK) ON (   ORDERDETAIL.OrderKey = PICKDETAIL.OrderKey
                                AND ORDERDETAIL.Sku = PICKDETAIL.Sku
                                AND ORDERDETAIL.OrderLineNumber = PICKDETAIL.OrderLineNumber)
   LEFT JOIN CODELKUP CL (NOLOCK) ON  CL.LISTNAME = 'REPORTCFG'
                                  AND CL.Code = 'SHOWROUTE'
                                  AND CL.Long = 'RPT_WV_PLIST_WAVE_017'
                                  AND CL.Storerkey = PICKDETAIL.Storerkey
   LEFT JOIN CODELKUP CL1 (NOLOCK) ON  CL1.LISTNAME = 'REPORTCFG'
                                   AND CL1.Code = 'ShowAltSKU'
                                   AND CL1.Long = 'RPT_WV_PLIST_WAVE_017'
                                   AND CL1.Storerkey = ORDERS.StorerKey
                                   AND ORDERS.[Type] IN (  SELECT DISTINCT ColValue
                                                           FROM dbo.fnc_DelimSplit(',', @c_OrderType) )
   WHERE PICKDETAIL.Status < '5'
   AND   (PICKDETAIL.PickMethod = '8' OR PICKDETAIL.PickMethod = '')
   AND   (WAVEDETAIL.WaveKey = @c_wavekey)
   GROUP BY ORDERS.OrderKey
          , ORDERS.ExternOrderKey
          , WAVEDETAIL.WaveKey
          , ISNULL(ORDERS.StorerKey, '')
          , ISNULL(ORDERS.InvoiceNo, '')
          , ISNULL(ORDERS.BuyerPO, '')
          , ISNULL(ORDERS.Route, '')
          , ISNULL(dbo.fnc_RTRIM(ORDERS.ConsigneeKey), '') + ' -- ' + ISNULL(dbo.fnc_RTRIM(ORDERS.C_Company), '')
          , SKU.Sku
          , ISNULL(SKU.DESCR, '')
          , ISNULL(SKU.MANUFACTURERSKU, '')
          , ISNULL(LOTATTRIBUTE.Lottable02, '')
          , ISNULL(CONVERT(NVARCHAR(10), LOTATTRIBUTE.Lottable04, 112), '01/01/1900')
          , ISNULL(CONVERT(NVARCHAR(10), ORDERS.DeliveryDate, 112), '01/01/1900')
          , ISNULL(LOC.LogicalLocation, '')
          , ISNULL(PICKDETAIL.Loc, '')
          , ISNULL(LOC.PutawayZone, '')
          , ISNULL(PACK.Qty, 0)
          , LTRIM(RTRIM(ISNULL(PACK.PackUOM3, '')))
          , CONVERT(NVARCHAR(60), ISNULL(ORDERS.Notes, ''))
          , CONVERT(NVARCHAR(60), ISNULL(ORDERS.Notes2, ''))
          , ISNULL(ORDERDETAIL.Lottable12, '')
          , CASE WHEN ISNULL(ORDERS.Route, '') LIKE 'BKK%' THEN 'B'
                 ELSE 'U' END
          , ISNULL(CL.Short, 'N')
          , ISNULL(CL1.Short, 'N')
          , ISNULL(SKU.ALTSKU, '')
          , ISNULL(ORDERS.externpokey, '')     --CS01 

   BEGIN TRAN

   SELECT @n_err = @@ERROR
   IF @n_err <> 0
   BEGIN
      SELECT @n_continue = 3
      IF @@TRANCOUNT >= 1
      BEGIN
         ROLLBACK TRAN
      END
   END
   ELSE
   BEGIN
      IF @@TRANCOUNT > 0
      BEGIN
         COMMIT TRAN
      END
      ELSE
      BEGIN
         SELECT @n_continue = 3
         ROLLBACK TRAN
      END
   END

   SELECT @n_pickslips_required = COUNT(DISTINCT OrderKey)
   FROM #TEMP_PICK
   WHERE PickSlipNo IS NULL

   IF @@ERROR <> 0
   BEGIN
      DELETE FROM #TEMP_PICK
   END
   ELSE IF @n_pickslips_required > 0
   BEGIN
       IF @c_PreGenRptData = ''
       BEGIN
          SET @c_PreGenRptData = 'Y'
       END

      IF @c_PreGenRptData = 'Y'
      BEGIN
         EXECUTE nspg_GetKey 'PICKSLIP'
                           , 9
                           , @c_pickheaderkey OUTPUT
                           , @b_success OUTPUT
                           , @n_err OUTPUT
                           , @c_errmsg OUTPUT
                           , 0
                           , @n_pickslips_required

         INSERT INTO PICKHEADER (PickHeaderKey, OrderKey, WaveKey, PickType, Zone, TrafficCop, StorerKey)
         SELECT 'P'
                + RIGHT(REPLICATE('0', 9)
                        + dbo.fnc_LTRIM(
                             dbo.fnc_RTRIM(
                                STR(CAST(@c_pickheaderkey AS INT) + (  SELECT COUNT(DISTINCT OrderKey)
                                                                       FROM #TEMP_PICK AS Rank
                                                                       WHERE Rank.OrderKey < #TEMP_PICK.OrderKey)))), 9)
              , OrderKey
              , WaveKey
              , '0'
              , '8'
              , ''
              , StorerKey
         FROM #TEMP_PICK
         WHERE PickSlipNo IS NULL
         GROUP BY WaveKey
                , OrderKey
                , StorerKey
      END

      UPDATE #TEMP_PICK
      SET PickSlipNo = PICKHEADER.PickHeaderKey
      FROM PICKHEADER (NOLOCK)
      WHERE PICKHEADER.WaveKey = #TEMP_PICK.WaveKey
      AND   PICKHEADER.OrderKey = #TEMP_PICK.OrderKey
      AND   PICKHEADER.Zone = '8'
      AND   #TEMP_PICK.PickSlipNo IS NULL
   END

   IF @n_continue = 3
   BEGIN
      EXECUTE nsp_logerror @n_err, @c_errmsg, 'isp_RPT_WV_PLIST_WAVE_017'
      RAISERROR(@c_errmsg, 16, 1) WITH SETERROR
      RETURN
   END

       IF @c_PreGenRptData = 'Y'
       BEGIN
          SET @c_PreGenRptData = ''
       END

   IF ISNULL(@c_PreGenRptData,'') = ''
   BEGIN
      SELECT TOP 1 @c_sorting = showroute
      FROM #TEMP_PICK

      IF @c_sorting = 'Y'
         SELECT *
         FROM #TEMP_PICK
         ORDER BY CASE WHEN Route LIKE 'BKK%' THEN 1
                       ELSE 2 END
                , ExternOrderkey
                , LogicalLocation
                , Loc
                , Sku
      ELSE
         SELECT *
         FROM #TEMP_PICK
         ORDER BY PickSlipNo
                , LogicalLocation
                , Loc
                , Sku
   END

   IF OBJECT_ID('tempdb..#TEMP_PICK') IS NOT NULL
      DROP TABLE #TEMP_PICK
END
GO
GRANT EXECUTE ON [dbo].[isp_RPT_WV_PLIST_WAVE_017] TO NSQL
GO
GRANT EXECUTE ON [dbo].[isp_RPT_WV_PLIST_WAVE_017] TO JReportRole
GO