SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/************************************************************************/  
/* Stored Procedure: isp_PackListBySku30_rdt                            */  
/* Creation Date: 16-Aug-2022                                           */  
/* Copyright: LFL                                                       */  
/* Written by: WLChooi                                                  */  
/*                                                                      */  
/* Purpose: WMS-20522 - UPD B2C Packing List                            */  
/*                                                                      */  
/* Called By: report dw = r_dw_packing_list_by_sku30_rdt                */  
/*                                                                      */  
/* GitLab Version: 1.0                                                  */  
/*                                                                      */  
/* Version: 5.4                                                         */  
/*                                                                      */  
/* Data Modifications:                                                  */  
/*                                                                      */  
/* Updates:                                                             */  
/* Date         Author   Ver.  Purposes                                 */  
/* 16-Aug-2022  WLChooi  1.0   DevOps Combine Script                    */
/* 29-MAR-2023  CSCHONG  1.1   WMS-21923 fix sorting issue (CS01)       */
/************************************************************************/  
  
CREATE OR ALTER PROC [dbo].[isp_PackListBySku30_rdt] (  
      @c_Pickslipno NVARCHAR(10)  
)  
AS  
BEGIN  
   SET NOCOUNT ON  
   SET QUOTED_IDENTIFIER OFF  
   SET ANSI_NULLS OFF  
   SET ANSI_DEFAULTS OFF  
  
   DECLARE @c_Orderkey     NVARCHAR(10)
         , @n_continue     INT = 1
  
   SET @c_Orderkey = @c_Pickslipno  
  
   IF EXISTS (SELECT 1 FROM PACKHEADER (NOLOCK) WHERE PickSlipNo = @c_Pickslipno)  
   BEGIN  
      SELECT @c_Orderkey = OrderKey  
      FROM PACKHEADER (NOLOCK)  
      WHERE PickSlipNo = @c_Pickslipno  
   END  
  
   SELECT TRIM(ISNULL(OH.M_Company, ''))  AS M_Company
        , TRIM(ISNULL(OH.Notes, '')) AS Notes
        , ISNULL(OH.UserDefine07, '') AS UserDefine07
        , TRIM(ISNULL(OH.UserDefine03, '')) AS UserDefine03
        , TRIM(ISNULL(OH.ExternOrderKey, '')) AS ExternOrderKey 
        , TRIM(ISNULL(OD.ExternLineNo, '')) AS ExternLineNo 
        , TRIM(ISNULL(OD.Sku, '')) AS Sku  
        , TRIM(ISNULL(S.ALTSKU, '')) AS ALTSKU 
        , TRIM(ISNULL(S.Notes2, '')) AS Notes2   
        , SUM(PD.Qty) AS PackedQty  
        , 'B1EC ' AS Facility
        ,N'江苏省昆山市花桥镇新生路718号C1库C1-1门 UPD项目组' AS RetAddr
   FROM ORDERS OH (NOLOCK)  
   JOIN ORDERDETAIL OD (NOLOCK) ON OH.OrderKey = OD.OrderKey   
   JOIN SKU S (NOLOCK) ON S.SKU = OD.SKU AND S.StorerKey = OD.StorerKey   
   JOIN PICKDETAIL PD (NOLOCK) ON PD.Orderkey = OD.Orderkey AND PD.OrderLineNumber = OD.OrderLineNumber
                              AND PD.Sku = OD.Sku  
   WHERE OH.Orderkey = @c_Orderkey  
   GROUP BY TRIM(ISNULL(OH.M_Company, ''))
          , TRIM(ISNULL(OH.Notes, ''))
          , ISNULL(OH.UserDefine07, '')
          , TRIM(ISNULL(OH.UserDefine03, ''))
          , TRIM(ISNULL(OH.ExternOrderKey, ''))
          , TRIM(ISNULL(OD.ExternLineNo, ''))
          , TRIM(ISNULL(OD.Sku, ''))
          , TRIM(ISNULL(S.ALTSKU, ''))
          , TRIM(ISNULL(S.Notes2, ''))
   ORDER BY CAST(TRIM(ISNULL(OD.ExternLineNo, '')) AS INT), TRIM(ISNULL(OD.Sku, ''))   --CS01
  
END  
GO
GRANT EXECUTE ON [dbo].[isp_PackListBySku30_rdt] TO nSQL 
GO