IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[isp_UCC_Carton_Label_21f]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
DROP PROCEDURE [dbo].[isp_UCC_Carton_Label_21f]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/************************************************************************/
/* Stored Proc: isp_UCC_Carton_Label_21f                                */
/* Creation Date: 17-JAN-2017                                           */
/* Copyright: LF Logistics                                              */
/* Written by: YTWan                                                    */
/*                                                                      */
/* Purpose:  WMS-944 - CN SPEEDO CARTON LABEL CR                        */
/*        :                                                             */
/* Called By: r_dw_ucc_carton_label_21f                                 */
/*          :                                                           */
/* PVCS Version: 1.0                                                    */
/*                                                                      */
/* Version: 7.0                                                         */
/*                                                                      */
/* Data Modifications:                                                  */
/*                                                                      */
/* Updates:                                                             */
/* Date         Author    Ver Purposes                                  */
/* 17-Jun-2019  WLCHOOI   1.1 WMS-9436 - New LabelNo Barcode (WL01)     */
/************************************************************************/
CREATE PROC isp_UCC_Carton_Label_21f
           @c_Storerkey       NVARCHAR(15)
         , @c_PickSlipNo      NVARCHAR(10)
         , @c_StartCartonNo   NVARCHAR(10)
         , @c_EndCartonNo     NVARCHAR(10)
AS
BEGIN
   SET NOCOUNT ON
   SET ANSI_NULLS OFF
   SET QUOTED_IDENTIFIER OFF
   SET CONCAT_NULL_YIELDS_NULL OFF

   DECLARE  
           @n_StartTCnt             INT
         , @n_Continue              INT
         
         , @n_PrintOrderAddresses   INT
         
   SET @n_StartTCnt = @@TRANCOUNT
   SET @n_Continue = 1

   SELECT dbo.ORDERS.Storerkey
        , dbo.ORDERS.Orderkey
        , ExternOrderkey= ISNULL(RTRIM(dbo.ORDERS.ExternOrderkey),'')
        , ConsigneeKey  = ISNULL(RTRIM(dbo.ORDERS.ConsigneeKey),'')
        , C_Company     = ISNULL(RTRIM(dbo.ORDERS.C_Company),'')
        , C_Address1    = ISNULL(RTRIM(dbo.ORDERS.C_Address1),'') 
        , C_Address2    = ISNULL(RTRIM(dbo.ORDERS.C_Address2),'')  
        , C_Address3    = ISNULL(RTRIM(dbo.ORDERS.C_Address3),'')  
        , C_Address4    = ISNULL(RTRIM(dbo.ORDERS.C_Address4),'') 
        , C_State       = ISNULL(RTRIM(dbo.ORDERS.C_State),'') 
        , C_City        = ISNULL(RTRIM(dbo.ORDERS.C_City),'') 
        , C_Contact1    = ISNULL(RTRIM(dbo.ORDERS.C_Contact1),'')
        , C_Contact2    = ISNULL(RTRIM(dbo.ORDERS.C_Contact2),'')         
        , C_Phone1      = ISNULL(RTRIM(dbo.ORDERS.C_Phone1),'') 
        , Customerpo    = ISNULL(RTRIM(dbo.ORDERS.UserDefine01),'') 
        , dbo.PACKDETAIL.PickSlipNo
        , dbo.PACKDETAIL.CartonNo
        , dbo.PACKDETAIL.LabelNo
        , DropID        = ISNULL(RTRIM(dbo.PACKDETAIL.DropID),'') 
        , Qty           = (SELECT SUM(Qty) FROM PACKDETAIL PCK WITH (NOLOCK) 
                           WHERE PCK.PickSlipNo = dbo.PACKDETAIL.PickSlipNo
                           AND   PCK.CartonNo = dbo.PACKDETAIL.CartonNo)
        , NewLabelNo    = CASE WHEN ISNULL(CL.SHORT,'N') = 'Y' AND CAST(CL.LONG AS INT) <> 0 THEN        --WL01
                          CL.UDF01 + RIGHT(REPLICATE('0',CL.LONG) + SUBSTRING(dbo.PACKDETAIL.LabelNo,CAST(CL.UDF02 AS INT),CAST(CL.UDF03 AS INT)-CAST(CL.UDF02 AS INT)+1) --WL01
                         ,CAST(CL.LONG AS INT)-LEN(CL.UDF01))
                          WHEN ISNULL(CL.SHORT,'N') = 'Y' AND CAST(CL.LONG AS INT) = 0 THEN              --WL01
                          CL.UDF01 + dbo.PACKDETAIL.LabelNo                                              --WL01
                          ELSE '' END                                                                    --WL01
     FROM dbo.PACKHEADER WITH (NOLOCK) 
     JOIN dbo.ORDERS WITH (NOLOCK)   
       ON (dbo.PACKHEADER.Orderkey = dbo.ORDERS.Orderkey) 
     JOIN dbo.PACKDETAIL WITH (NOLOCK) 
       ON (dbo.PACKHEADER.PickSlipNo = dbo.PACKDETAIL.PickSlipNo) 
     OUTER APPLY (SELECT TOP 1 CL.SHORT, CL.LONG, CL.UDF01, CL.UDF02, CL.UDF03, CL.CODE2 FROM
                  CODELKUP CL WITH (NOLOCK) WHERE (CL.LISTNAME = 'BARCODELEN' AND CL.STORERKEY = ORDERS.STORERKEY AND CL.CODE = 'SUPERHUB' AND
                 (CL.CODE2 = ORDERS.FACILITY OR CL.CODE2 = '') ) ORDER BY CASE WHEN CL.CODE2 = '' THEN 2 ELSE 1 END ) AS CL
    WHERE (dbo.PACKHEADER.PickSlipNo= @c_PickSlipNo)
      AND (dbo.PACKHEADER.Storerkey = @c_Storerkey)
      AND (dbo.PACKDETAIL.CartonNo BETWEEN @c_StartCartonNo AND @c_EndCartonNo)
 GROUP BY dbo.ORDERS.Storerkey
        , dbo.ORDERS.Orderkey
        , ISNULL(RTRIM(dbo.ORDERS.ExternOrderkey),'')
        , ISNULL(RTRIM(dbo.ORDERS.ConsigneeKey),'')
        , ISNULL(RTRIM(dbo.ORDERS.C_Company),'')
        , ISNULL(RTRIM(dbo.ORDERS.C_Address1),'') 
        , ISNULL(RTRIM(dbo.ORDERS.C_Address2),'')  
        , ISNULL(RTRIM(dbo.ORDERS.C_Address3),'')  
        , ISNULL(RTRIM(dbo.ORDERS.C_Address4),'') 
        , ISNULL(RTRIM(dbo.ORDERS.C_State),'') 
        , ISNULL(RTRIM(dbo.ORDERS.C_City),'')
        , ISNULL(RTRIM(dbo.ORDERS.C_Contact1),'')         
        , ISNULL(RTRIM(dbo.ORDERS.C_Contact2),'')    
        , ISNULL(RTRIM(dbo.ORDERS.C_Phone1),'')
        , ISNULL(RTRIM(dbo.ORDERS.UserDefine01),'')          
        , dbo.PACKDETAIL.PickSlipNo
        , dbo.PACKDETAIL.CartonNo
        , dbo.PACKDETAIL.LabelNo
        , ISNULL(RTRIM(dbo.PACKDETAIL.DropID),'') 
        , ISNULL(CL.SHORT,'N')
        , CL.LONG       --WL01
        , CL.UDF01      --WL01
        , CL.UDF02      --WL01
        , CL.UDF03      --WL01
 ORDER BY dbo.PACKDETAIL.CartonNo

QUIT_SP:
END -- procedure
GO
GRANT EXECUTE ON [dbo].[isp_UCC_Carton_Label_21f] TO nSQL 
GO
