SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/************************************************************************/
/* Stored Procedure: isp_RPT_ST_CCSHEET_014_1                           */
/* Creation Date: 20-Sep-2023                                           */
/* Copyright: MAERSK                                                    */
/* Written by: WLChooi                                                  */
/*                                                                      */
/* Purpose: WMS-23607 - [TW]NIK_Cycle Count Sheet Report_New            */
/*                                                                      */
/* Called By: RPT_ST_CCSHEET_014_1                                      */
/*                                                                      */
/* GitHub Version: 1.0                                                  */
/*                                                                      */
/* Version: 5.4                                                         */
/*                                                                      */
/* Data Modifications:                                                  */
/*                                                                      */
/* Updates:                                                             */
/* Date         Author   Ver.  Purposes                                 */
/* 20-Sep-2023  WLChooi  1.0   DevOps Combine Script                    */
/************************************************************************/

CREATE OR ALTER PROC [dbo].[isp_RPT_ST_CCSHEET_014_1]
   @c_CCKey_Start     NVARCHAR(20)
 , @c_CCKey_End       NVARCHAR(20)
 , @c_SKU_Start       NVARCHAR(20)
 , @c_SKU_End         NVARCHAR(20)
 , @c_ItemClass_Start NVARCHAR(20)
 , @c_ItemClass_End   NVARCHAR(20)
 , @c_StorerKey_Start NVARCHAR(20)
 , @c_StorerKey_End   NVARCHAR(20)
 , @c_LOC_Start       NVARCHAR(20)
 , @c_LOC_End         NVARCHAR(20)
 , @c_Zone_Start      NVARCHAR(20)
 , @c_Zone_End        NVARCHAR(20)
 , @c_CCSheetNo_Start NVARCHAR(20)
 , @c_CCSheetNo_End   NVARCHAR(20)
 , @c_WithQty         NVARCHAR(20)
 , @c_CountNo         NVARCHAR(20)
 , @c_FinalizeFlag    NVARCHAR(20)
AS
BEGIN
   SET NOCOUNT ON
   SET QUOTED_IDENTIFIER OFF
   SET ANSI_NULLS OFF
   SET ANSI_DEFAULTS OFF

   DECLARE @n_Continue INT = 1;

   WITH CTE AS
   (
      SELECT CD.CCKey
           , CD.CCSheetNo
           , CD.Loc
           , COUNT(DISTINCT CD.Sku) AS CountSKU
           , SUM(CD.SystemQty) AS Qty
      FROM CCDetail CD (NOLOCK)
      JOIN LOC L (NOLOCK) ON CD.Loc = L.Loc
      WHERE CD.CCKey BETWEEN @c_CCKey_Start AND @c_CCKey_End
      AND   CD.CCSheetNo BETWEEN @c_CCSheetNo_Start AND @c_CCSheetNo_End
      AND   L.Loc BETWEEN @c_LOC_Start AND @c_LOC_End
      AND   L.PutawayZone BETWEEN @c_Zone_Start AND @c_Zone_End
      AND   @c_FinalizeFlag = CASE @c_CountNo
                                   WHEN '1' THEN CD.FinalizeFlag
                                   WHEN '2' THEN CD.FinalizeFlag_Cnt2
                                   WHEN '3' THEN CD.FinalizeFlag_Cnt3 END
      GROUP BY CD.CCKey
             , CD.CCSheetNo
             , CD.Loc
   )
   SELECT C.CCKey
        , C.CCSheetNo
        , C.Loc
        , C.CountSKU
        , C.Qty
        , (  SELECT SUM(Qty)
             FROM CTE
             WHERE C.CCSheetNo = CTE.CCSheetNo) AS TotalQty
   FROM CTE C
   ORDER BY C.CCKey
          , C.CCSheetNo
          , C.Loc

END
GO
GRANT EXECUTE ON [dbo].[isp_RPT_ST_CCSHEET_014_1] TO [NSQL]
GO
GRANT EXECUTE ON [dbo].[isp_RPT_ST_CCSHEET_014_1] TO [LogiReportRoleWM]
GO