IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[isp_packing_list_51]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
DROP PROCEDURE [dbo].[isp_packing_list_51]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/************************************************************************/
/* Stored Proc: isp_packing_list_51                                     */
/* Creation Date: 21-MAY-2018                                           */
/* Copyright: LF Logistics                                              */
/* Written by: Wan                                                      */
/*                                                                      */
/* Purpose: WMS-5633 - [CN] Converse Ecom_Packing List                  */
/*        :                                                             */
/* Called By: r_dw_packing_list_51                                      */
/*          :                                                           */
/* PVCS Version: 1.0                                                    */
/*                                                                      */
/* Version: 7.0                                                         */
/*                                                                      */
/* Data Modifications:                                                  */
/*                                                                      */
/* Updates:                                                             */
/* Date        Author   Ver   Purposes                                  */
/* 2019-08-02  WLChooi  1.1   WMS-10034 - Add Orderkey and TrackingNo   */
/*                                        (WL01)                        */
/************************************************************************/
CREATE PROC isp_packing_list_51
           @c_PickSlipNo      NVARCHAR(10)
AS
BEGIN
   SET NOCOUNT ON
   SET ANSI_NULLS OFF
   SET QUOTED_IDENTIFIER OFF
   SET CONCAT_NULL_YIELDS_NULL OFF

   DECLARE  
           @n_StartTCnt       INT
         , @n_Continue        INT 

   SET @n_StartTCnt = @@TRANCOUNT

   SELECT  SortBy = ROW_NUMBER() OVER ( ORDER BY PH.PickSlipNo
                                                ,OH.Storerkey
                                                ,OH.Orderkey
                                                ,ISNULL(RTRIM(SKU.Manufacturersku),'')
                                     )
         , RowNo  = ROW_NUMBER() OVER ( PARTITION BY PH.PickSlipNo
                                        ORDER BY PH.PickSlipNo
                                                ,OH.Storerkey
                                                ,OH.Orderkey
                                                ,ISNULL(RTRIM(SKU.Manufacturersku),'')
                                      )
         , PrintTime      = GETDATE()
         , OH.Storerkey
         , PH.PickSlipNo
         , OH.Loadkey
         , OH.Orderkey
         , PickSlip_Title = ISNULL(RTRIM(OH.UserDefine03),'') + N'送货单'
         , ExternOrderkey = ISNULL(RTRIM(OH.ExternOrderkey),'')
         , Shipperkey= ISNULL(RTRIM(OH.Shipperkey),'') + N'速递'
         , C_Contact1= ISNULL(RTRIM(OH.C_Contact1),'') + ' '  
         , C_Phone1  = ISNULL(RTRIM(OH.C_Phone1),'') + ' '  
         , C_Address = ISNULL(RTRIM(OH.C_State),'') + ' '  
                     + ISNULL(RTRIM(OH.C_City),'') + ' '
                     + ISNULL(RTRIM(OH.C_Address1),'')  
         , Manufacturersku  = ISNULL(RTRIM(SKU.Manufacturersku),'') 
         , Style = ISNULL(RTRIM(SKU.Style),'')
         , ColorSize = ISNULL(RTRIM(SKU.Color),'') + ' ' + ISNULL(RTRIM(SKU.Size),'')
         , SkuDesr = ISNULL(RTRIM(SKU.Descr),'')
         , Qty = ISNULL(SUM(PD.Qty),0)
         , Loc = PD.Loc
         , TrackingNo = OH.UserDefine04    --WL01
   FROM PACKHEADER PH WITH (NOLOCK)
   JOIN ORDERS     OH WITH (NOLOCK) ON (PH.Orderkey = OH.Orderkey)
   JOIN PICKDETAIL PD WITH (NOLOCK) ON (OH.Orderkey = PD.Orderkey)
   JOIN SKU       SKU WITH (NOLOCK) ON (PD.Storerkey= SKU.Storerkey)
                                    AND(PD.Sku = SKU.Sku)
   WHERE PH.PickSlipNo = @c_PickSlipNo
   GROUP BY PH.PickSlipNo
         ,  OH.Storerkey
         ,  OH.Loadkey
         ,  OH.Orderkey
         ,  ISNULL(RTRIM(OH.UserDefine03),'')  
         ,  ISNULL(RTRIM(OH.ExternOrderkey),'')
         ,  ISNULL(RTRIM(OH.Shipperkey),'') 
         ,  ISNULL(RTRIM(OH.C_Contact1),'') + ' '  
         ,  ISNULL(RTRIM(OH.C_Phone1),'')   
         ,  ISNULL(RTRIM(OH.C_State),'')  
         ,  ISNULL(RTRIM(OH.C_City),'') 
         ,  ISNULL(RTRIM(OH.C_Address1),'')   
         ,  ISNULL(RTRIM(SKU.Style),'')
         ,  ISNULL(RTRIM(SKU.Color),'')
         ,  ISNULL(RTRIM(SKU.Size),'')
         ,  ISNULL(RTRIM(SKU.Manufacturersku),'')
         ,  ISNULL(RTRIM(SKU.Descr),'')
         ,  PD.Loc
         ,  OH.UserDefine04      --WL01


END -- procedure
GO
GRANT EXECUTE ON [dbo].[isp_packing_list_51] TO nSQL 
GO