SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/************************************************************************/
/* Stored Procedure: isp_RPT_ST_CCSHEET_014                             */
/* Creation Date: 20-Sep-2023                                           */
/* Copyright: MAERSK                                                    */
/* Written by: WLChooi                                                  */
/*                                                                      */
/* Purpose: WMS-23607 - [TW]NIK_Cycle Count Sheet Report_New            */
/*                                                                      */
/* Called By: RPT_ST_CCSHEET_014                                        */
/*                                                                      */
/* GitHub Version: 1.0                                                  */
/*                                                                      */
/* Version: 5.4                                                         */
/*                                                                      */
/* Data Modifications:                                                  */
/*                                                                      */
/* Updates:                                                             */
/* Date         Author   Ver.  Purposes                                 */
/* 20-Sep-2023  WLChooi  1.0   DevOps Combine Script                    */
/************************************************************************/

CREATE OR ALTER PROC [dbo].[isp_RPT_ST_CCSHEET_014]
   @c_CCKey_Start     NVARCHAR(20)
 , @c_CCKey_End       NVARCHAR(20)
 , @c_SKU_Start       NVARCHAR(20)
 , @c_SKU_End         NVARCHAR(20)
 , @c_ItemClass_Start NVARCHAR(20)
 , @c_ItemClass_End   NVARCHAR(20)
 , @c_StorerKey_Start NVARCHAR(20)
 , @c_StorerKey_End   NVARCHAR(20)
 , @c_LOC_Start       NVARCHAR(20)
 , @c_LOC_End         NVARCHAR(20)
 , @c_Zone_Start      NVARCHAR(20)
 , @c_Zone_End        NVARCHAR(20)
 , @c_CCSheetNo_Start NVARCHAR(20)
 , @c_CCSheetNo_End   NVARCHAR(20)
 , @c_WithQty         NVARCHAR(20)
 , @c_CountNo         NVARCHAR(20)
 , @c_FinalizeFlag    NVARCHAR(20)
AS
BEGIN
   SET NOCOUNT ON
   SET QUOTED_IDENTIFIER OFF
   SET ANSI_NULLS OFF
   SET ANSI_DEFAULTS OFF

   DECLARE @n_Continue INT           = 1
         , @c_SKUGroup NVARCHAR(500) = N''

   SELECT @c_SKUGroup = STUFF(
                        (  SELECT DISTINCT ',' + TRIM(ISNULL(S.SKUGROUP, ''))
                           FROM dbo.CCDetail CD (NOLOCK)
                           JOIN SKU S (NOLOCK) ON CD.Storerkey = S.StorerKey AND CD.Sku = S.Sku
                           JOIN LOC L (NOLOCK) ON CD.Loc = L.Loc
                           WHERE CD.CCKey BETWEEN @c_CCKey_Start AND @c_CCKey_End
                           AND   CD.CCSheetNo BETWEEN @c_CCSheetNo_Start AND @c_CCSheetNo_End
                           AND   L.Loc BETWEEN @c_LOC_Start AND @c_LOC_End
                           AND   L.PutawayZone BETWEEN @c_Zone_Start AND @c_Zone_End
                           AND   @c_FinalizeFlag = CASE @c_CountNo
                                                        WHEN '1' THEN CD.FinalizeFlag
                                                        WHEN '2' THEN CD.FinalizeFlag_Cnt2
                                                        WHEN '3' THEN CD.FinalizeFlag_Cnt3 END
                           ORDER BY 1
                           FOR XML PATH(''))
                      , 1
                      , 1
                      , '')

   SELECT DISTINCT CD.CCKey
                 , CONVERT(NVARCHAR(10), GETDATE(), 111) AS TodayDate
                 , @c_SKUGroup AS SKUGroup
                 , CD.CCSheetNo
                 , (  SELECT TOP 1 CASE WHEN LEN(TRIM(ISNULL(LOC.LocAisle, ''))) > 4 THEN
                                           SUBSTRING(TRIM(ISNULL(LOC.LocAisle, '')), 3, 2)
                                           + IIF(SUBSTRING(TRIM(ISNULL(LOC.LocAisle, '')), 5, 1) = 0, N'雙', N'單')
                                           + CAST(ISNULL(LOC.LocLevel, 0) AS NVARCHAR) + 'F'
                                        ELSE '' END
                      FROM dbo.CCDetail (NOLOCK)
                      JOIN LOC (NOLOCK) ON CCDetail.Loc = LOC.Loc
                      WHERE CD.CCSheetNo = CCDetail.CCSheetNo AND CD.CCKey = CCDetail.CCKey) AS [Range]
   FROM CCDetail CD (NOLOCK)
   JOIN LOC L (NOLOCK) ON CD.Loc = L.Loc
   WHERE CD.CCKey BETWEEN @c_CCKey_Start AND @c_CCKey_End
   AND   CD.CCSheetNo BETWEEN @c_CCSheetNo_Start AND @c_CCSheetNo_End
   AND   L.Loc BETWEEN @c_LOC_Start AND @c_LOC_End
   AND   L.PutawayZone BETWEEN @c_Zone_Start AND @c_Zone_End
   AND   @c_FinalizeFlag = CASE @c_CountNo
                                WHEN '1' THEN CD.FinalizeFlag
                                WHEN '2' THEN CD.FinalizeFlag_Cnt2
                                WHEN '3' THEN CD.FinalizeFlag_Cnt3 END
   ORDER BY CD.CCSheetNo

END
GO
GRANT EXECUTE ON [dbo].[isp_RPT_ST_CCSHEET_014] TO [NSQL]
GO
GRANT EXECUTE ON [dbo].[isp_RPT_ST_CCSHEET_014] TO [LogiReportRoleWM]
GO