IF EXISTS (select * from dbo.sysobjects where id = object_id(N'[dbo].[isp_Packing_List_87_RDT]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
   DROP PROCEDURE [dbo].[isp_Packing_List_87_RDT]
GO

SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS OFF
GO
 
/************************************************************************/  
/* Stored Procedure: isp_Packing_List_87_RDT                            */  
/* Creation Date: 01-Oct-2020                                           */  
/* Copyright: LFL                                                       */  
/* Written by: WLChooi                                                  */  
/*                                                                      */  
/* Purpose: WMS-15375 - [CN] ZCJ PackingList                            */  
/*                                                                      */  
/* Called By: report dw = r_dw_packing_list_87_RDT                      */  
/*                                                                      */  
/* GitLab Version: 1.0                                                  */  
/*                                                                      */  
/* Version: 5.4                                                         */  
/*                                                                      */  
/* Data Modifications:                                                  */  
/*                                                                      */  
/* Updates:                                                             */  
/* Date         Author    Ver.  Purposes                                */  
/************************************************************************/  
CREATE PROC [dbo].[isp_Packing_List_87_RDT] (  
   @c_Pickslipno NVARCHAR(10)  
)  
AS  
BEGIN  
   SET NOCOUNT ON  
   SET QUOTED_IDENTIFIER OFF  
   SET ANSI_NULLS OFF  
   SET ANSI_DEFAULTS OFF  
  
   DECLARE @c_Orderkey      NVARCHAR(10)
         , @n_MaxLineno     INT = 25
         , @n_CurrentRec    INT    
         , @n_MaxRec        INT    
         , @n_cartonno      INT    
   
   SET @c_Orderkey = @c_Pickslipno
   
   IF EXISTS (SELECT 1 FROM PACKHEADER (NOLOCK) WHERE PickSlipNo = @c_Pickslipno)
   BEGIN
      SELECT @c_Orderkey = OrderKey
      FROM PACKHEADER (NOLOCK)
      WHERE PickSlipNo = @c_Pickslipno
   END
   
   --CREATE TABLE #TMP_PL84 (
   --	RowID         INT NOT NULL IDENTITY(1,1) PRIMARY KEY
   -- , C_contact1    NVARCHAR(45)
   -- , C_Phone1      NVARCHAR(45)
   -- , C_Addresses   NVARCHAR(250)
   -- , Orderkey      NVARCHAR(10)
   -- , OrderDate     DATETIME
   -- , Sku           NVARCHAR(20)  NULL
   -- , Descr         NVARCHAR(250) NULL
   -- , OriginalQty   INT           NULL
   -- , Logo          NVARCHAR(100)
   -- , t1            NVARCHAR(250)
   -- , t2            NVARCHAR(250)
   -- , t3            NVARCHAR(250)
   -- , t4            NVARCHAR(250)
   -- , t5            NVARCHAR(250)
   -- , t6            NVARCHAR(250)
   -- , t7            NVARCHAR(250)
   -- , t8            NVARCHAR(250)
   -- , t9            NVARCHAR(250)
   --)
   
   SELECT ISNULL(OH.C_Contact1,'') AS C_Contact1
        , ISNULL(OH.C_Address1,'') AS C_Address1
        , ISNULL(OH.C_Address2,'') AS C_Address2
        , ISNULL(OH.C_Address3,'') AS C_Address3
        , ISNULL(OH.C_Address4,'') AS C_Address4
        , ISNULL(CL.Long,'') AS CLLong
        , ISNULL(CL.UDF01,'') AS CLUDF01
        , ISNULL(CL.UDF02,'') AS CLUDF02
        , ISNULL(CL.UDF03,'') AS CLUDF03
        , ISNULL(CL.UDF04,'') AS CLUDF04
        , PH.EditDate
        , OH.Externorderkey
        , OH.UserDefine04
        , OD.Sku
        , S.Descr
        , SUM(PD.Qty) AS PackedQty
        , OD.OriginalQty
        , SUM(S.StdGrossWgt * PD.qty) AS TotalWgt
        , SUM(S.StdCube * PD.qty) AS TotalCube
        , 'ZCJ_Logo.png' AS Logo
        , OH.OrderKey AS Orderkey
   FROM PACKHEADER PH (NOLOCK)
   JOIN PACKDETAIL PD (NOLOCK) ON PD.PickSlipNo = PH.Pickslipno
   JOIN ORDERS OH (NOLOCK) On PH.Orderkey = OH.OrderKey
   JOIN ORDERDETAIL OD (NOLOCK) ON OH.OrderKey = OD.OrderKey AND PD.SKU = OD.SKU
   JOIN SKU S (NOLOCK) ON S.SKU = OD.SKU AND S.StorerKey = OH.StorerKey
   LEFT JOIN CODELKUP CL (NOLOCK) ON CL.Listname = 'ZCJPACK' 
                                 AND CL.Storerkey = OH.StorerKey AND CL.Code = 'B4'
   WHERE OH.Orderkey = @c_Orderkey
   GROUP BY ISNULL(OH.C_Contact1,'')
          , ISNULL(OH.C_Address1,'')
          , ISNULL(OH.C_Address2,'')
          , ISNULL(OH.C_Address3,'')
          , ISNULL(OH.C_Address4,'')
          , ISNULL(CL.Long,'') 
          , ISNULL(CL.UDF01,'')
          , ISNULL(CL.UDF02,'')
          , ISNULL(CL.UDF03,'')
          , ISNULL(CL.UDF04,'')
          , PH.EditDate
          , OH.Externorderkey
          , OH.UserDefine04
          , OD.Sku
          , S.Descr
          , OD.OriginalQty   
          , OH.OrderKey        
   
END
GO
GRANT EXECUTE ON isp_Packing_List_87_RDT TO NSQL
GO