IF EXISTS (SELECT name FROM sysobjects WHERE name = 'isp_Vics_CBOL_Detail_Info_DMART' AND type = 'P')
   DROP PROC isp_Vics_CBOL_Detail_Info_DMART
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO
  
/************************************************************************/  
/* Store Procedure: isp_Vics_CBOL_Detail_Info_DMART                     */  
/* Creation Date: 14-Jun-2012                                           */  
/* Copyright: IDS                                                       */  
/* Written by: IDS                                                      */  
/*                                                                      */  
/* Purpose:  VICS BOL                                                   */  
/*                                                                      */  
/* Input Parameters: @ai_cbolkey - (MBOL#) (SOS#246112)                 */  
/*                                                                      */  
/* Output Parameters: Report                                            */  
/*                                                                      */  
/* Return Status: NONE                                                  */  
/*                                                                      */  
/* Usage:                                                               */  
/*                                                                      */  
/* Local Variables:                                                     */  
/*                                                                      */  
/* Called By: r_dw_vics_cbol_detail_info                                */  
/*            r_dw_vics_cbol_supp_detail                                */  
/*                                                                      */  
/* PVCS Version: 1.1                                                    */  
/*                                                                      */  
/* Version: 0                                                           */  
/*                                                                      */  
/* Data Modifications:                                                  */  
/*                                                                      */  
/* Updates:                                                             */  
/* Date         Author    Ver.  Purposes                                */     
/************************************************************************/  
  
CREATE PROC [dbo].[isp_Vics_CBOL_Detail_Info_DMART]   
(  
@ai_cbolkey BIGINT  
)  
AS  
BEGIN  
   SET NOCOUNT ON   
   SET ANSI_DEFAULTS OFF    
   SET QUOTED_IDENTIFIER OFF   
   SET CONCAT_NULL_YIELDS_NULL OFF    
     
   IF EXISTS(SELECT 1 FROM DATAMART.ODS.ORDERS O (NOLOCK)   
             JOIN DATAMART.ODS.ORDERDETAIL OD (NOLOCK) ON O.Orderkey = OD.Orderkey  
             JOIN DATAMART.ODS.MBOL MB (NOLOCK) ON O.Mbolkey = MB.Mbolkey  
             WHERE ISNULL(OD.Consoorderkey,'') <> ''  
             AND MB.Cbolkey = @ai_cbolkey   
             AND ISNULL(MB.Cbolkey,0) <> 0)  
   BEGIN  
      SELECT DISTINCT ORDERDETAIL.ExternConsoOrderKey, CBOL.CBOLReference  
      INTO #CONSOORD  
      FROM DATAMART.ODS.MBOL MBOL WITH (NOLOCK)  
      JOIN DATAMART.ODS.MBOLDETAIL MBOLDETAIL WITH (NOLOCK) ON ( MBOL.Mbolkey = MBOLDETAIL.Mbolkey )         
      JOIN DATAMART.ODS.ORDERS ORDERS WITH (NOLOCK) ON ( MBOLDETAIL.OrderKey = ORDERS.OrderKey )   
      JOIN DATAMART.ODS.ORDERDETAIL ORDERDETAIL WITH (NOLOCK) ON (ORDERS.Orderkey = ORDERDETAIL.Orderkey)  
      JOIN CBOL WITH (NOLOCK) ON (MBOL.Cbolkey = CBOL.Cbolkey)  
      WHERE MBOL.CBOLKEY = @ai_cbolkey   
      AND ISNULL(MBOL.Cbolkey,0) <> 0  
        
      SELECT EXTERNCONSOORDERKEY, TTLCTN, TTLWeight    
      INTO #SUMM  
      FROM [dbo].[fnc_GetVicsCBOL_CartonInfo_DMART](@ai_cbolkey)  
        
      SELECT ORD.ExternConsoOrderKey,  
            '' AS userDefine03,  
            SM.TTLCTN AS PKG,            
            SM.TTLWeight AS WEIGHT,          
            'Y / N  ' AS PALLETS,  
            ORD.CBOLReference   
      FROM #CONSOORD AS ORD  
      JOIN #SUMM AS SM ON SM.ExternConsoOrderkey = ORD.ExternConsoOrderkey  
   END  
   ELSE  
   BEGIN  
      SELECT ORDERS.ExternOrderKey,  
             ORDERS.userDefine03,  
             PKG = SUM(CONVERT(INT, MBOLDETAIL.TotalCartons)),            
   WEIGHT = SUM(MBOLDETAIL.Weight),          
             'Y / N  ' PALLETS,  
             CBOL.CBOLReference   
       FROM DATAMART.ODS.MBOL MBOL WITH (NOLOCK)  
       JOIN DATAMART.ODS.MBOLDETAIL MBOLDETAIL WITH (NOLOCK) ON ( MBOL.Mbolkey = MBOLDETAIL.Mbolkey )  
       JOIN DATAMART.ODS.ORDERS ORDERS WITH (NOLOCK) ON ( MBOLDETAIL.OrderKey = ORDERS.OrderKey )   
       JOIN CBOL WITH (NOLOCK) ON (MBOL.Cbolkey = CBOL.Cbolkey)  
       WHERE ( MBOL.cbolKey = @ai_cbolkey   )   
       AND ( ISNULL(MBOL.Cbolkey,0) <> 0 )  
       GROUP BY ORDERS.ExternOrderKey,   
                ORDERS.userDefine03,  
                CBOL.CBOLReference     
   END              
END /* main procedure */  

GO
GRANT EXECUTE ON  isp_Vics_CBOL_Detail_Info_DMART TO NSQL 
GO   

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO