IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[isp_BT_Bartender_SerialNo_Label_LOGI]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
DROP PROCEDURE [dbo].[isp_BT_Bartender_SerialNo_Label_LOGI]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO  

/*******************************************************************************/                       
/* Copyright: IDS                                                              */                       
/* Purpose: BarTender Filter by ShipperKey                                     */                       
/*                                                                             */                       
/* Modifications log:                                                          */                       
/*                                                                             */                       
/* Date       Rev  Author     Purposes                                         */                       
/* 2017-06-06 1.0  CSCHONG    Created(WMS-1550 )                               */
/* 2017-06-13 1.1  CSCHONG    Add in additional 10 child serialno (CS01)       */   
/* 2018-10-22 1.2  CSCHONG    Performance tunning (CS02)                       */   
/* 2019-02-15 1.3  Grick      INC0582634 - Prevent Duplicate   (G01)           */ 
/* 2019-03-08 1.4  CHEEMUN    INC0614627 - Retrieve c_Sparm4 Storerkey Data    */  
/* 2019-11-08 1.5  mingle01   WMS-11074 - Change orders.consigneekey to        */
/*                                        orders.userdefine10                  */
/*******************************************************************************/                      
                        
CREATE PROC [dbo].[isp_BT_Bartender_SerialNo_Label_LOGI]                             
(  @c_Sparm1            NVARCHAR(250),                    
   @c_Sparm2            NVARCHAR(250),                    
   @c_Sparm3            NVARCHAR(250),                    
   @c_Sparm4            NVARCHAR(250),                    
   @c_Sparm5            NVARCHAR(250),                    
   @c_Sparm6            NVARCHAR(250),                    
   @c_Sparm7            NVARCHAR(250),                    
   @c_Sparm8            NVARCHAR(250),                    
   @c_Sparm9            NVARCHAR(250),                    
   @c_Sparm10           NVARCHAR(250),              
   @b_debug             INT = 0                               
)                            
AS                            
BEGIN                            
   SET NOCOUNT ON                       
   SET ANSI_NULLS OFF                      
   SET QUOTED_IDENTIFIER OFF                       
   SET CONCAT_NULL_YIELDS_NULL OFF                                           
                                    
   DECLARE          
             
      @c_Pickslipno      NVARCHAR(10),                          
      @c_ExternOrdKey    NVARCHAR(30),  
      @c_ExternPOKey     NVARCHAR(20),                   
      @c_GetOrderKey     NVARCHAR(10),                          
      @c_GetExternOrdKey NVARCHAR(30),  
      @c_GetExternPOKey  NVARCHAR(20),       
      @c_ORDType         NVARCHAR(10),
      @c_GetORDType      NVARCHAR(10),
      @c_Labelno         NVARCHAR(20),
      @c_GetLabelNo      NVARCHAR(20),
      @c_Col10           NVARCHAR(30),
      @c_Col11           NVARCHAR(30)

 Declare        
          
      @n_intFlag         INT,           
      @n_CntRec          INT,        
      @c_colNo           NVARCHAR(5),        
      @n_cntsku          INT,        
      @c_skuMeasurement  NVARCHAR(5),                   
      @C_BuyerPO         NVARCHAR(20),
      @c_Getbuyerpo      NVARCHAR(20),                      
      @C_notes2          NVARCHAR(4000),                    
      @c_OrderLineNo     NVARCHAR(5),                    
      @c_SKU             NVARCHAR(20),                    
      @n_Qty             INT,                    
      @c_PackKey         NVARCHAR(10),                    
      @c_UOM             NVARCHAR(10),                    
      @C_PHeaderKey      NVARCHAR(18),                    
      @C_SODestination   NVARCHAR(30),                  
      @n_RowNo           INT,                  
      @n_SumPickDETQTY   INT, 
      @n_SumPackDETQTY   INT,                 
      @n_SumUnitPrice    INT,                
      @c_SQL             NVARCHAR(4000),              
      @c_SQLSORT         NVARCHAR(4000),              
      @c_SQLJOIN         NVARCHAR(4000),            
      @c_Udef04          NVARCHAR(80),              
      @n_TTLPickQTY      INT,          
      @c_ShipperKey      NVARCHAR(15),        
      @n_MaxLine         INT,        
      @n_TTLpage         INT,        
      @n_CurrentPage     INT,        
      @c_dropid          NVARCHAR(20),        
      @n_ID              INT,        
      @n_TTLLine         INT,        
      @n_TTLQty          INT,      
      @c_OrdUdef03       NCHAR(2),      
      @c_itemclass       NCHAR(4),      
      @c_skuGrp          NCHAR(5),      
      @c_SkuStyle        NCHAR(5),         
      @n_cntOrdUDef04    INT,              
      @c_getOrdUdef04    NVARCHAR(80),
      @n_CartonStart     INT,                --(CS02)
      @n_CartonEnd       INT,                --(CS02)  
      @n_MSNStorerkey    NVARCHAR(30)        --(G01)

 DECLARE   
      @c_colSN01           NVARCHAR(60),     
      @c_colSN02           NVARCHAR(60),               
      @c_colSN03           NVARCHAR(60),       
      @c_colSN04           NVARCHAR(60),      
      @c_colSN05           NVARCHAR(60),  
      @c_colSN06           NVARCHAR(60),   
      @c_colSN07           NVARCHAR(60),       
      @c_colSN08           NVARCHAR(60),  
      @c_colSN09           NVARCHAR(60),   
      @c_colSN10           NVARCHAR(60),
      @c_ColSN             NVARCHAR(60),
      /*CS01 start*/
      @c_colSN11           NVARCHAR(60),     
      @c_colSN12           NVARCHAR(60),               
      @c_colSN13           NVARCHAR(60),       
      @c_colSN14           NVARCHAR(60),      
      @c_colSN15           NVARCHAR(60),  
      @c_colSN16           NVARCHAR(60),   
      @c_colSN17           NVARCHAR(60),       
      @c_colSN18           NVARCHAR(60),  
      @c_colSN19           NVARCHAR(60),   
      @c_colSN20           NVARCHAR(60)
      /*CS01 End*/
           
        
  DECLARE @d_Trace_StartTime   DATETIME,         
           @d_Trace_EndTime    DATETIME,        
           @c_Trace_ModuleName NVARCHAR(20),         
           @d_Trace_Step1      DATETIME,         
           @c_Trace_Step1      NVARCHAR(20),        
           @c_UserName         NVARCHAR(20)   
           
    DECLARE @c_PSerialNo    NVARCHAR(20),
           @c_PSKU         NVARCHAR(20),
           @c_CSerialNo    NVARCHAR(20),
           @n_recgrp       INT , 
           @n_PreRecGrp    INT,
           @n_StartCnt     INT,
           @c_PreSerialNo  NVARCHAR(20),
           @c_CSerialNo1   NVARCHAR(20),
           @c_CSerialNo2   NVARCHAR(20),
           @c_getserialno  NVARCHAR(20) ,
           @c_getmserialno NVARCHAR(20),
           @n_ctnRec       INT,
           @c_getPickslipno NVARCHAR(20),
           @c_getSN        NVARCHAR(20),
           @n_cartonno     INT
                
        
   SET @d_Trace_StartTime = GETDATE()        
   SET @c_Trace_ModuleName = ''        
              
    -- SET RowNo = 0                   
    SET @c_SQL = ''              
    SET @n_SumPickDETQTY = 0   
    SET @n_SumPackDETQTY = 0                
    SET @n_SumUnitPrice = 0  
    SET @c_col10        = ''
    SET @c_Col11        = ''        
    
   SET @n_PreRecGrp = 0
	SET @n_StartCnt  = 1
	SET @c_CSerialNo1 = ''
	SET @c_CSerialNo2 = ''
	SET @c_PreSerialNo = ''
	SET @n_ctnRec = 0     
	
	/*CS02 Start*/
	
	SET @n_CartonStart  = CONVERT(INT,@c_Sparm2) 
	SET @n_CartonEnd    = CONVERT(INT,@c_Sparm3) 
	SET @n_MSNStorerkey = @c_Sparm4								--(G01)

	/*CS02 End*/       
                    
--    IF OBJECT_ID('tempdb..#Result','u') IS NOT NULL      
--      DROP TABLE #Result;      
        
    CREATE TABLE [#Result] (                   
      [ID]    [INT] IDENTITY(1,1) NOT NULL,                                  
      [Col01] [NVARCHAR] (80) NULL,                    
      [Col02] [NVARCHAR] (80) NULL,                    
      [Col03] [NVARCHAR] (80) NULL,                    
      [Col04] [NVARCHAR] (80) NULL,                    
      [Col05] [NVARCHAR] (80) NULL,                    
      [Col06] [NVARCHAR] (80) NULL,                    
      [Col07] [NVARCHAR] (80) NULL,                    
      [Col08] [NVARCHAR] (80) NULL,                    
      [Col09] [NVARCHAR] (80) NULL,                    
      [Col10] [NVARCHAR] (80) NULL,                    
      [Col11] [NVARCHAR] (80) NULL,                    
      [Col12] [NVARCHAR] (80) NULL,                    
      [Col13] [NVARCHAR] (80) NULL,                    
      [Col14] [NVARCHAR] (80) NULL,                    
      [Col15] [NVARCHAR] (80) NULL,                    
      [Col16] [NVARCHAR] (80) NULL,                    
      [Col17] [NVARCHAR] (80) NULL,                    
      [Col18] [NVARCHAR] (80) NULL,                    
      [Col19] [NVARCHAR] (80) NULL,                    
      [Col20] [NVARCHAR] (80) NULL,                    
      [Col21] [NVARCHAR] (80) NULL,                    
      [Col22] [NVARCHAR] (80) NULL,                    
      [Col23] [NVARCHAR] (80) NULL,                    
      [Col24] [NVARCHAR] (80) NULL,                    
      [Col25] [NVARCHAR] (80) NULL,                    
      [Col26] [NVARCHAR] (80) NULL,                    
      [Col27] [NVARCHAR] (80) NULL,                    
      [Col28] [NVARCHAR] (80) NULL,                    
      [Col29] [NVARCHAR] (80) NULL,                    
      [Col30] [NVARCHAR] (80) NULL,                    
      [Col31] [NVARCHAR] (80) NULL,                    
      [Col32] [NVARCHAR] (80) NULL,                    
      [Col33] [NVARCHAR] (80) NULL,                    
      [Col34] [NVARCHAR] (80) NULL,                    
      [Col35] [NVARCHAR] (80) NULL,                    
      [Col36] [NVARCHAR] (80) NULL,                    
      [Col37] [NVARCHAR] (80) NULL,                    
      [Col38] [NVARCHAR] (80) NULL,                    
      [Col39] [NVARCHAR] (80) NULL,                    
      [Col40] [NVARCHAR] (80) NULL,                    
      [Col41] [NVARCHAR] (80) NULL,                    
      [Col42] [NVARCHAR] (80) NULL,                    
      [Col43] [NVARCHAR] (80) NULL,                    
      [Col44] [NVARCHAR] (80) NULL,                    
      [Col45] [NVARCHAR] (80) NULL,                    
      [Col46] [NVARCHAR] (80) NULL,                    
      [Col47] [NVARCHAR] (80) NULL,                    
      [Col48] [NVARCHAR] (80) NULL,                    
      [Col49] [NVARCHAR] (80) NULL,                    
      [Col50] [NVARCHAR] (80) NULL,                   
      [Col51] [NVARCHAR] (80) NULL,                    
      [Col52] [NVARCHAR] (80) NULL,                    
      [Col53] [NVARCHAR] (80) NULL,                    
      [Col54] [NVARCHAR] (80) NULL,                    
      [Col55] [NVARCHAR] (80) NULL,                    
      [Col56] [NVARCHAR] (80) NULL,                    
      [Col57] [NVARCHAR] (80) NULL,                    
      [Col58] [NVARCHAR] (80) NULL,                    
      [Col59] [NVARCHAR] (80) NULL,                    
      [Col60] [NVARCHAR] (80) NULL                   
     )   
     
     
     	CREATE TABLE #TEMPMasterSN (
     		         [ID]          [INT] IDENTITY(1,1) NOT NULL,    
					Pickslipno       NVARCHAR(20),
					SerialNo         NVARCHAR(20),
					MSerialNo        NVARCHAR(20),
					Cartonno         INT,
					RecGrp           INT,
					Retrieve         NVARCHAR(2) DEFAULT('N')
		)

		CREATE TABLE #TEMPSerialNo (
			         [ID]          [INT] IDENTITY(1,1) NOT NULL,   
					Pickslipno       NVARCHAR(20),
					SerialNo         NVARCHAR(20),
					MSerialNo        NVARCHAR(20),
					Cartonno         INT,
					Retrieve         NVARCHAR(2) DEFAULT('N')
		)

		CREATE TABLE #TEMPSNExtration (
						SerialNo         NVARCHAR(20),
						MSerialNo        NVARCHAR(20),
					  )

			CREATE TABLE #TEMPPSerialNo
		 ( ParentSerialNo NVARCHAR(50),
		  PSKU           NVARCHAR(20),
		  ChildSerialNo1 NVARCHAR(50),
		  ChildSerialNo2 NVARCHAR(50)
  
			)                                
      
--      IF OBJECT_ID('tempdb..#PICK','u') IS NOT NULL      
--      DROP TABLE #PICK;      

      IF @b_debug=1              
      BEGIN                
        PRINT 'start'                
      END        
        
    DECLARE CUR_StartRecLoop CURSOR LOCAL FAST_FORWARD READ_ONLY FOR          
        
    SELECT DISTINCT PDET.Pickslipno as PSlipno,PDET.sku as sku,SN.SerialNo
    FROM ORDERS ORD WITH (NOLOCK)                
    JOIN PACKHEADER PH WITH (NOLOCK) ON PH.Orderkey = ORD.Orderkey      
    JOIN PACKDETAIL PDET WITH (NOLOCK) ON PDET.Pickslipno = PH.Pickslipno   
    JOIN SERIALNO SN WITH (NOLOCK) ON SN.PickSlipNo = PDET.PickSlipNo AND SN.CartonNo = PDET.CartonNo 
    JOIN CODELKUP C WITH (NOLOCK) ON c.listname='LOGAUSLBL' AND C.Code=ORD.UserDefine10   --mingle01
    WHERE PDET.Pickslipno = @c_Sparm1                                      
    AND PDET.Cartonno >= @n_CartonStart--CONVERT(INT,@c_Sparm2)        --(CS02)                    
    AND PDET.Cartonno <= @n_CartonEnd--CONVERT(INT,@c_Sparm3)          --(CS02)
    GROUP BY PDET.Pickslipno ,PDET.sku  ,SN.SerialNo    
   
        
   OPEN CUR_StartRecLoop                  
             
   FETCH NEXT FROM CUR_StartRecLoop INTO @c_Pickslipno,@c_sku,@c_getSN         
               
   WHILE @@FETCH_STATUS <> -1                  
   BEGIN         
        
      IF @b_debug=1              
      BEGIN                
        PRINT 'Cur start'                
      END        
        
   INSERT INTO #Result (Col01,Col02,Col03,Col04,Col05, Col06,Col07,Col08,Col09                 
                            ,Col10,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22               
                            ,Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col31,Col32,Col33,Col34                
                            ,Col35,Col36,Col37,Col38,Col39,Col40,Col41,Col42,Col43,Col44                 
                            ,Col45,Col46,Col47,Col48,Col49,Col50,Col51,Col52,Col53,Col54               
                            ,Col55,Col56,Col57,Col58,Col59,Col60)           
     VALUES(@c_getSN,@c_sku,'','','','',         
            '','','','','','','','','','','','','','',        
            '','','','','','','','','','','','','','','','','','','','','','','','','','','','','',''        
            ,'','','','','','','','',@c_Pickslipno,'O')        
        
        
   IF @b_debug=1              
   BEGIN              
     SELECT * FROM #Result (nolock)              
   END         
        
   SET @n_MaxLine = 20    
   SET @n_TTLpage = 1         
   SET @n_CurrentPage = 1        
   SET @n_intFlag = 1        
   SET @n_TTLLIne = 0        
   SET @n_TTLQty = 0        
          
   DECLARE CUR_RowNoLoop CURSOR LOCAL FAST_FORWARD READ_ONLY FOR                    
                   
   SELECT DISTINCT col59   
   FROM #Result               
   WHERE Col60 = 'O'         
          
   OPEN CUR_RowNoLoop                  
             
   FETCH NEXT FROM CUR_RowNoLoop INTO @c_Pickslipno 
               
   WHILE @@FETCH_STATUS <> -1             
   BEGIN                 
      
      
        INSERT INTO #TEMPMasterSN

	(
		SerialNo,
		MSerialNo,
		Pickslipno,
		cartonno,
		RecGrp
	)
	
		SELECT SN.SerialNo,MSN.SerialNo,PD.PickSlipNo,PD.CartonNo,
		(Row_Number() OVER (PARTITION BY SN.SerialNo ORDER BY MSN.SerialNo Asc)-1)/2 AS RECGRP
	   FROM PACKDETAIL PD WITH (NOLOCK)
	   JOIN SERIALNO SN WITH (NOLOCK) ON SN.PickSlipNo = PD.PickSlipNo AND SN.CartonNo = PD.CartonNo
	   JOIN MasterSerialNo MSN WITH (NOLOCK) ON MSN.ParentSerialNo = SN.SerialNo AND MSN.Storerkey = @n_MSNStorerkey			--(G01)
	   JOIN PACKHEADER PH WITH (NOLOCK) ON PH.PickSlipNo=PD.PickSlipNo AND PH.Storerkey = MSN.Storerkey
	   JOIN ORDERS ORD WITH (NOLOCK) ON ord.OrderKey=PH.OrderKey
      JOIN CODELKUP C WITH (NOLOCK) ON c.listname='LOGAUSLBL' AND C.Code=ORD.UserDefine10 AND C.Storerkey = @n_MSNStorerkey			--(G01) --mingle01
   --WHERE ORD.Storerkey = @c_Storerkey
     WHERE PD.PickSlipNo = @c_Sparm1 
     AND	PD.CartonNo BETWEEN @n_CartonStart AND @n_CartonEnd --CAST(@c_Sparm2 AS INT) AND CAST(@c_Sparm3 AS INT)   --(CS02)
     AND SN.ExternStatus='9'                                                                                             --(G01)
   ORDER BY SN.SerialNo --MSN.SerialNo


   DECLARE CUR_SRESULT CURSOR LOCAL FAST_FORWARD READ_ONLY FOR   
   SELECT DISTINCT SerialNo,Mserialno,Pickslipno,Cartonno   
   FROM   #TEMPMasterSN   
   WHERE Pickslipno = @c_pickslipno
  
   OPEN CUR_SRESULT   
     
   FETCH NEXT FROM CUR_SRESULT INTO @c_getserialno,@c_getmserialno,@c_getPickslipno ,@n_cartonno   
     
   WHILE @@FETCH_STATUS <> -1  
   BEGIN   
      
      IF RIGHT(@c_getmserialno,1) <> '9'
      BEGIN 
		INSERT INTO #TEMPSNExtration
		SELECT msN.SerialNo,MSN.ParentSerialNo AS Mserialno
	    FROM MasterSerialNo MSN WITH (NOLOCK) 
		WHERE msn.ParentSerialNo = @c_getmserialno
		AND MSN.STORERKEY = @c_Sparm4   --INC0614627 
        ORDER BY msn.SerialNo 
      	
      END	
         
    FETCH NEXT FROM CUR_SRESULT INTO @c_getserialno,@c_getmserialno ,@c_getPickslipno  ,@n_cartonno 
    END   
  
    CLOSE CUR_SRESULT
    DEALLOCATE CUR_SRESULT
    
    SELECT @n_ctnRec = COUNT(1)
    FROM #TEMPSNExtration
    
    IF @n_ctnRec>0
    BEGIN
    	 INSERT INTO #TEMPSerialNo (Pickslipno, SerialNo, MSerialNo,Cartonno)
    	 SELECT TMSN.Pickslipno,TMEX.SerialNo,TMSN.SerialNo,TMSN.Cartonno
    	 FROM #TEMPMasterSN TMSN
    	 JOIN #TEMPSNExtration TMEX ON TMEX.MSerialNo = TMSN.MSerialNo
    END
    ELSE
    BEGIN
    	INSERT INTO #TEMPSerialNo (Pickslipno, SerialNo, MSerialNo,Cartonno)
    	SELECT TMSN.Pickslipno,TMSN.MSerialNo,TMSN.SerialNo,TMSN.Cartonno
    	 FROM #TEMPMasterSN TMSN
    END	     
                         
       IF @b_debug = '1'            
       BEGIN            
         SELECT 'carton',* FROM #TEMPSerialNo        
       END            
          
     SET @c_colno=''        
             
      SET @c_colSN01    =''    
      SET @c_colSN02    =''
      SET @c_colSN03    =''
      SET @c_colSN04    =''     
      SET @c_colSN05    =''  
      SET @c_colSN06    =''           
      SET @c_colSN07    =''      
      SET @c_colSN08    =''  
      SET @c_colSN09    =''  
      SET @c_colSN10    =''  
      /*CS01 Start*/
      
      SET @c_colSN11    =''    
      SET @c_colSN12    =''
      SET @c_colSN13    =''
      SET @c_colSN14    =''     
      SET @c_colSN15    =''  
      SET @c_colSN16    =''           
      SET @c_colSN17    =''      
      SET @c_colSN18    =''  
      SET @c_colSN19    =''  
      SET @c_colSN20    =''
      
      /*CS01 End*/    
             
             
     SELECT @n_CntRec = count(1)         
     FROM #TEMPSerialNo        
     WHERE Retrieve = 'N'        
           
     --SET @n_TTLpage = round((@n_CntRec/@n_MaxLine),1) + 1        
     -- Fixed by SHONG (SHONG01)        
    SET @n_TTLpage =  FLOOR(@n_CntRec / @n_MaxLine ) + CASE WHEN @n_CntRec % @n_MaxLine > 0 THEN 1 ELSE 0 END       
   
    IF @b_debug='1'        
    BEGIN        
       PRINT ' Rec Count : ' + convert(nvarchar(15),@n_CntRec)        
       PRINT ' TTL Page NO : ' + convert(nvarchar(15),@n_TTLpage)        
       PRINT ' Current Page NO : ' + convert(nvarchar(15),@n_CurrentPage)      
       PRINT '@n_intFlag : ' + + convert(nvarchar(15),@n_intFlag)    
       PRINT '@n_intFlag%Maxline : ' + + convert(nvarchar(15),(@n_intFlag%@n_MaxLine))
    END 

            
        
     WHILE (@n_intFlag <=@n_CntRec)        
              
     BEGIN        
        
       --SET @c_colContent = 'col' + convert(nvarchar(2),(20 + @n_intFlag))        
              
       IF @b_debug = '1'            
       BEGIN           
         SELECT * FROM  #TEMPMasterSN  WITH (NOLOCK)          
         PRINT ' update for column no : ' + @c_Colno + 'with ID ' + convert(nvarchar(2),@n_intFlag)        
       END            
       /*CS05 start */
       --IF @n_intFlag = 16 OR @n_intFlag = 31 OR @n_intFlag = 46 OR @n_intFlag = 61 OR @n_intFlag = 76    --CS04         
       IF @n_intFlag > @n_MaxLine  and (@n_intFlag%@n_MaxLine) = 1
       BEGIN        
       --SET @n_intFlag = 1        
              
          SET @n_CurrentPage = @n_CurrentPage + 1 
     
          IF @b_debug = '1'            
          BEGIN
            PRINT 'Start page : ' + convert(nvarchar(5),@n_CurrentPage)  
            PRINT 'Total page : ' + convert(nvarchar(5),@n_TTLpage)  
          END

       IF (@n_CurrentPage>@n_TTLpage) 
       BREAK;        
        
          INSERT INTO #Result (Col01,Col02,Col03,Col04,Col05, Col06,Col07,Col08,Col09                 
                            ,Col10,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22               
                            ,Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col31,Col32,Col33,Col34                
                            ,Col35,Col36,Col37,Col38,Col39,Col40,Col41,Col42,Col43,Col44                 
                            ,Col45,Col46,Col47,Col48,Col49,Col50,Col51,Col52,Col53,Col54               
                            ,Col55,Col56,Col57,Col58,Col59,Col60)           
     VALUES(@c_getSN,@c_sku,'','','','',         
            '','','','','','','','','','','','','','',        
            '','','','','','','','','','','','','','','','','','','','','','','','','','','','','',''        
            ,'','','','','','','','',@c_Pickslipno,'O')          
              
               
       IF @b_debug='1'        
       BEGIN        
         SELECT '1111',convert(nvarchar(5),@n_CurrentPage) as CurrentPage,* from #Result        
       END        
            
      SET @c_colSN01    =''    
      SET @c_colSN02    =''
      SET @c_colSN03    =''
      SET @c_colSN04    =''     
      SET @c_colSN05    =''  
      SET @c_colSN06    =''           
      SET @c_colSN07    =''      
      SET @c_colSN08    =''  
      SET @c_colSN09    =''  
      SET @c_colSN10    =''
      
        /*CS01 Start*/
      
      SET @c_colSN11    =''    
      SET @c_colSN12    =''
      SET @c_colSN13    =''
      SET @c_colSN14    =''     
      SET @c_colSN15    =''  
      SET @c_colSN16    =''           
      SET @c_colSN17    =''      
      SET @c_colSN18    =''  
      SET @c_colSN19    =''  
      SET @c_colSN20    =''
      
      /*CS01 End*/    
             
      
     END        
        
       SET @n_TTLLine = 0        
       SET @n_Qty = 0        
               
        If @b_debug='1'
       BEGIN
          PRINT ' get record no : ' + convert(nchar(5),@n_intFlag)
       END
      
      SELECT @c_ColSN = serialno       
       FROM  #TEMPSerialNo c WITH (NOLOCK)                    
       WHERE c.ID = @n_intFlag  
       AND Retrieve='N'      
            
       If @b_debug= '1'
       BEGIN

         PRINT '(@n_intFlag%@n_MaxLine) : '+ convert(nchar(10),(@n_intFlag%@n_MaxLine))
         
       END
       
 
       --IF @n_intFlag = 1 or @n_intFlag = 16 or @n_intFlag = 31 or @n_intFlag = 46 --(CS04)       
       IF (@n_intFlag%@n_MaxLine) = 1 
       BEGIN 
        SET @c_ColSN01  = @c_ColSN           
       END        
      
       --ELSE IF @n_intFlag = 2 OR @n_intFlag = 17 OR @n_intFlag = 32 OR @n_intFlag = 47  --(CS04)     
       ELSE IF (@n_intFlag%@n_MaxLine) = 2
       BEGIN 
        SET @c_ColSN02  = @c_ColSN           
       END        
      
       --ELSE IF @n_intFlag = 3 OR @n_intFlag = 18 OR @n_intFlag = 33 OR @n_intFlag = 48    --(CS04)     
       ELSE IF (@n_intFlag%@n_MaxLine) = 3
       BEGIN 
        SET @c_ColSN03  = @c_ColSN           
       END      
      
       --ELSE IF @n_intFlag = 4 OR @n_intFlag = 19 OR @n_intFlag = 34 OR @n_intFlag = 49 --(CS04)        
       ELSE IF (@n_intFlag%@n_MaxLine) = 4
       BEGIN 
        SET @c_ColSN04  = @c_ColSN           
       END     
      
      -- ELSE IF @n_intFlag = 5 OR @n_intFlag = 20 OR @n_intFlag = 35  OR @n_intFlag = 50 --(CS04)        
       ELSE IF (@n_intFlag%@n_MaxLine) = 5
       BEGIN 
        SET @c_ColSN05  = @c_ColSN           
       END    
      
       --ELSE IF @n_intFlag = 6 OR @n_intFlag = 21 OR @n_intFlag = 36  OR @n_intFlag = 51  --(CS04)       
       ELSE IF (@n_intFlag%@n_MaxLine) = 6
       BEGIN 
        SET @c_ColSN06  = @c_ColSN           
       END      
             
       --ELSE IF @n_intFlag = 7 OR @n_intFlag = 22 OR @n_intFlag = 37 OR @n_intFlag = 52  --(CS04)        
       ELSE IF (@n_intFlag%@n_MaxLine) = 7
       BEGIN 
        SET @c_ColSN07  = @c_ColSN           
       END       
      
       --ELSE IF @n_intFlag = 8 OR @n_intFlag = 23 OR @n_intFlag = 38 OR @n_intFlag = 53  --(CS04)        
       ELSE IF (@n_intFlag%@n_MaxLine) = 8
       BEGIN 
        SET @c_ColSN08  = @c_ColSN           
       END      
      
       --ELSE IF @n_intFlag = 9 OR @n_intFlag = 24 OR @n_intFlag = 39 OR @n_intFlag = 54  --(CS04)        
       ELSE IF (@n_intFlag%@n_MaxLine) = 9
       BEGIN 
        SET @c_ColSN09  = @c_ColSN           
       END
       
       /*Cs01 start*/
       --IF @n_intFlag = 1 or @n_intFlag = 16 or @n_intFlag = 31 or @n_intFlag = 46 --(CS04)       
       IF (@n_intFlag%@n_MaxLine) = 10 
       BEGIN 
        SET @c_ColSN10  = @c_ColSN           
       END 
       
        --IF @n_intFlag = 1 or @n_intFlag = 16 or @n_intFlag = 31 or @n_intFlag = 46 --(CS04)       
       IF (@n_intFlag%@n_MaxLine) = 11 
       BEGIN 
        SET @c_ColSN11  = @c_ColSN           
       END        
      
       --ELSE IF @n_intFlag = 2 OR @n_intFlag = 17 OR @n_intFlag = 32 OR @n_intFlag = 47  --(CS04)     
       ELSE IF (@n_intFlag%@n_MaxLine) = 12
       BEGIN 
        SET @c_ColSN12  = @c_ColSN           
       END        
      
       --ELSE IF @n_intFlag = 3 OR @n_intFlag = 18 OR @n_intFlag = 33 OR @n_intFlag = 48    --(CS04)     
       ELSE IF (@n_intFlag%@n_MaxLine) = 13
       BEGIN 
        SET @c_ColSN13  = @c_ColSN           
       END      
      
       --ELSE IF @n_intFlag = 4 OR @n_intFlag = 19 OR @n_intFlag = 34 OR @n_intFlag = 49 --(CS04)        
       ELSE IF (@n_intFlag%@n_MaxLine) = 14
       BEGIN 
        SET @c_ColSN14  = @c_ColSN           
       END     
      
      -- ELSE IF @n_intFlag = 5 OR @n_intFlag = 20 OR @n_intFlag = 35  OR @n_intFlag = 50 --(CS04)        
       ELSE IF (@n_intFlag%@n_MaxLine) = 15
       BEGIN 
        SET @c_ColSN15  = @c_ColSN           
       END    
      
       --ELSE IF @n_intFlag = 6 OR @n_intFlag = 21 OR @n_intFlag = 36  OR @n_intFlag = 51  --(CS04)       
       ELSE IF (@n_intFlag%@n_MaxLine) = 16
       BEGIN 
        SET @c_ColSN16  = @c_ColSN           
       END      
             
       --ELSE IF @n_intFlag = 7 OR @n_intFlag = 22 OR @n_intFlag = 37 OR @n_intFlag = 52  --(CS04)        
       ELSE IF (@n_intFlag%@n_MaxLine) = 17
       BEGIN 
        SET @c_ColSN17  = @c_ColSN           
       END       
      
       --ELSE IF @n_intFlag = 8 OR @n_intFlag = 23 OR @n_intFlag = 38 OR @n_intFlag = 53  --(CS04)        
       ELSE IF (@n_intFlag%@n_MaxLine) = 18
       BEGIN 
        SET @c_ColSN18  = @c_ColSN           
       END      
      
       --ELSE IF @n_intFlag = 9 OR @n_intFlag = 24 OR @n_intFlag = 39 OR @n_intFlag = 54  --(CS04)        
       ELSE IF (@n_intFlag%@n_MaxLine) = 19
       BEGIN 
        SET @c_ColSN19  = @c_ColSN           
       END
       
       /*CS01 END*/
       
       --ELSE IF @n_intFlag = 15 OR @n_intFlag = 30 OR @n_intFlag = 45  OR @n_intFlag = 60      
      ELSE IF (@n_intFlag%@n_MaxLine) = 0
      BEGIN 
        SET @c_ColSN20  = @c_ColSN           
       END            
              
      UPDATE #Result                  
       SET Col03 = @c_ColSN01,
           Col04 = @c_ColSN02,
           Col05 = @c_ColSN03,
           Col06 = @c_ColSN04,          
           Col07 = @c_ColSN05,        
           Col08 = @c_ColSN06,                
           Col09 = @c_ColSN07,         
           Col10 = @c_ColSN08,         
           Col11 = @c_ColSN09,        
           Col12 = @c_ColSN10,
           /*CS01 start*/
           Col13 = @c_ColSN11,
           Col14 = @c_ColSN12,
           Col15 = @c_ColSN13,
           Col16 = @c_ColSN14,          
           Col17 = @c_ColSN15,        
           Col18 = @c_ColSN16,                
           Col19 = @c_ColSN17,         
           Col20 = @c_ColSN18,         
           Col21 = @c_ColSN19,        
           Col22 = @c_ColSN20
           /*CS01 End*/    
       WHERE ID = @n_CurrentPage    
       AND col59 = @c_Pickslipno   

     UPDATE  #TEMPSerialNo
     SET Retrieve ='Y'
     WHERE ID= @n_intFlag 
                    
        
     SET @n_intFlag = @n_intFlag + 1  

     IF @n_intFlag > @n_CntRec
     BEGIN
       BREAK;
     END      
        
     IF @b_debug = '1'        
     BEGIN        
      SELECT convert(nvarchar(3),@n_intFlag),* FROM #Result        
     END        
                         
         
    IF @b_debug='1'      
    BEGIN      
      SELECT 'chk', * from #Result      
    END      
      
   --SET @n_intFlag = @n_intFlag + 1      
           
  END            
          
  FETCH NEXT FROM CUR_RowNoLoop INTO @c_Pickslipno                
          
      END -- While                   
      CLOSE CUR_RowNoLoop                  
      DEALLOCATE CUR_RowNoLoop              
           
        
   FETCH NEXT FROM CUR_StartRecLoop INTO @c_Pickslipno,@c_sku,@c_getSN                      
        
   END -- While                   
   CLOSE CUR_StartRecLoop                  
   DEALLOCATE CUR_StartRecLoop          
      -- (SHONG01)  
     
   SELECT * from #result WITH (NOLOCK)
         
        
   EXIT_SP:          
        
   SET @d_Trace_EndTime = GETDATE()        
   SET @c_UserName = SUSER_SNAME()        
           
   EXEC isp_InsertTraceInfo         
      @c_TraceCode = 'BARTENDER',        
      @c_TraceName = 'isp_BT_Bartender_SerialNo_Label_LOGI',        
      @c_starttime = @d_Trace_StartTime,        
      @c_endtime = @d_Trace_EndTime,        
      @c_step1 = @c_UserName,        
      @c_step2 = '',        
      @c_step3 = '',        
      @c_step4 = '',        
      @c_step5 = '',        
      @c_col1 = @c_Sparm1,         
      @c_col2 = @c_Sparm2,        
      @c_col3 = @c_Sparm3,        
      @c_col4 = @c_Sparm4,        
      @c_col5 = @c_Sparm5,        
      @b_Success = 1,        
      @n_Err = 0,        
      @c_ErrMsg = ''                    
         
                                  
END -- procedure 

GO
GRANT EXECUTE ON [dbo].[isp_BT_Bartender_SerialNo_Label_LOGI] TO nsql 
GO        