IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[isp_BT_Bartender_CtnMnfLbl1]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
DROP PROCEDURE [dbo].[isp_BT_Bartender_CtnMnfLbl1]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO   
  
/******************************************************************************/                   
/* Copyright: IDS                                                             */                   
/* Purpose: isp_BT_Bartender_CtnMnfLbl1                                       */                   
/*                                                                            */                   
/* Modifications log:                                                         */                   
/*                                                                            */                   
/* Date       Rev  Author     Purposes                                        */                   
/* 2021-06-01 1.0  CSCHONG    WMS-17125                                       */   
/******************************************************************************/                  
                    
CREATE PROC [dbo].[isp_BT_Bartender_CtnMnfLbl1]                        
(  @c_Sparm01            NVARCHAR(250),                
   @c_Sparm02            NVARCHAR(250),                
   @c_Sparm03            NVARCHAR(250),                
   @c_Sparm04            NVARCHAR(250),                
   @c_Sparm05            NVARCHAR(250),                
   @c_Sparm06            NVARCHAR(250),                
   @c_Sparm07            NVARCHAR(250),                
   @c_Sparm08            NVARCHAR(250),                
   @c_Sparm09            NVARCHAR(250),                
   @c_Sparm10            NVARCHAR(250),          
   @b_debug              INT = 0                           
)                        
AS                        
BEGIN                        
   SET NOCOUNT ON                   
   SET ANSI_NULLS OFF                  
   SET QUOTED_IDENTIFIER OFF                   
   SET CONCAT_NULL_YIELDS_NULL OFF                            
                                
   DECLARE                    
      @c_ReceiptKey      NVARCHAR(10),                      
      @c_sku             NVARCHAR(20),                           
      @n_intFlag         INT,       
      @n_CntRec          INT,      
      @c_SQL             NVARCHAR(4000),          
      @c_SQLSORT         NVARCHAR(4000),          
      @c_SQLJOIN         NVARCHAR(4000),  
      @c_col58           NVARCHAR(10)        
      
  DECLARE @d_Trace_StartTime   DATETIME,     
          @d_Trace_EndTime    DATETIME,    
          @c_Trace_ModuleName NVARCHAR(20),     
          @d_Trace_Step1      DATETIME,     
          @c_Trace_Step1      NVARCHAR(20),    
          @c_UserName         NVARCHAR(20),  
          @c_SCS01            NVARCHAR(80),           
          @c_SCS02            NVARCHAR(80),    
          @c_SCS03            NVARCHAR(80),           
          @c_SCS04            NVARCHAR(80), 
          @c_SCS05            NVARCHAR(80), 
          @c_SKU01            NVARCHAR(20),           
          @c_SKU02            NVARCHAR(20),    
          @c_SKU03            NVARCHAR(20),           
          @c_SKU04            NVARCHAR(20),
          @c_SKU05            NVARCHAR(20),              
          @c_SKUQty01         NVARCHAR(10),          
          @c_SKUQty02         NVARCHAR(10),    
          @c_SKUQty03         NVARCHAR(10),          
          @c_SKUQty04         NVARCHAR(10),  
          @c_SKUQty05         NVARCHAR(10),                      
          @n_TTLpage          INT,          
          @n_CurrentPage      INT,  
          @n_MaxLine          INT  ,  
          @n_MaxCtnNo          INT  ,  
          @c_labelno          NVARCHAR(20) ,  
          @c_pickslipno       NVARCHAR(20) ,  
          @c_orderkey         NVARCHAR(20) ,  
          @n_skuqty           INT ,  
          @n_qtybypage        INT ,  
          @c_PLOC             NVARCHAR(20),   
          @c_cartonno         NVARCHAR(5),  
          @n_loopno           INT,  
          @c_LastRec          NVARCHAR(1),  
          @c_LastCtn          NVARCHAR(1),  
          @c_ExecStatements   NVARCHAR(4000),      
          @c_ExecArguments    NVARCHAR(4000) ,  
          @n_ConsigneeKey     NVARCHAR(10),  
          @c_Style            NVARCHAR(80),  
          @c_Color            NVARCHAR(80),  
          @c_Size             NVARCHAR(80),  
          @dt_DeliveryDate    DATETIME    
    
   SET @d_Trace_StartTime = GETDATE()    
   SET @c_Trace_ModuleName = ''    
          
    -- SET RowNo = 0    
    SET @c_SQL = ''       
    SET @n_CurrentPage = 1  
    SET @n_TTLpage =1       
    SET @n_MaxLine = 5     
    SET @n_CntRec = 1    
    SET @n_intFlag = 1   
    SET @n_loopno = 1        
    SET @c_LastRec = 'Y'  
    SET @n_ConsigneeKey = ''  

                
    CREATE TABLE [#Result] (               
      [ID]    [INT] IDENTITY(1,1) NOT NULL,                              
      [Col01] [NVARCHAR] (80) NULL,                
      [Col02] [NVARCHAR] (80) NULL,                
      [Col03] [NVARCHAR] (80) NULL,                
      [Col04] [NVARCHAR] (80) NULL,                
      [Col05] [NVARCHAR] (80) NULL,                
      [Col06] [NVARCHAR] (80) NULL,                
      [Col07] [NVARCHAR] (80) NULL,                
      [Col08] [NVARCHAR] (80) NULL,                
      [Col09] [NVARCHAR] (80) NULL,                
      [Col10] [NVARCHAR] (80) NULL,                
      [Col11] [NVARCHAR] (80) NULL,                
      [Col12] [NVARCHAR] (80) NULL,                
      [Col13] [NVARCHAR] (80) NULL,                
      [Col14] [NVARCHAR] (80) NULL,                
      [Col15] [NVARCHAR] (80) NULL,                
      [Col16] [NVARCHAR] (80) NULL,                
      [Col17] [NVARCHAR] (80) NULL,                
      [Col18] [NVARCHAR] (80) NULL,                
      [Col19] [NVARCHAR] (80) NULL,                
      [Col20] [NVARCHAR] (80) NULL,                
      [Col21] [NVARCHAR] (80) NULL,                
      [Col22] [NVARCHAR] (80) NULL,                
      [Col23] [NVARCHAR] (80) NULL,                
      [Col24] [NVARCHAR] (80) NULL,                
      [Col25] [NVARCHAR] (80) NULL,                
      [Col26] [NVARCHAR] (80) NULL,                
      [Col27] [NVARCHAR] (80) NULL,                
      [Col28] [NVARCHAR] (80) NULL,                
      [Col29] [NVARCHAR] (80) NULL,                
      [Col30] [NVARCHAR] (80) NULL,                
      [Col31] [NVARCHAR] (80) NULL,                
      [Col32] [NVARCHAR] (80) NULL,                
      [Col33] [NVARCHAR] (80) NULL,                
      [Col34] [NVARCHAR] (80) NULL,                
      [Col35] [NVARCHAR] (80) NULL,                
      [Col36] [NVARCHAR] (80) NULL,                
      [Col37] [NVARCHAR] (80) NULL,                
      [Col38] [NVARCHAR] (80) NULL,                
      [Col39] [NVARCHAR] (80) NULL,                
      [Col40] [NVARCHAR] (80) NULL,                
      [Col41] [NVARCHAR] (80) NULL,                
      [Col42] [NVARCHAR] (80) NULL,                
      [Col43] [NVARCHAR] (80) NULL,                
      [Col44] [NVARCHAR] (80) NULL,                
      [Col45] [NVARCHAR] (80) NULL,                
      [Col46] [NVARCHAR] (80) NULL,                
      [Col47] [NVARCHAR] (80) NULL,                
      [Col48] [NVARCHAR] (80) NULL,                
      [Col49] [NVARCHAR] (80) NULL,                
      [Col50] [NVARCHAR] (80) NULL,               
      [Col51] [NVARCHAR] (80) NULL,                
      [Col52] [NVARCHAR] (80) NULL,                
      [Col53] [NVARCHAR] (80) NULL,                
      [Col54] [NVARCHAR] (80) NULL,                
      [Col55] [NVARCHAR] (80) NULL,                
      [Col56] [NVARCHAR] (80) NULL,                
      [Col57] [NVARCHAR] (80) NULL,                
      [Col58] [NVARCHAR] (80) NULL,                
      [Col59] [NVARCHAR] (80) NULL,                
      [Col60] [NVARCHAR] (80) NULL               
     )          
       
       
      CREATE TABLE [#TEMPPDSKUDESC] (                     
      [ID]           [INT] IDENTITY(1,1) NOT NULL,                                        
      [Pickslipno]   [NVARCHAR] (20) NULL,    
      [cartonno]     INT NULL,         
      [SKU]          [NVARCHAR] (20) NULL,             
      [PQty]         INT,  
      [labelno]      NVARCHAR(20) NULL,
      [Retrieve]     [NVARCHAR](1) default 'N',  
      [Style]        [NVARCHAR](20) NULL,  
      [Color]        [NVARCHAR](20) NULL,        
      [Size]         [NVARCHAR](20) NULL)       
        
           
         SET @c_SQLJOIN = +' SELECT DISTINCT REPLACE(CONVERT(NVARCHAR(20),GETDATE(),120),''-'',''/''),'''',' 
             + ' pad.labelno,O.userdefine09,O.Externorderkey,'+ CHAR(13)      --5        
             + ' O.Facility,o.consigneekey,'''',pad.labelno,'''','       
             + ' '''','''','''','''','''','     --15    
             + ' '''','''','''','''','''','     --20         
             + CHAR(13) +        
             + ' '''','''','''','''','''','''','''','''','''','''','  --30     
             + ' '''','''','''','''','''','''','''','''','''','''','   --40         
             + ' '''','''','''','''','''','''','''','''','''','''', '  --50         
             + ' '''','''','''','''','''','''', '''' ,'''','''',pad.pickslipno '   --60            
             + CHAR(13) +                         
             + ' FROM Orders o WITH (NOLOCK) '  
             + ' JOIN PackHeader pah WITH (NOLOCK) ON o.OrderKey =  pah.orderkey '  
             + ' JOIN PackDetail pad WITH (NOLOCK) ON pah.PickSlipNo = pad.PickSlipNo '                  
             + ' WHERE pad.pickslipno = @c_Sparm01 '     
             + ' AND pad.Cartonno >= CONVERT(INT,@c_Sparm02) '                      
             + ' AND pad.Cartonno <= CONVERT(INT,@c_Sparm03) '      
           
       
      IF @b_debug=1          
      BEGIN          
         PRINT @c_SQLJOIN            
      END                  
                
  SET @c_SQL='INSERT INTO #Result (Col01,Col02,Col03,Col04,Col05, Col06,Col07,Col08,Col09'  + CHAR(13) +             
             +',Col10,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22'  + CHAR(13) +             
             +',Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col31,Col32,Col33,Col34' + CHAR(13) +             
             +',Col35,Col36,Col37,Col38,Col39,Col40,Col41,Col42,Col43,Col44'  + CHAR(13) +             
             +',Col45,Col46,Col47,Col48,Col49,Col50,Col51,Col52,Col53,Col54'+ CHAR(13) +             
             +',Col55,Col56,Col57,Col58,Col59,Col60) '            
      
SET @c_SQL = @c_SQL + @c_SQLJOIN      
  
  
 SET @c_ExecArguments = N'  @c_Sparm01          NVARCHAR(80)'      
                       + ', @c_Sparm02          NVARCHAR(80) '   
                       + ', @c_Sparm03          NVARCHAR(80) '       
                           
                           
   EXEC sp_ExecuteSql     @c_SQL       
                        , @c_ExecArguments      
                        , @c_Sparm01     
                        , @c_Sparm02   
                        , @c_Sparm03        
          
    --EXEC sp_executesql @c_SQL            
          
   IF @b_debug=1          
   BEGIN            
      PRINT @c_SQL            
   END    
     
        
   IF @b_debug=1          
   BEGIN          
      SELECT * FROM #Result (nolock)          
   END          
    
    
   DECLARE CUR_RowNoLoop CURSOR LOCAL FAST_FORWARD READ_ONLY FOR    
   SELECT DISTINCT col03,col60      
   FROM #Result                 
   WHERE Col60 = @c_Sparm01         
            
   OPEN CUR_RowNoLoop                    
               
   FETCH NEXT FROM CUR_RowNoLoop INTO @c_labelno,@c_pickslipno
                 
   WHILE @@FETCH_STATUS <> -1               
   BEGIN                   
      IF @b_debug='1'                
      BEGIN                
         PRINT @c_labelno                
      END   
        
      INSERT INTO [#TEMPPDSKUDESC] (pickslipno,Cartonno,SKU,PQty,labelno,Retrieve,style,color,size)          
      SELECT DISTINCT @c_pickslipno,CAST(@c_cartonno as INT),PD.sku, SUM(pd.qty),@c_labelno,'N'
                     ,s.Style,s.Color,s.Size  
      FROM  PackDetail AS pd WITH (NOLOCK)   
      JOIN SKU S WITH (NOLOCK) ON S.storerkey = pd.storerkey AND S.sku = pd.sku
      WHERE pd.LabelNo = @c_labelno  
      AND pd.Pickslipno = @c_pickslipno  
      GROUP BY PD.sku,s.Style,s.Color,s.Size  

     IF @b_debug='1'                
      BEGIN                
         SELECT '[#TEMPPDSKUDESC]',* FROM [#TEMPPDSKUDESC]                   
      END 
        
      SET @c_SKU01 = ''  
      SET @c_SKU02 = ''  
      SET @c_SKU03 = ''  
      SET @c_SKU04 = ''  
      SET @c_SKU05 = ''
      SET @c_SCS01 = ''  
      SET @c_SCS02 = ''  
      SET @c_SCS03 = ''  
      SET @c_SCS04 = ''  
      SET @c_SCS05 = ''
      SET @c_SKUQty01 = ''  
      SET @c_SKUQty02 = ''  
      SET @c_SKUQty03 = ''  
      SET @c_SKUQty04 = ''  
      SET @c_SKUQty05 = ''
      SET @n_qtybypage = 0
  
      SET @n_MaxCtnNo =1  
      SET @c_LastCtn = 'N'  
  
      SELECT @n_CntRec = COUNT (1)  
      FROM [#TEMPPDSKUDESC]   
      WHERE labelno = @c_labelno  
      AND pickslipno = @c_pickslipno   
      AND Retrieve = 'N'   
  
      SELECT @n_MaxCtnNo = MAX(Cartonno)  
      FROM PackDetail WITH (NOLOCK)  
      WHERE PickSlipNo = @c_pickslipno  
  
      IF CAST(@c_cartonno as int) = @n_MaxCtnNo  
      BEGIN  
        SET @c_LastCtn = 'Y'  
      END  
  
      --IF @c_LastCtn = 'Y'  
      --BEGIN  
      
      --   UPDATE #Result                    
      --   SET Col02 =  CONVERT(NVARCHAR(5),@n_MaxCtnNo) + '-' + @c_cartonno  
      --   WHERE ID = @n_CurrentPage   
      --END  
        
      SET @n_TTLpage =  FLOOR(@n_CntRec / @n_MaxLine ) + CASE WHEN @n_CntRec % @n_MaxLine > 0 THEN 1 ELSE 0 END   
        
      --SELECT * FROM #TEMPEATSKU01  
        
     WHILE @n_intFlag <= @n_CntRec             
     BEGIN    
         
       IF @n_intFlag > @n_MaxLine AND (@n_intFlag%@n_MaxLine) = 1 --AND @c_LastRec = 'N'  
       BEGIN  
           
         SET @n_CurrentPage = @n_CurrentPage + 1  
           
       IF (@n_CurrentPage>@n_TTLpage)   
       BEGIN  
         BREAK;  
       END    
      
         INSERT INTO #Result (Col01,Col02,Col03,Col04,Col05, Col06,Col07,Col08,Col09                   
                               ,Col10,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22                 
                               ,Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col31,Col32,Col33,Col34                  
                               ,Col35,Col36,Col37,Col38,Col39,Col40,Col41,Col42,Col43,Col44                   
                               ,Col45,Col46,Col47,Col48,Col49,Col50,Col51,Col52,Col53,Col54                 
                               ,Col55,Col56,Col57,Col58,Col59,Col60)   
         SELECT TOP 1 Col01,'',Col03,Col04,Col05,Col06,Col07,'',Col09,'',                   
                      '','','','','', '','','','','',                
                      '','','','','', '','','','','',                
                      '','','','','', '','','','','',                   
                      '','','','','', '','','','','',                 
                      '','','','','', '','','','',col60  
          FROM  #Result   
          --WHERE Col60='O'        
         
               SET @c_SKU01 = ''  
               SET @c_SKU02 = ''  
               SET @c_SKU03 = '' 
               SET @c_SKU04 = ''  
               SET @c_SKU05 = ''  
               SET @c_SCS01 = ''  
               SET @c_SCS02 = ''  
               SET @c_SCS03 = ''  
               SET @c_SCS04 = ''  
               SET @c_SCS05 = ''
               SET @c_SKUQty01 = ''  
               SET @c_SKUQty02 = ''  
               SET @c_SKUQty03 = ''  
               SET @c_SKUQty04 = ''  
               SET @c_SKUQty05 = ''   
               SET @n_qtybypage = 0               
        
       END      
              
        
      SELECT @c_sku = SKU,  
             @c_Style = Style,
             @c_color = color,
             @c_size = Size,  
             @n_skuqty = SUM(PQty)  
      FROM [#TEMPPDSKUDESC]   
      WHERE ID = @n_intFlag  
      GROUP BY SKU,style,color,size  
        
    
      IF (@n_intFlag%@n_MaxLine) = 1 --AND @n_recgrp = @n_CurrentPage  
       BEGIN   
         --SELECT '1'         
        SET @c_sku01    = @c_sku  
        SET @c_SCS01    = @c_Style +'-' + @c_Color +'-' + @c_Size 
        SET @c_SKUQty01 = CONVERT(NVARCHAR(10),@n_skuqty)        
       END          
         
       ELSE IF (@n_intFlag%@n_MaxLine) = 2  --AND @n_recgrp = @n_CurrentPage  
       BEGIN      
         --SELECT '2'       
        SET @c_sku02 = @c_sku  
        SET @c_SCS02    = @c_Style +'-' + @c_Color +'-' + @c_Size  
        SET @c_SKUQty02 = CONVERT(NVARCHAR(10),@n_skuqty)           
       END    
       ELSE IF (@n_intFlag%@n_MaxLine) = 3--3  --AND @n_recgrp = @n_CurrentPage  
       BEGIN      
         --SELECT '3'       
        SET @c_sku03 = @c_sku  
        SET @c_SCS03    = @c_Style +'-' + @c_Color +'-' + @c_Size 
        SET @c_SKUQty03 = CONVERT(NVARCHAR(10),@n_skuqty)           
       END 
       ELSE IF (@n_intFlag%@n_MaxLine) = 4--3  --AND @n_recgrp = @n_CurrentPage  
       BEGIN      
         --SELECT '4'       
        SET @c_sku04 = @c_sku  
        SET @c_SCS04    = @c_Style +'-' + @c_Color +'-' + @c_Size 
        SET @c_SKUQty04 = CONVERT(NVARCHAR(10),@n_skuqty)           
       END    
       ELSE IF (@n_intFlag%@n_MaxLine) = 0  --AND @n_recgrp = @n_CurrentPage  
       BEGIN      
       --  SELECT '5'       
        SET @c_sku05= @c_sku  
        SET @c_SCS05    = @c_Style +'-' + @c_Color +'-' + @c_Size  
        SET @c_SKUQty05 = CONVERT(NVARCHAR(10),@n_skuqty)           
       END         

       SET @n_qtybypage = CAST( @c_SKUQty01 AS INT) +   CAST( @c_SKUQty02 AS INT) +  CAST( @c_SKUQty03 AS INT) +  CAST( @c_SKUQty04 AS INT) + CAST( @c_SKUQty05 AS INT)   
            
        UPDATE #Result                    
        SET Col02 = 'Page ' + CAST(@n_CurrentPage AS NVARCHAR(5)) + ' of ' + CAST(@n_TTLpage AS NVARCHAR(10)) ,  
            Col08 = CAST (@n_qtybypage AS NVARCHAR(10)),     
            Col10 = @c_SKU01,          
            Col11 = @c_SCS01,          
            Col12 = @c_SKUQty01,                  
            Col13 = @c_SKU02,   
            Col14 = @c_SCS02,          
            Col15 = @c_SKUQty02,           
            Col16 = @c_SKU03,  
            Col17 = @c_SCS03,         
            Col18 = @c_SKUQty03,          
            Col19 = @c_SKU04 ,  
            Col20 = @c_SCS04,
            Col21 = @c_SKUQty04,
            Col22 = @c_sku05,
            Col23 = @c_SCS05,
            Col24 = @c_SKUQty05
        WHERE ID = @n_CurrentPage   
           
           
         UPDATE  [#TEMPPDSKUDESC]  
         SET Retrieve ='Y'  
         WHERE ID= @n_intFlag   
                      
          
     SET @n_intFlag = @n_intFlag + 1    
  
     IF @n_intFlag > @n_CntRec  
     BEGIN  
       BREAK;  
     END        
   END  
   FETCH NEXT FROM CUR_RowNoLoop INTO @c_labelno,@c_pickslipno       
          
      END -- While                     
      CLOSE CUR_RowNoLoop                    
      DEALLOCATE CUR_RowNoLoop     
     
         
   SELECT * FROM #Result (nolock)      
   --WHERE ISNULL(Col02,'') <> ''      
   ORDER BY col60 ,Col03 
              
EXIT_SP:      
    
   SET @d_Trace_EndTime = GETDATE()    
   SET @c_UserName = SUSER_SNAME()    
       
   --EXEC isp_InsertTraceInfo     
   --   @c_TraceCode = 'BARTENDER',    
   --   @c_TraceName = 'isp_BT_Bartender_CtnMnfLbl1',    
   --   @c_starttime = @d_Trace_StartTime,    
   --   @c_endtime = @d_Trace_EndTime,    
   --   @c_step1 = @c_UserName,    
   --   @c_step2 = '',    
   --   @c_step3 = '',    
   --   @c_step4 = '',    
   --   @c_step5 = '',    
   --   @c_col1 = @c_Sparm01,     
   --   @c_col2 = @c_Sparm02,    
   --   @c_col3 = @c_Sparm03,    
   --   @c_col4 = @c_Sparm04,    
   --   @c_col5 = @c_Sparm05,    
   --   @b_Success = 1,    
   --   @n_Err = 0,    
   --   @c_ErrMsg = ''                
     
    
                                    
END -- procedure     
  
  

GO
GRANT EXECUTE ON [dbo].[isp_BT_Bartender_CtnMnfLbl1] TO nsql 
GO

  
   
  
  