IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[isp_BT_Bartender_TW_LOR_ship_Label_01]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
   DROP PROCEDURE [dbo].[isp_BT_Bartender_TW_LOR_ship_Label_01]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO   

/******************************************************************************/                 
/* Copyright: LFL                                                             */                 
/* Purpose: isp_BT_Bartender_TW_LOR_ship_Label_01                             */                 
/*                                                                            */                 
/* Modifications log:                                                         */                 
/*                                                                            */                 
/* Date       Rev  Author     Purposes                                        */                 
/* 2020-08-18 1.0  WLChooi    Created (WMS-14757)                             */
/* 2020-11-17 1.1  WLChooi    WMS-15694 - Add Col16-18 (WL02)                 */
/******************************************************************************/                
CREATE PROC [dbo].[isp_BT_Bartender_TW_LOR_ship_Label_01]                      
(  @c_Sparm01            NVARCHAR(250),              
   @c_Sparm02            NVARCHAR(250),              
   @c_Sparm03            NVARCHAR(250),              
   @c_Sparm04            NVARCHAR(250),              
   @c_Sparm05            NVARCHAR(250),              
   @c_Sparm06            NVARCHAR(250),              
   @c_Sparm07            NVARCHAR(250),              
   @c_Sparm08            NVARCHAR(250),              
   @c_Sparm09            NVARCHAR(250),              
   @c_Sparm10            NVARCHAR(250),        
   @b_debug              INT = 0                         
)                      
AS                      
BEGIN                      
   SET NOCOUNT ON                 
   SET ANSI_NULLS OFF                
   SET QUOTED_IDENTIFIER OFF                 
   SET CONCAT_NULL_YIELDS_NULL OFF                                      
                              
   DECLARE                  
      @c_Uccno           NVARCHAR(20),                    
      @c_Sku             NVARCHAR(20),                         
      @n_intFlag         INT,     
      @n_CntRec          INT,    
      @c_SQL             NVARCHAR(4000),        
      @c_SQLSORT         NVARCHAR(4000),        
      @c_SQLJOIN         NVARCHAR(4000),
      @n_totalcase       INT,
      @n_sequence        INT,
      @c_skugroup        NVARCHAR(10),
      @n_CntSku          INT,
      @n_TTLQty          INT      
          
   DECLARE @d_Trace_StartTime      DATETIME,   
           @d_Trace_EndTime        DATETIME,  
           @c_Trace_ModuleName     NVARCHAR(20),   
           @d_Trace_Step1          DATETIME,   
           @c_Trace_Step1          NVARCHAR(20),  
           @c_UserName             NVARCHAR(20)
         
   DECLARE @c_ExecStatements       NVARCHAR(4000)  
         , @c_ExecArguments        NVARCHAR(4000)  
         , @c_ExecStatements2      NVARCHAR(4000)  
         , @c_ExecStatementsAll    NVARCHAR(MAX)    
         , @n_continue             INT          
  
   SET @d_Trace_StartTime = GETDATE()  
   SET @c_Trace_ModuleName = ''  
        
   -- SET RowNo = 0             
   SET @c_SQL = ''  
   SET @c_Sku = '' 
   SET @c_skugroup = ''    
   SET @n_totalcase = 0  
   SET @n_sequence  = 1 
   SET @n_CntSku = 1  
   SET @n_TTLQty = 0     
              
   CREATE TABLE [#Result] (             
      [ID]    [INT] IDENTITY(1,1) NOT NULL,                            
      [Col01] [NVARCHAR] (80) NULL,              
      [Col02] [NVARCHAR] (80) NULL,              
      [Col03] [NVARCHAR] (80) NULL,              
      [Col04] [NVARCHAR] (80) NULL,              
      [Col05] [NVARCHAR] (80) NULL,              
      [Col06] [NVARCHAR] (80) NULL,              
      [Col07] [NVARCHAR] (80) NULL,              
      [Col08] [NVARCHAR] (80) NULL,              
      [Col09] [NVARCHAR] (80) NULL,              
      [Col10] [NVARCHAR] (80) NULL,              
      [Col11] [NVARCHAR] (80) NULL,              
      [Col12] [NVARCHAR] (80) NULL,              
      [Col13] [NVARCHAR] (80) NULL,              
      [Col14] [NVARCHAR] (80) NULL,              
      [Col15] [NVARCHAR] (80) NULL,              
      [Col16] [NVARCHAR] (80) NULL,              
      [Col17] [NVARCHAR] (80) NULL,              
      [Col18] [NVARCHAR] (80) NULL,              
      [Col19] [NVARCHAR] (80) NULL,              
      [Col20] [NVARCHAR] (80) NULL,              
      [Col21] [NVARCHAR] (80) NULL,              
      [Col22] [NVARCHAR] (80) NULL,              
      [Col23] [NVARCHAR] (80) NULL,              
      [Col24] [NVARCHAR] (80) NULL,              
      [Col25] [NVARCHAR] (80) NULL,              
      [Col26] [NVARCHAR] (80) NULL,              
      [Col27] [NVARCHAR] (80) NULL,              
      [Col28] [NVARCHAR] (80) NULL,              
      [Col29] [NVARCHAR] (80) NULL,              
      [Col30] [NVARCHAR] (80) NULL,              
      [Col31] [NVARCHAR] (80) NULL,              
      [Col32] [NVARCHAR] (80) NULL,              
      [Col33] [NVARCHAR] (80) NULL,              
      [Col34] [NVARCHAR] (80) NULL,              
      [Col35] [NVARCHAR] (80) NULL,              
      [Col36] [NVARCHAR] (80) NULL,              
      [Col37] [NVARCHAR] (80) NULL,              
      [Col38] [NVARCHAR] (80) NULL,              
      [Col39] [NVARCHAR] (80) NULL,              
      [Col40] [NVARCHAR] (80) NULL,              
      [Col41] [NVARCHAR] (80) NULL,              
      [Col42] [NVARCHAR] (80) NULL,              
      [Col43] [NVARCHAR] (80) NULL,              
      [Col44] [NVARCHAR] (80) NULL,              
      [Col45] [NVARCHAR] (80) NULL,              
      [Col46] [NVARCHAR] (80) NULL,              
      [Col47] [NVARCHAR] (80) NULL,              
      [Col48] [NVARCHAR] (80) NULL,              
      [Col49] [NVARCHAR] (80) NULL,              
      [Col50] [NVARCHAR] (80) NULL,             
      [Col51] [NVARCHAR] (80) NULL,              
      [Col52] [NVARCHAR] (80) NULL,              
      [Col53] [NVARCHAR] (80) NULL,              
      [Col54] [NVARCHAR] (80) NULL,              
      [Col55] [NVARCHAR] (80) NULL,              
      [Col56] [NVARCHAR] (80) NULL,              
      [Col57] [NVARCHAR] (80) NULL,              
      [Col58] [NVARCHAR] (80) NULL,              
      [Col59] [NVARCHAR] (80) NULL,              
      [Col60] [NVARCHAR] (80) NULL             
   )            
                     
   SET @c_SQLJOIN = +N' SELECT DISTINCT CONVERT(NVARCHAR(10), GETDATE(), 111), ISNULL(CL1.[Description],''''), PD.LabelNo, ORD.[Route],'  + CHAR(13) +      --4
                    + ' ORD.ExternOrderkey, CONVERT(NVARCHAR(10), ORD.DeliveryDate, 111), ORD.C_Company, LTRIM(RTRIM(ORD.C_Address1)), '+ CHAR(13) +   --8
                    + ' ORD.C_Phone1, ORD.Notes, '+ CHAR(13) +   --10
                    +N' PD.CartonNo, CASE WHEN CAST(PD.CartonNo AS NVARCHAR(10)) = CAST(PH.TTLCNTS AS NVARCHAR(10)) THEN N''共'' + CAST(PD.CartonNo AS NVARCHAR(10)) + N''箱'' ELSE '''' END,' + CHAR(13) +  --12     
                    + ' LTRIM(RTRIM(ISNULL(CL2.Code,''''))) + LTRIM(RTRIM(ISNULL(CL2.[Description],''''))), PH.PickSlipNo, ' + CHAR(13)
                    + ' LTRIM(RTRIM(ISNULL(F.Zip,''''))) + LTRIM(RTRIM(ISNULL(F.Address1,''''))) , '  + CHAR(13) +  --15
                    + ' LTRIM(RTRIM(ISNULL(ORD.C_Address2,''''))), LTRIM(RTRIM(ISNULL(ORD.C_Address3,''''))), LTRIM(RTRIM(ISNULL(ORD.C_Address4,''''))), '''', '''', ' + CHAR(13) +   --20   --WL01
                    + ' '''','''','''','''','''','''','''','''','''','''','  + CHAR(13) +  --30 
                    + ' '''','''','''','''','''','''','''','''','''','''','  + CHAR(13) +  --40       
                    + ' '''','''','''','''','''','''','''','''','''','''', ' + CHAR(13) +  --50       
                    + ' '''','''','''','''','''','''','''','''','''','''' '   + CHAR(13) + --60                   
                    + ' FROM PACKHEADER PH (NOLOCK) '   + CHAR(13) +     
                    + ' JOIN ORDERS ORD (NOLOCK) ON ORD.Orderkey = PH.Orderkey '   + CHAR(13) + 
                    + ' JOIN PACKDETAIL PD (NOLOCK) ON PD.Pickslipno = PH.Pickslipno '   + CHAR(13) +  
                    + ' JOIN FACILITY F (NOLOCK) ON ORD.Facility = F.Facility ' + CHAR(13) +
                    + ' OUTER APPLY (SELECT TOP 1 ISNULL([Description],'''') AS [Description] 
                                     FROM CODELKUP (NOLOCK) 
                                     WHERE Listname = ''CONTAINERT'' AND Code = ORD.ContainerType
                                     AND (Storerkey = PH.Storerkey OR Storerkey = '''')  
                                     ORDER BY CASE WHEN Storerkey = '''' THEN 2 ELSE 1 END ) AS CL1 '   + CHAR(13) +            
                    + ' OUTER APPLY (SELECT TOP 1 ISNULL(Code,'''') AS Code
                                                , ISNULL([Description],'''') AS [Description] 
                                     FROM CODELKUP (NOLOCK) 
                                     WHERE Listname = ''Vehicle'' AND Code = ORD.IntermodalVehicle
                                     AND (Storerkey = PH.Storerkey OR Storerkey = '''')  
                                     ORDER BY CASE WHEN Storerkey = '''' THEN 2 ELSE 1 END ) AS CL2 '
                    + ' WHERE PD.Pickslipno = @c_Sparm01 '   + CHAR(13) + 
                    + ' AND PD.LabelNo = @c_Sparm02 '
          
   IF @b_debug=1        
   BEGIN        
      SELECT @c_SQLJOIN          
   END                
              
   SET @c_SQL='INSERT INTO #Result (Col01,Col02,Col03,Col04,Col05, Col06,Col07,Col08,Col09'  + CHAR(13) +           
             +',Col10,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22'  + CHAR(13) +           
             +',Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col31,Col32,Col33,Col34' + CHAR(13) +           
             +',Col35,Col36,Col37,Col38,Col39,Col40,Col41,Col42,Col43,Col44'  + CHAR(13) +           
             +',Col45,Col46,Col47,Col48,Col49,Col50,Col51,Col52,Col53,Col54'+ CHAR(13) +           
             +',Col55,Col56,Col57,Col58,Col59,Col60) '          
    
   --SET @c_SQL = @c_SQL + @c_SQLJOIN   
   SET @c_ExecStatements = @c_SQL + CHAR(13) + @c_SQLJOIN 
       
   IF @b_debug=1        
   BEGIN        
      SELECT @c_ExecStatements          
   END  
       
   SET @c_ExecArguments = N' @c_Sparm01    NVARCHAR(60)'  
                          +',@c_Sparm02    NVARCHAR(60)'  
                                     
  
   EXEC sp_ExecuteSql @c_ExecStatements   
                    , @c_ExecArguments  
                    , @c_Sparm01  
                    , @c_Sparm02  
  
   IF @@ERROR <> 0       
   BEGIN  
      SET @n_continue = 3  
      ROLLBACK TRAN  
      GOTO QUIT  
   END       
        
--EXEC sp_executesql @c_SQL          
        
   IF @b_debug=1        
   BEGIN          
      PRINT @c_SQL          
   END        
   IF @b_debug=1        
   BEGIN        
      SELECT * FROM #Result (nolock)        
   END                    
            
EXIT_SP:    
  
   SET @d_Trace_EndTime = GETDATE()  
   SET @c_UserName = SUSER_SNAME()  
     
   --EXEC isp_InsertTraceInfo   
   --   @c_TraceCode = 'BARTENDER',  
   --   @c_TraceName = 'isp_BT_Bartender_TW_LOR_ship_Label_01',  
   --   @c_starttime = @d_Trace_StartTime,  
   --   @c_endtime = @d_Trace_EndTime,  
   --   @c_step1 = @c_UserName,  
   --   @c_step2 = '',  
   --   @c_step3 = '',  
   --   @c_step4 = '',  
   --   @c_step5 = '',  
   --   @c_col1 = @c_Sparm01,   
   --   @c_col2 = @c_Sparm02,  
   --   @c_col3 = @c_Sparm03,  
   --   @c_col4 = @c_Sparm04,  
   --   @c_col5 = @c_Sparm05,  
   --   @b_Success = 1,  
   --   @n_Err = 0,  
   --   @c_ErrMsg = ''              
   
   SELECT * FROM #Result (nolock) 
   
QUIT:                                 
END -- procedure   


GO
GRANT EXECUTE ON [dbo].[isp_BT_Bartender_TW_LOR_ship_Label_01] TO nsql 
GO

  
   
  
  