IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[isp_BT_Bartender_TW_PICKLBL01_YHDC]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
DROP PROCEDURE [dbo].[isp_BT_Bartender_TW_PICKLBL01_YHDC]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO  
  
/******************************************************************************/                   
/* Copyright: LFL                                                             */                   
/* Purpose: isp_BT_Bartender_TW_PICKLBL01_YHDC                                */                   
/*                                                                            */                   
/* Modifications log:                                                         */                   
/*                                                                            */                   
/* Date       Rev  Author     Purposes                                        */  
/*28-AUG-2019 1.0  WLCHOOI	  Created (WMS-10323)                              */  
/******************************************************************************/                  
                    
CREATE PROC [dbo].[isp_BT_Bartender_TW_PICKLBL01_YHDC]                        
(  @c_Sparm01            NVARCHAR(250),                
   @c_Sparm02            NVARCHAR(250),                
   @c_Sparm03            NVARCHAR(250),                
   @c_Sparm04            NVARCHAR(250),                
   @c_Sparm05            NVARCHAR(250),                
   @c_Sparm06            NVARCHAR(250),                
   @c_Sparm07            NVARCHAR(250),                
   @c_Sparm08            NVARCHAR(250),                
   @c_Sparm09            NVARCHAR(250),                
   @c_Sparm10            NVARCHAR(250),          
   @b_debug              INT = 0                           
)                        
AS                        
BEGIN                        
   SET NOCOUNT ON                   
   SET ANSI_NULLS OFF                  
   SET QUOTED_IDENTIFIER OFF                   
   SET CONCAT_NULL_YIELDS_NULL ON                  
 --  SET ANSI_WARNINGS OFF                    --CS01             
                                
   DECLARE                    
      @c_ReceiptKey      NVARCHAR(10),                      
      @c_sku             NVARCHAR(80),                           
      @n_intFlag         INT,       
      @n_CntRec          INT,      
      @c_SQL             NVARCHAR(4000),
      @c_SQLJOIN         NVARCHAR(4000)
      
   DECLARE @d_Trace_StartTime  DATETIME,     
           @d_Trace_EndTime    DATETIME,    
           @c_Trace_ModuleName NVARCHAR(20),     
           @d_Trace_Step1      DATETIME,     
           @c_Trace_Step1      NVARCHAR(20),    
           @c_UserName         NVARCHAR(20),                
           @n_TTLpage          INT,          
           @n_CurrentPage      INT,  
           @c_LastRec          NVARCHAR(1),  
           @c_ExecStatements   NVARCHAR(4000),     
           @c_ExecArguments    NVARCHAR(4000),
           @n_MaxSerialNo      INT,
           @n_RunningNo        INT = 1

    SET @d_Trace_StartTime = GETDATE()    
    SET @c_Trace_ModuleName = ''    
          
    -- SET RowNo = 0               
    SET @c_SQL = ''        
                
    CREATE TABLE [#Result] (               
      [ID]    [INT] IDENTITY(1,1) NOT NULL,                              
      [Col01] [NVARCHAR] (80) NULL,                
      [Col02] [NVARCHAR] (80) NULL,                
      [Col03] [NVARCHAR] (80) NULL,                
      [Col04] [NVARCHAR] (80) NULL,                
      [Col05] [NVARCHAR] (80) NULL,                
      [Col06] [NVARCHAR] (80) NULL,                
      [Col07] [NVARCHAR] (80) NULL,                
      [Col08] [NVARCHAR] (80) NULL,                
      [Col09] [NVARCHAR] (80) NULL,                
      [Col10] [NVARCHAR] (80) NULL,                
      [Col11] [NVARCHAR] (80) NULL,                
      [Col12] [NVARCHAR] (80) NULL,                
      [Col13] [NVARCHAR] (80) NULL,                
      [Col14] [NVARCHAR] (80) NULL,                
      [Col15] [NVARCHAR] (80) NULL,                
      [Col16] [NVARCHAR] (80) NULL,                
      [Col17] [NVARCHAR] (80) NULL,                
      [Col18] [NVARCHAR] (80) NULL,                
      [Col19] [NVARCHAR] (80) NULL,                
      [Col20] [NVARCHAR] (80) NULL,                
      [Col21] [NVARCHAR] (80) NULL,                
      [Col22] [NVARCHAR] (80) NULL,                
      [Col23] [NVARCHAR] (80) NULL,                
      [Col24] [NVARCHAR] (80) NULL,                
      [Col25] [NVARCHAR] (80) NULL,                
      [Col26] [NVARCHAR] (80) NULL,                
      [Col27] [NVARCHAR] (80) NULL,                
      [Col28] [NVARCHAR] (80) NULL,                
      [Col29] [NVARCHAR] (80) NULL,                
      [Col30] [NVARCHAR] (80) NULL,                
      [Col31] [NVARCHAR] (80) NULL,                
      [Col32] [NVARCHAR] (80) NULL,                
      [Col33] [NVARCHAR] (80) NULL,                
      [Col34] [NVARCHAR] (80) NULL,                
      [Col35] [NVARCHAR] (80) NULL,                
      [Col36] [NVARCHAR] (80) NULL,                
      [Col37] [NVARCHAR] (80) NULL,                
      [Col38] [NVARCHAR] (80) NULL,                
      [Col39] [NVARCHAR] (80) NULL,                
      [Col40] [NVARCHAR] (80) NULL,                
      [Col41] [NVARCHAR] (80) NULL,                
      [Col42] [NVARCHAR] (80) NULL,                
      [Col43] [NVARCHAR] (80) NULL,                
      [Col44] [NVARCHAR] (80) NULL,                
      [Col45] [NVARCHAR] (80) NULL,                
      [Col46] [NVARCHAR] (80) NULL,                
      [Col47] [NVARCHAR] (80) NULL,                
      [Col48] [NVARCHAR] (80) NULL,                
      [Col49] [NVARCHAR] (80) NULL,                
      [Col50] [NVARCHAR] (80) NULL,               
      [Col51] [NVARCHAR] (80) NULL,                
      [Col52] [NVARCHAR] (80) NULL,                
      [Col53] [NVARCHAR] (80) NULL,                
      [Col54] [NVARCHAR] (80) NULL,                
      [Col55] [NVARCHAR] (80) NULL,                
      [Col56] [NVARCHAR] (80) NULL,                
      [Col57] [NVARCHAR] (80) NULL,                
      [Col58] [NVARCHAR] (80) NULL,                
      [Col59] [NVARCHAR] (80) NULL,                
      [Col60] [NVARCHAR] (80) NULL               
     )     

   CREATE TABLE #TEMP_Orders (
   Pickheaderkey  NVARCHAR(10),
   SerialNo       NVARCHAR(10),
   UDF03          NVARCHAR(60)  )

   SELECT @n_MaxSerialNo = CASE WHEN ISNULL(OH.[Type],'') = 'ECOM' THEN CAST(CL1.UDF02 AS INT) ELSE CAST(CL1.UDF01 AS INT) END
   FROM ORDERS OH (NOLOCK)
   JOIN PICKHEADER PH (NOLOCK) ON PH.Orderkey = OH.Orderkey
   JOIN CODELKUP CL1 (NOLOCK) ON CL1.LISTNAME = 'CARTPKL' AND CL1.Code = @c_Sparm01
   WHERE OH.Orderkey = @c_Sparm02
   
   IF @n_MaxSerialNo = NULL SET @n_MaxSerialNo = 0

   WHILE(@n_RunningNo <= @n_MaxSerialNo)
   BEGIN
      IF @n_MaxSerialNo = 0
         GOTO EXIT_SP
      
      INSERT INTO #TEMP_Orders
      SELECT PH.Pickheaderkey, CAST(@n_RunningNo AS NVARCHAR(10)), CL1.UDF03
      FROM ORDERS OH WITH (NOLOCK)
      JOIN PICKHEADER PH (NOLOCK) ON PH.Orderkey = OH.Orderkey
      JOIN CODELKUP CL1 (NOLOCK) ON CL1.LISTNAME = 'CARTPKL' AND CL1.Code = @c_Sparm01 
                                AND CL1.Storerkey = CASE WHEN CL1.Storerkey = OH.Storerkey THEN OH.Storerkey ELSE CL1.Storerkey END
      WHERE OH.Orderkey = @c_Sparm02 
 
      SET @n_RunningNo = @n_RunningNo + 1
   END     

   IF @b_debug=1          
   BEGIN            
      SELECT * FROM #TEMP_Orders            
   END  

         
   SET @c_SQLJOIN = +' SELECT Pickheaderkey, SerialNo, UDF03,'''','''','''','''','''','''','''', ' + CHAR(13) --10 
                    +' '''','''','''','''','''','''','''','''','''','''', ' + CHAR(13) --20 
                    +' '''','''','''','''','''','''','''','''','''','''', ' + CHAR(13) --30 
                    +' '''','''','''','''','''','''','''','''','''','''', ' + CHAR(13) --40 
                    +' '''','''','''','''','''','''','''','''','''','''', ' + CHAR(13) --50 
                    +' '''','''','''','''','''','''','''','''','''',''TW''  ' + CHAR(13) --60 
                    +' FROM #TEMP_Orders '	+ CHAR(13)											
                 --   +' WHERE Orderkey = @c_Sparm02   		'+ CHAR(13)										
       
  IF @b_debug=1          
  BEGIN          
   PRINT @c_SQLJOIN            
  END                  
                
  SET @c_SQL='INSERT INTO #Result (Col01,Col02,Col03,Col04,Col05, Col06,Col07,Col08,Col09'  + CHAR(13) +             
             +',Col10,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22'  + CHAR(13) +             
             +',Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col31,Col32,Col33,Col34' + CHAR(13) +             
             +',Col35,Col36,Col37,Col38,Col39,Col40,Col41,Col42,Col43,Col44'  + CHAR(13) +             
             +',Col45,Col46,Col47,Col48,Col49,Col50,Col51,Col52,Col53,Col54'+ CHAR(13) +             
             + ',Col55,Col56,Col57,Col58,Col59,Col60) '            
      
SET @c_SQL = @c_SQL + @c_SQLJOIN      
  
  
 SET @c_ExecArguments = N'     @c_Sparm01          NVARCHAR(80)'
                      +  ',    @c_Sparm02          NVARCHAR(80)'        
                           
                           
   EXEC sp_ExecuteSql     @c_SQL       
                        , @c_ExecArguments      
                        , @c_Sparm01     
                        , @c_Sparm02 
     
          
    --EXEC sp_executesql @c_SQL            
          
   IF @b_debug=1          
   BEGIN            
      PRINT @c_SQL            
   END    
     
           
   IF @b_debug=1          
   BEGIN          
      SELECT * FROM #Result (nolock)          
   END      


   SELECT * FROM #Result    
              
EXIT_SP:      
    
   SET @d_Trace_EndTime = GETDATE()    
   SET @c_UserName = SUSER_SNAME()    
       
                   
END -- procedure  
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF 
GO

GRANT EXECUTE ON [dbo].[isp_BT_Bartender_TW_PICKLBL01_YHDC] TO nSQL 
GO


  