IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[isp_Bartender_CONTENTLBL_GetParm]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
DROP PROCEDURE [dbo].[isp_Bartender_CONTENTLBL_GetParm]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/******************************************************************************/                   
/* Copyright: IDS                                                             */                   
/* Purpose: isp_Bartender_CONTENTLBL_GetParm					                     */                   
/*                                                                            */                   
/* Modifications log:                                                         */                   
/*                                                                            */                   
/* Date       Rev  Author     Purposes                                        */        
/* 2019-06-17 1.0  WLCHOOI    Created (WMS-9327 & WMS-9328)                   */                         
/******************************************************************************/                  
                    
CREATE PROC [dbo].[isp_Bartender_CONTENTLBL_GetParm]                        
(  @parm01            NVARCHAR(250),                
   @parm02            NVARCHAR(250),                
   @parm03            NVARCHAR(250),                
   @parm04            NVARCHAR(250),                
   @parm05            NVARCHAR(250),                
   @parm06            NVARCHAR(250),                
   @parm07            NVARCHAR(250),                
   @parm08            NVARCHAR(250),                
   @parm09            NVARCHAR(250),                
   @parm10            NVARCHAR(250),          
   @b_debug           INT = 0                           
)                        
AS                        
BEGIN                        
   SET NOCOUNT ON                   
   SET ANSI_NULLS OFF                  
   SET QUOTED_IDENTIFIER OFF                   
   SET CONCAT_NULL_YIELDS_NULL OFF                  
                                
   DECLARE                    
      @c_ReceiptKey      NVARCHAR(10),                      
      @c_ExternOrderKey  NVARCHAR(10),                
      @c_Deliverydate    DATETIME,                
      @n_intFlag         INT,       
      @n_CntRec          INT,      
      @c_SQL             NVARCHAR(4000),          
      @c_SQLSORT         NVARCHAR(4000),          
      @c_SQLJOIN         NVARCHAR(4000),  
      @c_condition1      NVARCHAR(150) ,  
      @c_condition2      NVARCHAR(150),  
      @c_SQLGroup        NVARCHAR(4000),  
      @c_SQLOrdBy        NVARCHAR(150)  
             
    DECLARE
      @d_Trace_StartTime  DATETIME,     
      @d_Trace_EndTime    DATETIME,    
      @c_Trace_ModuleName NVARCHAR(20),     
      @d_Trace_Step1      DATETIME,     
      @c_Trace_Step1      NVARCHAR(20),    
      @c_UserName         NVARCHAR(20),  
      @c_ExecStatements   NVARCHAR(4000),      
      @c_ExecArguments    NVARCHAR(4000),
      @c_Short            NVARCHAR(50)          
    
   SET @d_Trace_StartTime = GETDATE()    
   SET @c_Trace_ModuleName = ''    
          
    -- SET RowNo = 0               
   SET @c_SQL = ''       
   SET @c_SQLJOIN = ''          
   SET @c_condition1 = ''  
   SET @c_condition2= ''  
   SET @c_SQLOrdBy = ''  
   SET @c_SQLGroup = ''  
   SET @c_ExecStatements = ''  
   SET @c_ExecArguments = ''  
   SET @c_Short = ''

   --BRCN
   SELECT @c_Short = ISNULL(CL.Short,'')
   FROM PACKHEADER PH (NOLOCK)
   JOIN ORDERS ORD (NOLOCK) ON ORD.OrderKey = PH.OrderKey
   JOIN CODELKUP CL (NOLOCK) ON CL.LISTNAME = 'BRRegion' AND CL.Code = ORD.UserDefine10
                            AND CL.Storerkey = PH.StorerKey
   WHERE PH.PickSlipNo = @parm01 AND ORD.[Type] = 'ZPPK'

   --BBGCN
   IF(ISNULL(@c_Short,'') = '')
   BEGIN
      SELECT @c_Short = ISNULL(ORD.OrderGroup,'')
      FROM PACKHEADER PH (NOLOCK)
      JOIN ORDERS ORD (NOLOCK) ON ORD.OrderKey = PH.OrderKey
      WHERE PH.PickSlipNo = @parm01 AND ORD.[Type] = 'PNP' 
   END

   --If Short still blank, do not print
   IF(ISNULL(@c_Short,'') = '')
   BEGIN
      GOTO EXIT_SP
   END
      
   SET @c_SQLJOIN = 'SELECT DISTINCT PARM1= PD.Pickslipno,PARM2=PD.CartonNo,PARM3= '''' ,PARM4= '''',PARM5='''',PARM6='''',PARM7='''', '+  
         'PARM8='''',PARM9='''',PARM10='''',Key1=''Pickslipno'',Key2=''CartonNo'',Key3=@c_Short,' +  ' Key4='''','+  ' Key5='''' '  +    
       ' FROM PACKHEADER PH WITH (NOLOCK) ' +  
       ' JOIN PACKDETAIL PD WITH (NOLOCK) ON PD.PickSlipNo = PH.PickSlipNo'+ 
       ' WHERE PH.Pickslipno = @Parm01 ' +  
       ' AND PD.CartonNo = CONVERT(INT,@Parm02) '  
     

   SET @c_SQL = @c_SQLJOIN   
      
      --PRINT @c_SQL  
       
    --EXEC sp_executesql @c_SQL      
      
   SET @c_ExecArguments = N'  @parm01           NVARCHAR(80) '      
                          +', @parm02           NVARCHAR(80) '      
                          +', @parm03           NVARCHAR(80) '   
                          +', @c_Short          NVARCHAR(50) '  
     
                           
                           
   EXEC sp_ExecuteSql     @c_SQL       
                        , @c_ExecArguments      
                        , @parm01      
                        , @parm02     
                        , @parm03 
                        , @c_Short 
              
   EXIT_SP:      
    
      SET @d_Trace_EndTime = GETDATE()    
      SET @c_UserName = SUSER_SNAME()    
                              
   END -- procedure     
   GO
   GRANT EXECUTE ON [dbo].[isp_Bartender_CONTENTLBL_GetParm] TO nSQL 
   GO
   
  
  