IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[isp_BT_Bartender_UPC_Label_Pandora]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
DROP PROCEDURE [dbo].[isp_BT_Bartender_UPC_Label_Pandora]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO 

/******************************************************************************/         
/* Copyright: IDS                                                             */         
/* Purpose: BarTender Filter by ShipperKey                                    */         
/*                                                                            */         
/* Modifications log:                                                         */         
/*                                                                            */         
/* Date       Rev  Author     Purposes                                        */         
/* 2019-07-01 1.0  WLCHOOI    Created (WMS-9503)                              */   
/******************************************************************************/        
          
CREATE PROC [dbo].[isp_BT_Bartender_UPC_Label_Pandora]               
(  @c_Sparm01            NVARCHAR(250),      
   @c_Sparm02            NVARCHAR(250),      
   @c_Sparm03            NVARCHAR(250),      
   @c_Sparm04            NVARCHAR(250),      
   @c_Sparm05            NVARCHAR(250),      
   @c_Sparm06            NVARCHAR(250),      
   @c_Sparm07            NVARCHAR(250),      
   @c_Sparm08            NVARCHAR(250),      
   @c_Sparm09            NVARCHAR(250),      
   @c_Sparm10            NVARCHAR(250),
   @b_debug              INT = 0               
)              
AS              
BEGIN              
   SET NOCOUNT ON         
   SET ANSI_NULLS OFF        
   SET QUOTED_IDENTIFIER OFF         
   SET CONCAT_NULL_YIELDS_NULL OFF        
                      
   DECLARE          
      @c_CarrierKey         NVARCHAR(15),            
      @c_CarrierName        NVARCHAR(30),           
      @c_ExternReceiptKey   NVARCHAR(20),      
      @c_SQL                NVARCHAR(4000),
      @c_SQLSORT            NVARCHAR(4000),
      @c_SQLJOIN            NVARCHAR(4000),
      @c_ChkStatus          NVARCHAR(2),
      @c_ExecStatements     NVARCHAR(4000),   
      @c_ExecArguments      NVARCHAR(4000),
      @c_ExtraJoinCondition NVARCHAR(4000),
      @c_WhereCondition     NVARCHAR(4000),
      @c_SKU                NVARCHAR(20),
      @n_NoofCopy           INT,
      @n_NoOfCopyPerSKU     INT,
      @n_TotalLabel         INT,
      @n_LabelSeq           INT = 0,
      @c_TempParm04         INT,
      @c_TempParm05         INT     

    -- SET RowNo = 0     
    SET @c_SQL = ''  
    SET @c_ExtraJoinCondition = ''

    CREATE TABLE #SKUxNoofCopy (
    SKU      NVARCHAR(20),
    NoofCopy INT )
      
    CREATE TABLE [#Result] (     
      [ID]    [INT] IDENTITY(1,1) NOT NULL,                    
      [Col01] [NVARCHAR] (80) NULL,      
      [Col02] [NVARCHAR] (80) NULL,      
      [Col03] [NVARCHAR] (80) NULL,      
      [Col04] [NVARCHAR] (80) NULL,      
      [Col05] [NVARCHAR] (80) NULL,      
      [Col06] [NVARCHAR] (80) NULL,      
      [Col07] [NVARCHAR] (80) NULL,      
      [Col08] [NVARCHAR] (80) NULL,      
      [Col09] [NVARCHAR] (80) NULL,      
      [Col10] [NVARCHAR] (80) NULL,      
      [Col11] [NVARCHAR] (80) NULL,      
      [Col12] [NVARCHAR] (80) NULL,      
      [Col13] [NVARCHAR] (80) NULL,      
      [Col14] [NVARCHAR] (80) NULL,      
      [Col15] [NVARCHAR] (80) NULL,      
      [Col16] [NVARCHAR] (80) NULL,      
      [Col17] [NVARCHAR] (80) NULL,      
      [Col18] [NVARCHAR] (80) NULL,      
      [Col19] [NVARCHAR] (80) NULL,      
      [Col20] [NVARCHAR] (80) NULL,      
      [Col21] [NVARCHAR] (80) NULL,      
      [Col22] [NVARCHAR] (80) NULL,      
      [Col23] [NVARCHAR] (80) NULL,      
      [Col24] [NVARCHAR] (80) NULL,      
      [Col25] [NVARCHAR] (80) NULL,      
      [Col26] [NVARCHAR] (80) NULL,      
      [Col27] [NVARCHAR] (80) NULL,      
      [Col28] [NVARCHAR] (80) NULL,      
      [Col29] [NVARCHAR] (80) NULL,      
      [Col30] [NVARCHAR] (80) NULL,      
      [Col31] [NVARCHAR] (80) NULL,      
      [Col32] [NVARCHAR] (80) NULL,      
      [Col33] [NVARCHAR] (80) NULL,      
      [Col34] [NVARCHAR] (80) NULL,      
      [Col35] [NVARCHAR] (80) NULL,      
      [Col36] [NVARCHAR] (80) NULL,      
      [Col37] [NVARCHAR] (80) NULL,      
      [Col38] [NVARCHAR] (80) NULL,      
      [Col39] [NVARCHAR] (80) NULL,      
      [Col40] [NVARCHAR] (80) NULL,      
      [Col41] [NVARCHAR] (80) NULL,      
      [Col42] [NVARCHAR] (80) NULL,      
      [Col43] [NVARCHAR] (80) NULL,      
      [Col44] [NVARCHAR] (80) NULL,      
      [Col45] [NVARCHAR] (80) NULL,      
      [Col46] [NVARCHAR] (80) NULL,      
      [Col47] [NVARCHAR] (80) NULL,      
      [Col48] [NVARCHAR] (80) NULL,      
      [Col49] [NVARCHAR] (80) NULL,      
      [Col50] [NVARCHAR] (80) NULL,     
      [Col51] [NVARCHAR] (80) NULL,      
      [Col52] [NVARCHAR] (80) NULL,      
      [Col53] [NVARCHAR] (80) NULL,      
      [Col54] [NVARCHAR] (80) NULL,      
      [Col55] [NVARCHAR] (80) NULL,      
      [Col56] [NVARCHAR] (80) NULL,      
      [Col57] [NVARCHAR] (80) NULL,      
      [Col58] [NVARCHAR] (80) NULL,      
      [Col59] [NVARCHAR] (80) NULL,      
      [Col60] [NVARCHAR] (80) NULL     
     )      

   IF (ISNULL(@c_Sparm02,'') = '' AND ISNULL(@c_Sparm03,'') <> '') --Receiptkey IS NOT NULL
   BEGIN
      SET @c_ExtraJoinCondition = ' JOIN RECEIPTDETAIL RD WITH (NOLOCK) ON RD.SKU = UPC.SKU AND RD.Storerkey = UPC.Storerkey '
      SET @c_WhereCondition = ' AND RD.RECEIPTKEY = @c_Sparm03 '
                            + ' AND RD.SKU = @c_SKU '
      
      INSERT INTO #SKUxNoofCopy
      SELECT  RD.SKU 
             ,CASE WHEN Pack.InnerPack = 0 -- If Pack.InnerPack not maintain
              THEN 0 
              ELSE 
                 CASE WHEN FLOOR(SUM(RD.QtyExpected) / Pack.InnerPack) = 0 
                 THEN 1 -- If 10/100 = 0, print 1 label
                 ELSE 
                 FLOOR(SUM(RD.QtyExpected) / Pack.InnerPack) 
                 END 
              END
      FROM RECEIPTDETAIL RD (NOLOCK) 
      JOIN SKU (NOLOCK) ON RD.SKU = SKU.SKU AND SKU.STORERKEY = RD.STORERKEY
      JOIN PACK (NOLOCK) ON PACK.PACKKEY = SKU.PACKKEY
      WHERE RD.RECEIPTKEY = @c_Sparm03
      GROUP BY RD.SKU, Pack.InnerPack 
   END

   IF (ISNULL(@c_Sparm02,'') <> '' AND ISNULL(@c_Sparm03,'') = '') --Receiptkey IS NULL
   BEGIN
      SET @c_ExtraJoinCondition = ''
      SET @c_WhereCondition = ' AND UPC.SKU= @c_SKU '
      SET @c_TempParm04 = '1'
      SET @c_TempParm05 = @c_Sparm05 --Print how many labels
      SET @c_Sparm04 = '' --Reset
      SET @c_Sparm05 = '' --Reset

      INSERT INTO #SKUxNoofCopy
      SELECT UPC.SKU, @c_TempParm05 
      FROM UPC (NOLOCK)
      WHERE UPC.SKU = @c_Sparm02 AND UPC.STORERKEY = @c_Sparm01
   END

   IF (ISNULL(@c_Sparm02,'') <> '' AND ISNULL(@c_Sparm03,'') <> '')  --Receiptkey, SKU ARE NOT NULL
   BEGIN
      SET @c_ExtraJoinCondition = ''
      SET @c_WhereCondition = ' AND UPC.SKU= @c_SKU '
      SET @c_TempParm04 = '1'
      SET @c_TempParm05 = @c_Sparm05 --Print how many labels
      SET @c_Sparm04 = '' --Reset
      SET @c_Sparm05 = '' --Reset

      INSERT INTO #SKUxNoofCopy
      SELECT UPC.SKU, @c_TempParm05 
      FROM UPC (NOLOCK)
      --CROSS APPLY (SELECT TOP 1 RD.SKU, RD.ReceiptKey FROM RECEIPTDETAIL RD (NOLOCK) WHERE RD.SKU = UPC.SKU AND RD.STORERKEY = UPC.STORERKEY) AS RD
      JOIN RECEIPTDETAIL RD (NOLOCK) ON RD.SKU = UPC.SKU AND RD.STORERKEY = UPC.STORERKEY
      WHERE UPC.SKU = @c_Sparm02 AND UPC.STORERKEY = @c_Sparm01 AND RD.RECEIPTKEY = @c_Sparm03
   END

   SELECT @n_TotalLabel = SUM(NoOfCopy) FROM #SKUxNoofCopy

   DECLARE Cur_SKU CURSOR FAST_FORWARD READ_ONLY FOR
   SELECT SKU, NoofCopy, SUM(NoofCopy)
   FROM #SKUxNoofCopy
   GROUP BY SKU, NoofCopy
   ORDER BY SKU

   OPEN Cur_SKU

   FETCH NEXT FROM Cur_SKU INTO  @c_SKU, @n_NoofCopy, @n_NoOfCopyPerSKU

   WHILE @@FETCH_STATUS <> -1

   BEGIN
      WHILE (@n_NoofCopy > 0)
      BEGIN
         SET @n_LabelSeq = @n_LabelSeq + 1
         SET @c_SQLJOIN = +' SELECT DISTINCT UPC.SKU,UPC.UPC,CAST(@n_LabelSeq AS NVARCHAR(20)),'''','    
                   + CHAR(13) +   
                   +' '''','''','''','''','''','''','                   
                   + CHAR(13) +  
                   +' '''','''','''','''','''','''','''','''','''','''', '   
                   + CHAR(13) +  
                   +' '''','''','''','''','''','''','''','''','''','''', '   
                   + CHAR(13) +  
                   +' '''','''','''','''','''','''','''','''','''','''','   
                   + CHAR(13) +  
                   +' '''','''','''','''','''','''','''','''','''','''', '   
                   + CHAR(13) +   
                   +' '''','''','''','''','''','''','''','''',CAST(@n_NoOfCopyPerSKU AS NVARCHAR(20)), CAST(@n_TotalLabel AS NVARCHAR(20)) '   
                   + CHAR(13) +    
                   + ' FROM UPC WITH (NOLOCK) '
                   +   @c_ExtraJoinCondition
                   + ' WHERE UPC.StorerKey = @c_Sparm01 '
                   +   @c_WhereCondition

                  IF @b_debug='1'
                  BEGIN
                     PRINT @c_SQLJOIN  
                  END        
      
         SET @c_SQL='INSERT INTO #Result (Col01,Col02,Col03,Col04,Col05, Col06,Col07,Col08,Col09'  + CHAR(13) +   
                   +',Col10,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22'  + CHAR(13) +   
                   +',Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col31,Col32,Col33,Col34' + CHAR(13) +   
                   +',Col35,Col36,Col37,Col38,Col39,Col40,Col41,Col42,Col43,Col44'  + CHAR(13) +   
                   +',Col45,Col46,Col47,Col48,Col49,Col50,Col51,Col52,Col53,Col54'+ CHAR(13) +   
                   + ',Col55,Col56,Col57,Col58,Col59,Col60) '  

         SET @c_SQL = @c_SQL + @c_SQLJOIN

           -- EXEC sp_executesql @c_SQL  

         SET @c_ExecArguments = N'  @c_Sparm01           NVARCHAR(80)'   
                               + ', @c_Sparm02           NVARCHAR(80)'    
                               + ', @c_Sparm03           NVARCHAR(80)'   
                               + ', @c_Sku               NVARCHAR(80)' 
                               + ', @n_LabelSeq          NVARCHAR(80)' 
                               + ', @n_TotalLabel        NVARCHAR(80)'
                               + ', @n_NoOfCopyPerSKU    NVARCHAR(80)'
					 
         EXEC sp_ExecuteSql @c_SQL     
                          , @c_ExecArguments    
                          , @c_Sparm01
                          , @c_Sparm02  
                          , @c_Sparm03  
                          , @c_Sku 
                          , @n_LabelSeq
                          , @n_TotalLabel
                          , @n_NoOfCopyPerSKU

         SET @n_NoofCopy = @n_NoofCopy - 1
      END --WHILE
      FETCH NEXT FROM Cur_SKU INTO  @c_SKU, @n_NoofCopy, @n_NoOfCopyPerSKU
   END --CURSOR
   CLOSE Cur_SKU
   DEALLOCATE Cur_SKU

   IF @b_debug=1
   BEGIN  
      PRINT @c_SQL  
   END

   SELECT * FROM #Result WITH (NOLOCK) 
   WHERE ID BETWEEN CASE WHEN ISNULL(@c_Sparm04,'') <> '' AND ISNULL(@c_Sparm05,'') <> '' THEN @c_Sparm04 ELSE ID END
   AND CASE WHEN ISNULL(@c_Sparm04,'') <> '' AND ISNULL(@c_Sparm05,'') <> '' THEN @c_Sparm05 ELSE ID END

   DROP TABLE #SKUxNoofCopy

   EXIT_SP:       
                               
END -- procedure     

GO
GRANT EXECUTE ON [dbo].[isp_BT_Bartender_UPC_Label_Pandora] TO nsql
GO
   