IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[isp_Bartender_UPCLABEL2_GetParm]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
DROP PROCEDURE [dbo].[isp_Bartender_UPCLABEL2_GetParm]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/******************************************************************************/                   
/* Copyright: IDS                                                             */                   
/* Purpose: isp_Bartender_UPCLABEL2_GetParm					                     */                   
/*                                                                            */                   
/* Modifications log:                                                         */                   
/*                                                                            */                   
/* Date       Rev  Author     Purposes                                        */        
/* 2019-06-17 1.0  WLCHOOI    Created (WMS-9503)                              */                         
/******************************************************************************/                  
                    
CREATE PROC [dbo].[isp_Bartender_UPCLABEL2_GetParm]                        
(  @parm01            NVARCHAR(250),                
   @parm02            NVARCHAR(250),                
   @parm03            NVARCHAR(250),                
   @parm04            NVARCHAR(250),                
   @parm05            NVARCHAR(250),                
   @parm06            NVARCHAR(250),                
   @parm07            NVARCHAR(250),                
   @parm08            NVARCHAR(250),                
   @parm09            NVARCHAR(250),                
   @parm10            NVARCHAR(250),          
   @b_debug           INT = 0                           
)                        
AS                        
BEGIN                        
   SET NOCOUNT ON                   
   SET ANSI_NULLS OFF                  
   SET QUOTED_IDENTIFIER OFF                   
   SET CONCAT_NULL_YIELDS_NULL OFF                  
                                
   DECLARE                                 
      @n_intFlag         INT,       
      @n_CntRec          INT,      
      @c_SQL             NVARCHAR(4000),          
      @c_SQLSORT         NVARCHAR(4000),          
      @c_SQLJOIN         NVARCHAR(4000),  
      @c_condition1      NVARCHAR(150) ,  
      @c_condition2      NVARCHAR(150),  
      @c_SQLGroup        NVARCHAR(4000),  
      @c_SQLOrdBy        NVARCHAR(150)  
             
    DECLARE
      @d_Trace_StartTime  DATETIME,     
      @d_Trace_EndTime    DATETIME,    
      @c_Trace_ModuleName NVARCHAR(20),     
      @d_Trace_Step1      DATETIME,     
      @c_Trace_Step1      NVARCHAR(20),    
      @c_UserName         NVARCHAR(20),  
      @c_ExecStatements   NVARCHAR(4000),      
      @c_ExecArguments    NVARCHAR(4000)       
    
   SET @d_Trace_StartTime = GETDATE()    
   SET @c_Trace_ModuleName = ''    
          
    -- SET RowNo = 0               
   SET @c_SQL = ''       
   SET @c_SQLJOIN = ''          
   SET @c_condition1 = ''  
   SET @c_condition2= ''  
   SET @c_SQLOrdBy = ''  
   SET @c_SQLGroup = ''  
   SET @c_ExecStatements = ''  
   SET @c_ExecArguments = ''  

   IF(ISNULL(@Parm02,'') = '')
   BEGIN
      SET @c_SQLJOIN = 'SELECT DISTINCT PARM1 = S.StorerKey,PARM2 = '''',PARM3= @Parm03 ,PARM4= @Parm04,PARM5 = @Parm05,PARM6='''',PARM7='''', '+  
            'PARM8='''',PARM9='''',PARM10='''',Key1=''Storerkey'',Key2=''SKU'',Key3=''Receiptkey'',Key04=''StartNum'',Key05=''EndNum'' ' +
           ' FROM SKU S WITH (NOLOCK) ' +  
           ' WHERE S.Storerkey = @Parm01 ' 
   END 
   ELSE
   BEGIN
      SET @c_SQLJOIN = 'SELECT DISTINCT PARM1 = S.StorerKey,PARM2 = S.Sku,PARM3= @Parm03 ,PARM4= @Parm04,PARM5 = @Parm05,PARM6='''',PARM7='''', '+  
            'PARM8='''',PARM9='''',PARM10='''',Key1=''Storerkey'',Key2=''SKU'',Key3=''Receiptkey'',Key04=''StartNum'',Key05=''EndNum'' ' +
           ' FROM SKU S WITH (NOLOCK) ' +  
           ' WHERE S.Storerkey = @Parm01 ' +  
           ' AND S.SKU = @Parm02 ' 
   END 
     

   SET @c_SQL = @c_SQLJOIN   
      
      --PRINT @c_SQL  
       
    --EXEC sp_executesql @c_SQL      
      
   SET @c_ExecArguments = N'  @parm01           NVARCHAR(80) '      
                          +', @parm02           NVARCHAR(80) '      
                          +', @parm03           NVARCHAR(80) '   
                          +', @parm04           NVARCHAR(80) ' 
                          +', @parm05           NVARCHAR(80) ' 
     
                                                
   EXEC sp_ExecuteSql     @c_SQL       
                        , @c_ExecArguments      
                        , @parm01      
                        , @parm02     
                        , @parm03 
                        , @parm04
                        , @parm05
              
   EXIT_SP:      
    
      SET @d_Trace_EndTime = GETDATE()    
      SET @c_UserName = SUSER_SNAME()    
                              
   END -- procedure     
   GO
   GRANT EXECUTE ON [dbo].[isp_Bartender_UPCLABEL2_GetParm] TO nSQL 
   GO
   
  
  