IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[isp_BT_Bartender_HK_SHIPYMTJP_AEO]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
DROP PROCEDURE [dbo].[isp_BT_Bartender_HK_SHIPYMTJP_AEO]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO   

/******************************************************************************/                 
/* Copyright: IDS                                                             */                 
/* Purpose: isp_BT_Bartender_HK_SHIPYMTJP_AEO                                 */                 
/*                                                                            */                 
/* Modifications log:                                                         */                 
/*                                                                            */                 
/* Date       Rev  Author     Purposes                                        */                 
/* 2020-06-04 1.0  CSCHONG    Created (WMS-13576)                             */
/* 2021-03-16 1.1  WLChooi    WMS-16581 - Add Col16 (WL01)                    */ 
/* 2021-04-02 1.2  CSCHONG    WMS-16024 PB-Standardize TrackingNo  (CS02)     */ 
/******************************************************************************/                
                  
CREATE PROC [dbo].[isp_BT_Bartender_HK_SHIPYMTJP_AEO]                               
(  @c_Sparm1            NVARCHAR(250),                      
   @c_Sparm2            NVARCHAR(250),                      
   @c_Sparm3            NVARCHAR(250),                      
   @c_Sparm4            NVARCHAR(250),                      
   @c_Sparm5            NVARCHAR(250),                      
   @c_Sparm6            NVARCHAR(250),                      
   @c_Sparm7            NVARCHAR(250),                      
   @c_Sparm8            NVARCHAR(250),                      
   @c_Sparm9            NVARCHAR(250),                      
   @c_Sparm10           NVARCHAR(250),                
   @b_debug             INT = 0                                 
)                              
AS                              
BEGIN                              
   SET NOCOUNT ON                         
   SET ANSI_NULLS OFF                        
   SET QUOTED_IDENTIFIER OFF                         
   SET CONCAT_NULL_YIELDS_NULL OFF                        
   SET ANSI_WARNINGS OFF                              
                                      
   DECLARE            
      @n_TTLSKUCNT         INT,
      @n_TTLSKUQTY         INT, 
      @n_Page              INT,
      @n_ID                INT, 
      @n_RID               INT, 
      @n_MaxLine           INT,       
      @n_MaxLineRec        INT, 
      @c_OHCompany         NVARCHAR(45),
      @c_OHAddress1        NVARCHAR(45),
      @c_OHAddress2        NVARCHAR(45),
      @c_OHAddress3        NVARCHAR(45),
      @c_OHAddress4        NVARCHAR(45),
      @c_OHState           NVARCHAR(45),
      @c_ExtOrderkey       NVARCHAR(30),
      @c_OHTrackingno      NVARCHAR(45),
      @c_OHUDF04           NVARCHAR(45),
      @c_OHccity           NVARCHAR(45),
      @c_OHCCountry        NVARCHAR(45),
      @c_PUPC              NVARCHAR(30),
      @c_contact1          NVARCHAR(30), 
      @c_contact2          NVARCHAR(30), 
      @c_phone1            NVARCHAR(30),
      @c_Col16             NVARCHAR(80) = ''  --WL01
  
   Declare                           
      @c_SQL             NVARCHAR(4000),                
      @c_SQLSORT         NVARCHAR(4000),                
      @c_SQLJOIN         NVARCHAR(4000),                    
      @n_TTLpage         INT          
          
   DECLARE  @d_Trace_StartTime   DATETIME,           
            @d_Trace_EndTime    DATETIME,          
            @c_Trace_ModuleName NVARCHAR(20),           
            @d_Trace_Step1      DATETIME,           
            @c_Trace_Step1      NVARCHAR(20),          
            @c_UserName         NVARCHAR(20)            
          
   SET @d_Trace_StartTime = GETDATE()          
   SET @c_Trace_ModuleName = ''          
                
    -- SET RowNo = 0                     
   SET @c_SQL = ''                
                 
--    IF OBJECT_ID('tempdb..#Result','u') IS NOT NULL        
--      DROP TABLE #Result;        
          
   CREATE TABLE [#Result] (                     
      [ID]    [INT] IDENTITY(1,1) NOT NULL,                                    
      [Col01] [NVARCHAR] (80) NULL,                      
      [Col02] [NVARCHAR] (80) NULL,                      
      [Col03] [NVARCHAR] (80) NULL,                      
      [Col04] [NVARCHAR] (80) NULL,                      
      [Col05] [NVARCHAR] (80) NULL,                      
      [Col06] [NVARCHAR] (80) NULL,                      
      [Col07] [NVARCHAR] (80) NULL,                      
      [Col08] [NVARCHAR] (80) NULL,                      
      [Col09] [NVARCHAR] (80) NULL,                      
      [Col10] [NVARCHAR] (80) NULL,                      
      [Col11] [NVARCHAR] (80) NULL,                      
      [Col12] [NVARCHAR] (80) NULL,                      
      [Col13] [NVARCHAR] (80) NULL,                      
      [Col14] [NVARCHAR] (80) NULL,                      
      [Col15] [NVARCHAR] (80) NULL,                      
      [Col16] [NVARCHAR] (80) NULL,                      
      [Col17] [NVARCHAR] (80) NULL,                      
      [Col18] [NVARCHAR] (80) NULL,                      
      [Col19] [NVARCHAR] (80) NULL,                      
      [Col20] [NVARCHAR] (80) NULL,                      
      [Col21] [NVARCHAR] (80) NULL,                      
      [Col22] [NVARCHAR] (80) NULL,                      
      [Col23] [NVARCHAR] (80) NULL,                      
      [Col24] [NVARCHAR] (80) NULL,                      
      [Col25] [NVARCHAR] (80) NULL,                      
      [Col26] [NVARCHAR] (80) NULL,                      
      [Col27] [NVARCHAR] (80) NULL,                      
      [Col28] [NVARCHAR] (80) NULL,                      
      [Col29] [NVARCHAR] (80) NULL,                      
      [Col30] [NVARCHAR] (80) NULL,                      
      [Col31] [NVARCHAR] (80) NULL,                      
      [Col32] [NVARCHAR] (80) NULL,                      
      [Col33] [NVARCHAR] (80) NULL,                      
      [Col34] [NVARCHAR] (80) NULL,                      
      [Col35] [NVARCHAR] (80) NULL,                      
      [Col36] [NVARCHAR] (80) NULL,                      
      [Col37] [NVARCHAR] (80) NULL,                      
      [Col38] [NVARCHAR] (80) NULL,                      
      [Col39] [NVARCHAR] (80) NULL,                      
      [Col40] [NVARCHAR] (80) NULL,                      
      [Col41] [NVARCHAR] (80) NULL,                      
      [Col42] [NVARCHAR] (80) NULL,                      
      [Col43] [NVARCHAR] (80) NULL,                      
      [Col44] [NVARCHAR] (80) NULL,                      
      [Col45] [NVARCHAR] (80) NULL,                      
      [Col46] [NVARCHAR] (80) NULL,                      
      [Col47] [NVARCHAR] (80) NULL,                      
      [Col48] [NVARCHAR] (80) NULL,                      
      [Col49] [NVARCHAR] (80) NULL,                      
      [Col50] [NVARCHAR] (80) NULL,                     
      [Col51] [NVARCHAR] (80) NULL,                      
      [Col52] [NVARCHAR] (80) NULL,                      
      [Col53] [NVARCHAR] (80) NULL,                      
      [Col54] [NVARCHAR] (80) NULL,                      
      [Col55] [NVARCHAR] (80) NULL,                      
      [Col56] [NVARCHAR] (80) NULL,                      
      [Col57] [NVARCHAR] (80) NULL,                      
      [Col58] [NVARCHAR] (80) NULL,                      
      [Col59] [NVARCHAR] (80) NULL,    
      [Col60] [NVARCHAR] (80) NULL                     
   )                    
                                        
   IF @b_debug=1                
   BEGIN                  
      PRINT 'start'                  
   END    
   
   --WL01 S
   SELECT @c_OHCCountry = C_Country
   FROM ORDERS (NOLOCK)
   WHERE OrderKey = @c_Sparm4
   
   IF ISNULL(@c_OHCCountry,'') = 'TW'
   BEGIN
      SELECT @c_Col16 = CASE WHEN SUM(PD.Qty * ISNULL(OD.UnitPrice, 0) ) > 2001 THEN N'高價' ELSE N'低價' END
      FROM ORDERDETAIL OD (NOLOCK)
      JOIN PICKDETAIL PD (NOLOCK) ON OD.OrderKey = PD.OrderKey AND OD.Sku = PD.Sku AND OD.OrderLineNumber = PD.OrderLineNumber
      WHERE OD.OrderKey = @c_Sparm4
   END
   --WL01 E      
          
   DECLARE CUR_StartRecLoop CURSOR LOCAL FAST_FORWARD READ_ONLY FOR            
   SELECT distinct o.C_Company,ISNULL(o.C_Address1,'') , ISNULL(o.C_Address2,'') , ISNULL(o.C_Address3,''),ISNULL(o.C_Address4,''),
   ISNULL(o.C_city,''),ISNULL(o.c_state,''),ISNULL(o.c_country,''), o.ExternOrderkey,ISNULL(o.trackingno,''),  --10  --CS01
   ISNULL(o.Trackingno,''),ISNULL(pd.UPC,''),ISNULL(o.C_contact1,''),ISNULL(o.C_Contact2,''),ISNULL(o.C_phone1,'')
   FROM PackHeader AS ph WITH (NOLOCK) 
   JOIN PackDetail AS pd WITH (NOLOCK) ON pd.PickSlipNo = ph.PickSlipNo 
   JOIN ORDERS AS o WITH (NOLOCK) ON o.OrderKey = ph.OrderKey  
   JOIN Storer ST WITH (NOLOCK) ON ST.storerkey=o.storerkey  
   WHERE o.StorerKey = @c_Sparm3
   AND PH.Orderkey = @c_Sparm4 
   AND pd.LabelNo =@c_Sparm2 AND pd.CartonNo = @c_Sparm5   
          
   OPEN CUR_StartRecLoop                    
               
   FETCH NEXT FROM CUR_StartRecLoop INTO  @c_OHCompany,@c_OHAddress1,@c_OHAddress2,@c_OHAddress3,@c_OHAddress4,@c_OHccity,
                                          @c_OHState,@c_OHCCountry,@c_ExtOrderkey,@c_OHUDF04,@c_OHTrackingno,@c_PUPC,
                                          @c_contact1,@c_contact2,@c_phone1
   WHILE @@FETCH_STATUS <> -1                    
   BEGIN           
      IF @b_debug=1                
      BEGIN                  
         PRINT 'Cur start'                  
      END          
          
      INSERT INTO #Result (Col01,Col02,Col03,Col04,Col05, Col06,Col07,Col08,Col09                   
                          ,Col10,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22                 
                          ,Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col31,Col32,Col33,Col34                  
                          ,Col35,Col36,Col37,Col38,Col39,Col40,Col41,Col42,Col43,Col44                   
                          ,Col45,Col46,Col47,Col48,Col49,Col50,Col51,Col52,Col53,Col54                 
                          ,Col55,Col56,Col57,Col58,Col59,Col60)             
      VALUES(@c_OHCompany,@c_OHAddress1,@c_OHAddress2,@c_OHAddress3,@c_OHAddress4,@c_OHccity,@c_OHState,        --7 
             @c_OHCCountry,@c_ExtOrderkey,@c_OHUDF04,@c_OHTrackingno,@c_PUPC,@c_contact1,       --13  
             @c_contact2,@c_phone1,@c_Col16,'','','','',                                        --20   --WL01       
             '','' ,'','','','',       --26
             '','','','', '','','','','','','','','',   --39
             '','','','','','','','','','',''        --50   
             ,'','','','','','','','','','O')          
           
   IF @b_debug=1                
   BEGIN                
      SELECT * FROM #Result (nolock)                
   END      
   
   FETCH NEXT FROM CUR_StartRecLoop INTO  @c_OHCompany,@c_OHAddress1,@c_OHAddress2,@c_OHAddress3,@c_OHAddress4,@c_OHccity,
                                          @c_OHState,@c_OHCCountry,@c_ExtOrderkey,@c_OHUDF04,@c_OHTrackingno,@c_PUPC,
                                          @c_contact1,@c_contact2,@c_phone1
   
   END                                     
                     
   SELECT * from #result WITH (NOLOCK)  
                 
EXIT_SP:            
   SET @d_Trace_EndTime = GETDATE()          
   SET @c_UserName = SUSER_SNAME()          
             
   EXEC isp_InsertTraceInfo           
      @c_TraceCode = 'BARTENDER',          
      @c_TraceName = 'isp_BT_Bartender_HK_SHIPYMTJP_AEO',          
      @c_starttime = @d_Trace_StartTime,          
      @c_endtime = @d_Trace_EndTime,          
      @c_step1 = @c_UserName,          
      @c_step2 = '',          
      @c_step3 = '',          
      @c_step4 = '',          
      @c_step5 = '',          
      @c_col1 = @c_Sparm1,           
      @c_col2 = @c_Sparm2,          
      @c_col3 = @c_Sparm3,          
      @c_col4 = @c_Sparm4,          
      @c_col5 = @c_Sparm5,          
      @b_Success = 1,          
      @n_Err = 0,          
      @c_ErrMsg = ''                      
           
                                    
END -- procedure   
GO
GRANT EXECUTE ON [dbo].[isp_BT_Bartender_HK_SHIPYMTJP_AEO] TO nsql 
GO 


      