/************************************************************************/
/* Table:  EC_InventoryHold                                             */
/* Copyright: MAERSK                                                    */
/*                                                                      */
/* Updates:                                                             */
/* Date         Author    Ver.  Purposes                                */
/* 26-Sep-2025  MICHAEL   1.1   FCR-7829 Add UCCNo (ML01)               */
/************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EC_InventoryHold]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EC_InventoryHold](
	[InventoryHoldKey] [int] IDENTITY(1,1) NOT NULL,
	[Storerkey] [nvarchar](18) NULL,
	[SKU] [nvarchar](20) NULL,
	[SKU_DESCR] [nvarchar](60) NULL,
	[Lottable01] [nvarchar](18) NULL,
	[Lottable02] [nvarchar](18) NULL,
	[Lottable03] [nvarchar](18) NULL,
	[Lottable04] [datetime] NULL,
	[Lottable05] [datetime] NULL,
	[Hold] [bit] NOT NULL,
	[ReasonCode] [nvarchar](10) NOT NULL,
	[Remark] [nvarchar](255) NULL,
	[DateOn] [datetime] NOT NULL,
	[WhoOn] [nvarchar](128) NOT NULL,
	[DateOff] [datetime] NOT NULL,
	[WhoOff] [nvarchar](128) NOT NULL,
	[Lottable06] [nvarchar](30) NULL,
	[Lottable07] [nvarchar](30) NULL,
	[Lottable08] [nvarchar](30) NULL,
	[Lottable09] [nvarchar](30) NULL,
	[Lottable10] [nvarchar](30) NULL,
	[Lottable11] [nvarchar](30) NULL,
	[Lottable12] [nvarchar](30) NULL,
	[Lottable13] [datetime] NULL,
	[Lottable14] [datetime] NULL,
	[Lottable15] [datetime] NULL,
   [UCCNo] [nvarchar](20) NULL,   --ML01
 CONSTRAINT [PKEC_InventoryHold] PRIMARY KEY CLUSTERED 
(
	[InventoryHoldKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='Storerkey')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  DEFAULT ('') FOR [Storerkey]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='SKU')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  DEFAULT ('') FOR [SKU]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='Lottable01')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  DEFAULT ('') FOR [Lottable01]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='Lottable02')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  DEFAULT ('') FOR [Lottable02]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='Lottable03')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  DEFAULT ('') FOR [Lottable03]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='ReasonCode')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_ECIH_Status]  DEFAULT ('') FOR [ReasonCode]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='DateOn')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_ECIH_DateOn]  DEFAULT (getdate()) FOR [DateOn]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='WhoOn')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_ECIH_WhoOn]  DEFAULT (suser_sname()) FOR [WhoOn]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='DateOff')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_ECIH_DateOff]  DEFAULT (getdate()) FOR [DateOff]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='WhoOff')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_ECIH_WhoOff]  DEFAULT (suser_sname()) FOR [WhoOff]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='Lottable06')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_EC_InventoryHold_Lottable06]  DEFAULT ('') FOR [Lottable06]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='Lottable07')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_EC_InventoryHold_Lottable07]  DEFAULT ('') FOR [Lottable07]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='Lottable08')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_EC_InventoryHold_Lottable08]  DEFAULT ('') FOR [Lottable08]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='Lottable09')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_EC_InventoryHold_Lottable09]  DEFAULT ('') FOR [Lottable09]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='Lottable10')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_EC_InventoryHold_Lottable10]  DEFAULT ('') FOR [Lottable10]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='Lottable11')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_EC_InventoryHold_Lottable11]  DEFAULT ('') FOR [Lottable11]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='Lottable12')
BEGIN
ALTER TABLE [dbo].[EC_InventoryHold] ADD  CONSTRAINT [DF_EC_InventoryHold_Lottable12]  DEFAULT ('') FOR [Lottable12]
END
GO
--ML01-S
IF NOT EXISTS(SELECT TOP 1 1 FROM sys.columns where object_id=OBJECT_ID(N'[dbo].[EC_InventoryHold]') AND name='UCCNo')
   ALTER TABLE [dbo].[EC_InventoryHold] ADD [UCCNo] [nvarchar](20) NULL
GO
IF EXISTS(SELECT TOP 1 1 FROM sys.columns where object_id=OBJECT_ID(N'[dbo].[EC_InventoryHold]') AND name='UCCNo')
   AND NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
       WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.EC_InventoryHold') AND b.name='UCCNo')
   ALTER TABLE [dbo].[EC_InventoryHold] ADD DEFAULT ('') FOR [UCCNo]
GO
--ML01-E