SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GS1Log]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GS1Log](
	[SeqNo] [int] IDENTITY(1,1) NOT NULL,
	[MobileNo] [nvarchar](10) NULL,
	[UserName] [nvarchar](128) NULL,
	[FuncId] [nvarchar](10) NULL,
	[TraceName] [nvarchar](100) NULL,
	[TimeIn] [datetime] NULL,
	[PickSlipNo] [nvarchar](10) NULL,
	[LoadKey] [nvarchar](10) NULL,
	[OrderKey] [nvarchar](10) NULL,
	[DropId] [nvarchar](20) NULL,
	[StorerKey] [nvarchar](15) NULL,
	[Facility] [nvarchar](20) NULL,
	[Col1] [nvarchar](20) NULL,
	[Col2] [nvarchar](20) NULL,
	[Col3] [nvarchar](20) NULL,
	[Col4] [nvarchar](20) NULL,
	[Col5] [nvarchar](20) NULL,
	[Col6] [nvarchar](20) NULL,
	[Col7] [nvarchar](20) NULL,
	[Col8] [nvarchar](20) NULL,
	[Col9] [nvarchar](20) NULL,
	[Col10] [nvarchar](20) NULL,
 CONSTRAINT [PK_GS1Trace] PRIMARY KEY CLUSTERED 
(
	[SeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__MobileNo__2D73677A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [MobileNo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__UserName__2E678BB3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [UserName]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__FuncId__2F5BAFEC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [FuncId]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__TraceNam__304FD425]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [TraceName]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__TimeIn__3143F85E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT (getdate()) FOR [TimeIn]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__PickSlip__32381C97]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [PickSlipNo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__LoadKey__332C40D0]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [LoadKey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__OrderKey__34206509]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [OrderKey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__DropId__35148942]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [DropId]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__StorerKe__3608AD7B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [StorerKey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__Facility__36FCD1B4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [Facility]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__Col1__37F0F5ED]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [Col1]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__Col2__38E51A26]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [Col2]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__Col3__39D93E5F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [Col3]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__Col4__3ACD6298]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [Col4]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__Col5__3BC186D1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [Col5]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__Col6__3CB5AB0A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [Col6]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__Col7__3DA9CF43]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [Col7]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__Col8__3E9DF37C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [Col8]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__Col9__3F9217B5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [Col9]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__GS1Log__Col10__40863BEE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GS1Log] ADD  DEFAULT ('') FOR [Col10]
END
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'GS1Log', N'COLUMN',N'StorerKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique key to the Storer record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GS1Log', @level2type=N'COLUMN',@level2name=N'StorerKey'
GO
