SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GVTLOG_Archive]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GVTLOG_Archive](
	[GVTLOGKey] [int] NOT NULL,
	[Tablename] [char](30) NOT NULL,
	[Key1] [char](10) NOT NULL,
	[Key2] [char](5) NOT NULL,
	[Key3] [char](20) NOT NULL,
	[TransmitFlag] [char](5) NOT NULL,
	[TransmitBatch] [char](30) NULL,
	[AddDate] [datetime] NOT NULL,
	[AddWho] [nvarchar](128) NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[EditWho] [nvarchar](128) NOT NULL,
	[TrafficCop] [char](1) NULL,
	[ArchiveCop] [char](1) NULL,
 CONSTRAINT [PKGVTLOG_Archive] PRIMARY KEY CLUSTERED 
(
	[GVTLOGKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_GVTLOG_Archive_Tablename]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GVTLOG_Archive] ADD  CONSTRAINT [DF_GVTLOG_Archive_Tablename]  DEFAULT (' ') FOR [Tablename]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_GVTLOG_Archive_Key1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GVTLOG_Archive] ADD  CONSTRAINT [DF_GVTLOG_Archive_Key1]  DEFAULT (' ') FOR [Key1]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_GVTLOG_Archive_Key2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GVTLOG_Archive] ADD  CONSTRAINT [DF_GVTLOG_Archive_Key2]  DEFAULT (' ') FOR [Key2]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_GVTLOG_Archive_Key3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GVTLOG_Archive] ADD  CONSTRAINT [DF_GVTLOG_Archive_Key3]  DEFAULT (' ') FOR [Key3]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_GVTLOG_Archive_TransmitFlag]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GVTLOG_Archive] ADD  CONSTRAINT [DF_GVTLOG_Archive_TransmitFlag]  DEFAULT ('0') FOR [TransmitFlag]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_GVTLOG_Archive_TransmitBatch]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GVTLOG_Archive] ADD  CONSTRAINT [DF_GVTLOG_Archive_TransmitBatch]  DEFAULT (' ') FOR [TransmitBatch]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_GVTLOG_Archive_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GVTLOG_Archive] ADD  CONSTRAINT [DF_GVTLOG_Archive_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_GVTLOG_Archive_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GVTLOG_Archive] ADD  CONSTRAINT [DF_GVTLOG_Archive_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_GVTLOG_Archive_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GVTLOG_Archive] ADD  CONSTRAINT [DF_GVTLOG_Archive_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_GVTLOG_Archive_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GVTLOG_Archive] ADD  CONSTRAINT [DF_GVTLOG_Archive_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
