SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoldStock]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HoldStock](
	[RowId] [int] IDENTITY(1,1) NOT NULL,
	[StorerKey] [nvarchar](15) NULL,
	[SKU] [nvarchar](20) NULL,
	[LOT] [nvarchar](10) NULL,
	[ID] [nvarchar](18) NULL,
	[Loc] [nvarchar](10) NULL,
	[Lottable01] [nvarchar](18) NULL,
	[Lottable02] [nvarchar](18) NULL,
	[Lottable03] [nvarchar](18) NULL,
	[Lottable04] [datetime] NULL,
	[Lottable05] [datetime] NULL,
	[Status] [nvarchar](10) NOT NULL,
	[Lottable06] [nvarchar](30) NULL,
	[Lottable07] [nvarchar](30) NULL,
	[Lottable08] [nvarchar](30) NULL,
	[Lottable09] [nvarchar](30) NULL,
	[Lottable10] [nvarchar](30) NULL,
	[Lottable11] [nvarchar](30) NULL,
	[Lottable12] [nvarchar](30) NULL,
	[Lottable13] [datetime] NULL,
	[Lottable14] [datetime] NULL,
	[Lottable15] [datetime] NULL,
 CONSTRAINT [PK_HoldStock] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_HoldStock_Lottable06]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HoldStock] ADD  CONSTRAINT [DF_HoldStock_Lottable06]  DEFAULT ('') FOR [Lottable06]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_HoldStock_Lottable07]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HoldStock] ADD  CONSTRAINT [DF_HoldStock_Lottable07]  DEFAULT ('') FOR [Lottable07]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_HoldStock_Lottable08]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HoldStock] ADD  CONSTRAINT [DF_HoldStock_Lottable08]  DEFAULT ('') FOR [Lottable08]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_HoldStock_Lottable09]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HoldStock] ADD  CONSTRAINT [DF_HoldStock_Lottable09]  DEFAULT ('') FOR [Lottable09]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_HoldStock_Lottable10]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HoldStock] ADD  CONSTRAINT [DF_HoldStock_Lottable10]  DEFAULT ('') FOR [Lottable10]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_HoldStock_Lottable11]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HoldStock] ADD  CONSTRAINT [DF_HoldStock_Lottable11]  DEFAULT ('') FOR [Lottable11]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_HoldStock_Lottable12]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HoldStock] ADD  CONSTRAINT [DF_HoldStock_Lottable12]  DEFAULT ('') FOR [Lottable12]
END
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'HoldStock', N'COLUMN',N'StorerKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique key to the Storer record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HoldStock', @level2type=N'COLUMN',@level2name=N'StorerKey'
GO
