SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IDS_GSISpooler]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IDS_GSISpooler](
	[Loadkey] [nvarchar](10) NOT NULL,
	[Facility] [nvarchar](5) NOT NULL,
	[PrinterId] [nvarchar](30) NOT NULL,
	[BTWPath] [nvarchar](50) NOT NULL,
	[Sortby] [int] NOT NULL,
	[SortbyDesc] [nvarchar](30) NULL,
	[UserId] [nvarchar](128) NULL,
	[Status] [nvarchar](1) NOT NULL,
	[AddDate] [datetime] NULL,
	[EditDate] [datetime] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[IDS_GSISpooler]') AND name = N'IX_IDS_GSISpooler')
CREATE NONCLUSTERED INDEX [IX_IDS_GSISpooler] ON [dbo].[IDS_GSISpooler]
(
	[Loadkey] ASC,
	[Facility] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IDS_GSISpooler_UserId]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[IDS_GSISpooler] ADD  CONSTRAINT [DF_IDS_GSISpooler_UserId]  DEFAULT (suser_sname()) FOR [UserId]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IDS_GSISpooler_Status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[IDS_GSISpooler] ADD  CONSTRAINT [DF_IDS_GSISpooler_Status]  DEFAULT ((0)) FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IDS_GSISpooler_Adddate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[IDS_GSISpooler] ADD  CONSTRAINT [DF_IDS_GSISpooler_Adddate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IDS_GSISpooler_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[IDS_GSISpooler] ADD  CONSTRAINT [DF_IDS_GSISpooler_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'IDS_GSISpooler', N'COLUMN',N'AddDate'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of the information added. (System date)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IDS_GSISpooler', @level2type=N'COLUMN',@level2name=N'AddDate'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'IDS_GSISpooler', N'COLUMN',N'EditDate'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of the information edited/modified/updated. (System date)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IDS_GSISpooler', @level2type=N'COLUMN',@level2name=N'EditDate'
GO
