/************************************************************************/
/* Table:  INVENTORYHOLD_STG                                            */
/* Copyright: MAERSK                                                    */
/*                                                                      */
/* Updates:                                                             */
/* Date         Author    Ver.  Purposes                                */
/* 26-Sep-2025  MICHAEL   1.1   FCR-7829 Add UCCNo (ML01)               */
/************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD_STG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[INVENTORYHOLD_STG](
	[RowRefNo] [int] IDENTITY(1,1) NOT NULL,
	[STG_BatchNo] [int] NOT NULL,
	[STG_SeqNo] [int] NOT NULL,
	[STG_Status] [nvarchar](1) NOT NULL,
	[STG_ErrMsg] [nvarchar](250) NOT NULL,
	[STG_AddDate] [datetime] NOT NULL,
	[InventoryHoldKey] [nvarchar](10) NULL,
	[Lot] [nvarchar](10) NULL,
	[Id] [nvarchar](18) NULL,
	[Loc] [nvarchar](10) NULL,
	[Hold] [nvarchar](1) NULL,
	[Status] [nvarchar](10) NULL,
	[DateOn] [datetime] NULL,
	[WhoOn] [nvarchar](128) NULL,
	[DateOff] [datetime] NULL,
	[WhoOff] [nvarchar](128) NULL,
	[TrafficCop] [nvarchar](1) NULL,
	[ArchiveCop] [nvarchar](1) NULL,
	[SKU] [nvarchar](20) NULL,
	[Storerkey] [nvarchar](18) NULL,
	[Lottable01] [nvarchar](18) NULL,
	[Lottable02] [nvarchar](18) NULL,
	[Lottable03] [nvarchar](18) NULL,
	[Lottable04] [datetime] NULL,
	[Lottable05] [datetime] NULL,
	[Remark] [nvarchar](255) NULL,
	[Lottable06] [nvarchar](30) NULL,
	[Lottable07] [nvarchar](30) NULL,
	[Lottable08] [nvarchar](30) NULL,
	[Lottable09] [nvarchar](30) NULL,
	[Lottable10] [nvarchar](30) NULL,
	[Lottable11] [nvarchar](30) NULL,
	[Lottable12] [nvarchar](30) NULL,
	[Lottable13] [datetime] NULL,
	[Lottable14] [datetime] NULL,
	[Lottable15] [datetime] NULL,
   [UCCNo] [nvarchar](20) NULL,   --ML01
 CONSTRAINT [PK_INVENTORYHOLD_STG] PRIMARY KEY CLUSTERED 
(
	[RowRefNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD_STG]') AND name = N'INVENTORYHOLD_STG_Idx01')
CREATE NONCLUSTERED INDEX [INVENTORYHOLD_STG_Idx01] ON [dbo].[INVENTORYHOLD_STG]
(
	[STG_BatchNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD_STG]') AND name = N'INVENTORYHOLD_STG_Idx02')
CREATE NONCLUSTERED INDEX [INVENTORYHOLD_STG_Idx02] ON [dbo].[INVENTORYHOLD_STG]
(
	[STG_BatchNo] ASC,
	[STG_SeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='STG_Status')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('0') FOR [STG_Status]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='STG_ErrMsg')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [STG_ErrMsg]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='STG_AddDate')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT (getdate()) FOR [STG_AddDate]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='InventoryHoldKey')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [InventoryHoldKey]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Lot')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Lot]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Id')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Id]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Loc')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Loc]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Hold')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Hold]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Status')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Status]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='DateOn')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT (getdate()) FOR [DateOn]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='WhoOn')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT (suser_sname()) FOR [WhoOn]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='DateOff')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT (getdate()) FOR [DateOff]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='WhoOff')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT (suser_sname()) FOR [WhoOff]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='SKU')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [SKU]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Storerkey')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Storerkey]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Lottable06')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Lottable06]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Lottable07')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Lottable07]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Lottable08')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Lottable08]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Lottable09')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Lottable09]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Lottable10')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Lottable10]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Lottable11')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Lottable11]
END
GO
IF NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='Lottable12')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD  DEFAULT ('') FOR [Lottable12]
END
GO
--ML01-S
IF NOT EXISTS(SELECT TOP 1 1 FROM sys.columns where object_id=OBJECT_ID(N'[dbo].[INVENTORYHOLD_STG]') AND name='UCCNo')
   ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD [UCCNo] [nvarchar](20) NULL
GO
IF EXISTS(SELECT TOP 1 1 FROM sys.columns where object_id=OBJECT_ID(N'[dbo].[INVENTORYHOLD_STG]') AND name='UCCNo')
   AND NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
       WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.INVENTORYHOLD_STG') AND b.name='UCCNo')
   ALTER TABLE [dbo].[INVENTORYHOLD_STG] ADD DEFAULT ('') FOR [UCCNo]
GO
--ML01-E