/************************************************************************/
/* Table:  INVENTORYHOLD                                                */
/* Copyright: MAERSK                                                    */
/*                                                                      */
/* Updates:                                                             */
/* Date         Author    Ver.  Purposes                                */
/* 24-Sep-2025  MICHAEL   1.1   FCR-7829 Add UCCNo (ML01)               */
/************************************************************************/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[INVENTORYHOLD](
	[InventoryHoldKey] [nvarchar](10) NOT NULL,
	[Lot] [nvarchar](10) NOT NULL,
	[Id] [nvarchar](18) NOT NULL,
	[Loc] [nvarchar](10) NOT NULL,
	[Hold] [nvarchar](1) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[DateOn] [datetime] NOT NULL,
	[WhoOn] [nvarchar](128) NOT NULL,
	[DateOff] [datetime] NOT NULL,
	[WhoOff] [nvarchar](128) NOT NULL,
	[TrafficCop] [nvarchar](1) NULL,
	[ArchiveCop] [nvarchar](1) NULL,
	[SKU] [nvarchar](20) NULL,
	[Storerkey] [nvarchar](18) NULL,
	[Lottable01] [nvarchar](18) NULL,
	[Lottable02] [nvarchar](18) NULL,
	[Lottable03] [nvarchar](18) NULL,
	[Lottable04] [datetime] NULL,
	[Lottable05] [datetime] NULL,
	[Remark] [nvarchar](255) NULL,
	[Lottable06] [nvarchar](30) NOT NULL,
	[Lottable07] [nvarchar](30) NOT NULL,
	[Lottable08] [nvarchar](30) NOT NULL,
	[Lottable09] [nvarchar](30) NOT NULL,
	[Lottable10] [nvarchar](30) NOT NULL,
	[Lottable11] [nvarchar](30) NOT NULL,
	[Lottable12] [nvarchar](30) NOT NULL,
	[Lottable13] [datetime] NULL,
	[Lottable14] [datetime] NULL,
	[Lottable15] [datetime] NULL,
   [UCCNo] [nvarchar](20) NOT NULL,   --ML01
 CONSTRAINT [PKINVENTORYHOLD] PRIMARY KEY CLUSTERED 
(
	[InventoryHoldKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND name = N'IX_INVENTORYHOLD_ID')
CREATE NONCLUSTERED INDEX [IX_INVENTORYHOLD_ID] ON [dbo].[INVENTORYHOLD]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND name = N'IX_INVENTORYHOLD_LOC')
CREATE NONCLUSTERED INDEX [IX_INVENTORYHOLD_LOC] ON [dbo].[INVENTORYHOLD]
(
	[Loc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND name = N'IX_INVENTORYHOLD_LOT')
CREATE NONCLUSTERED INDEX [IX_INVENTORYHOLD_LOT] ON [dbo].[INVENTORYHOLD]
(
	[Lot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND name = N'IX_INVENTORYHOLD_LOTATT')
CREATE NONCLUSTERED INDEX [IX_INVENTORYHOLD_LOTATT] ON [dbo].[INVENTORYHOLD]
(
	[Storerkey] ASC,
	[SKU] ASC,
	[Lottable01] ASC,
	[Lottable02] ASC,
	[Lottable03] ASC,
	[Lottable04] ASC,
	[Lottable06] ASC,
	[Lottable07] ASC,
	[Lottable08] ASC,
	[Lottable09] ASC,
	[Lottable10] ASC,
	[Lottable11] ASC,
	[Lottable12] ASC,
	[Lottable13] ASC,
	[Lottable14] ASC,
	[Lottable15] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IH_InventoryHoldKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_IH_InventoryHoldKey]  DEFAULT (' ') FOR [InventoryHoldKey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IH_Lot]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_IH_Lot]  DEFAULT (' ') FOR [Lot]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IH_Id]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_IH_Id]  DEFAULT (' ') FOR [Id]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IH_Loc]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_IH_Loc]  DEFAULT (' ') FOR [Loc]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IH_Hold]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_IH_Hold]  DEFAULT (' ') FOR [Hold]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IH_Status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_IH_Status]  DEFAULT (' ') FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IH_DateOn]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_IH_DateOn]  DEFAULT (getdate()) FOR [DateOn]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IH_WhoOn]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_IH_WhoOn]  DEFAULT (suser_sname()) FOR [WhoOn]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IH_DateOff]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_IH_DateOff]  DEFAULT (getdate()) FOR [DateOff]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_IH_WhoOff]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_IH_WhoOff]  DEFAULT (suser_sname()) FOR [WhoOff]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__InventoryHo__SKU__03124E03]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF__InventoryHo__SKU__03124E03]  DEFAULT (' ') FOR [SKU]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Inventory__Store__0406723C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF__Inventory__Store__0406723C]  DEFAULT (' ') FOR [Storerkey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_INVENTORYHOLD_Lottable06]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_INVENTORYHOLD_Lottable06]  DEFAULT (' ') FOR [Lottable06]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_INVENTORYHOLD_Lottable07]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_INVENTORYHOLD_Lottable07]  DEFAULT (' ') FOR [Lottable07]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_INVENTORYHOLD_Lottable08]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_INVENTORYHOLD_Lottable08]  DEFAULT (' ') FOR [Lottable08]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_INVENTORYHOLD_Lottable09]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_INVENTORYHOLD_Lottable09]  DEFAULT (' ') FOR [Lottable09]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_INVENTORYHOLD_Lottable10]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_INVENTORYHOLD_Lottable10]  DEFAULT (' ') FOR [Lottable10]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_INVENTORYHOLD_Lottable11]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_INVENTORYHOLD_Lottable11]  DEFAULT (' ') FOR [Lottable11]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_INVENTORYHOLD_Lottable12]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[INVENTORYHOLD] ADD  CONSTRAINT [DF_INVENTORYHOLD_Lottable12]  DEFAULT (' ') FOR [Lottable12]
END
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_IH_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]'))
ALTER TABLE [dbo].[INVENTORYHOLD] WITH NOCHECK ADD CONSTRAINT [CK_IH_01] CHECK ((NOT ltrim(rtrim([Lot]))='' AND ltrim(rtrim([Loc]))='' AND ltrim(rtrim([id]))='' AND isnull(ltrim(rtrim([lottable01])),' ')=' ' AND isnull(ltrim(rtrim([lottable02])),' ')=' ' AND isnull(ltrim(rtrim([lottable03])),' ')=' ' AND isnull([lottable04],' ')=' ' AND isnull([lottable05],' ')=' ' AND isnull(ltrim(rtrim([lottable06])),' ')=' ' AND isnull(ltrim(rtrim([lottable07])),' ')=' ' AND isnull(ltrim(rtrim([lottable08])),' ')=' ' AND isnull(ltrim(rtrim([lottable09])),' ')=' ' AND isnull(ltrim(rtrim([lottable10])),' ')=' ' AND isnull(ltrim(rtrim([lottable11])),' ')=' ' AND isnull(ltrim(rtrim([lottable12])),' ')=' ' AND isnull([lottable13],' ')=' ' AND isnull([lottable14],' ')=' ' AND isnull([lottable15],' ')=' ' OR ltrim(rtrim([Lot]))='' AND NOT ltrim(rtrim([Loc]))='' AND ltrim(rtrim([id]))='' AND isnull(ltrim(rtrim([lottable01])),' ')=' ' AND isnull(ltrim(rtrim([lottable02])),' ')=' ' AND isnull(ltrim(rtrim([lottable03])),' ')=' ' AND isnull([lottable04],' ')=' ' AND isnull([lottable05],' ')=' ' AND isnull(ltrim(rtrim([lottable06])),' ')=' ' AND isnull(ltrim(rtrim([lottable07])),' ')=' ' AND isnull(ltrim(rtrim([lottable08])),' ')=' ' AND isnull(ltrim(rtrim([lottable09])),' ')=' ' AND isnull(ltrim(rtrim([lottable10])),' ')=' ' AND isnull(ltrim(rtrim([lottable11])),' ')=' ' AND isnull(ltrim(rtrim([lottable12])),' ')=' ' AND isnull([lottable13],' ')=' ' AND isnull([lottable14],' ')=' ' AND isnull([lottable15],' ')=' ' OR ltrim(rtrim([Lot]))='' AND ltrim(rtrim([Loc]))='' AND NOT ltrim(rtrim([id]))='' AND isnull(ltrim(rtrim([lottable01])),' ')=' ' AND isnull(ltrim(rtrim([lottable02])),' ')=' ' AND isnull(ltrim(rtrim([lottable03])),' ')=' ' AND isnull([lottable04],' ')=' ' AND isnull([lottable05],' ')=' ' AND isnull(ltrim(rtrim([lottable06])),' ')=' ' AND isnull(ltrim(rtrim([lottable07])),' ')=' ' AND isnull(ltrim(rtrim([lottable08])),' ')=' ' AND isnull(ltrim(rtrim([lottable09])),' ')=' ' AND isnull(ltrim(rtrim([lottable10])),' ')=' ' AND isnull(ltrim(rtrim([lottable11])),' ')=' ' AND isnull(ltrim(rtrim([lottable12])),' ')=' ' AND isnull([lottable13],' ')=' ' AND isnull([lottable14],' ')=' ' AND isnull([lottable15],' ')=' ' OR ltrim(rtrim([Lot]))='' AND ltrim(rtrim([Loc]))='' AND ltrim(rtrim([id]))='' AND NOT ltrim(rtrim([storerkey]))='' AND NOT ltrim(rtrim([sku]))='' AND (NOT ltrim(rtrim([lottable01]))='' OR NOT ltrim(rtrim([lottable02]))='' OR NOT ltrim(rtrim([lottable03]))='' OR NOT [lottable04]='' OR NOT [lottable05]='' OR NOT ltrim(rtrim([lottable06]))='' OR NOT ltrim(rtrim([lottable07]))='' OR NOT ltrim(rtrim([lottable08]))='' OR NOT ltrim(rtrim([lottable09]))='' OR NOT ltrim(rtrim([lottable10]))='' OR NOT ltrim(rtrim([lottable11]))='' OR NOT ltrim(rtrim([lottable12]))='' OR NOT [lottable13]='' OR NOT [lottable14]='' OR NOT [lottable15]='')))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_IH_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]'))
ALTER TABLE [dbo].[INVENTORYHOLD] CHECK CONSTRAINT [CK_IH_01]
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'InventoryHoldKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Inventory Hold unique key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'InventoryHoldKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Lot'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lot number assigned to the Commodity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Lot'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Id'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Movable Unit ID for the Commodity being received' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Id'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Loc'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Physical location of the Commodity in the warehouse' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Loc'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Hold'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'To hold the item' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Hold'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Status'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reason for the hold' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Status'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'DateOn'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date and time the transaction was entered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'DateOn'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'WhoOn'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the person signed onto the system when the transaction was entered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'WhoOn'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'DateOff'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date and time the transaction was last entered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'DateOff'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'WhoOff'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the person signed onto the system when the transaction was last entered.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'WhoOff'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'TrafficCop'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'When checked, fields updated in this table will not trigger to update other tables that are linked with this table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'TrafficCop'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'SKU'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique code identifying the product.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'SKU'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Storerkey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique key to the storer record' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Storerkey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Lottable01'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lot attribute of the Commodity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Lottable01'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Lottable02'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lot attribute of the Commodity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Lottable02'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Lottable03'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lot attribute of the Commodity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Lottable03'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Lottable04'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Expiry Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Lottable04'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Lottable05'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Receipt Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Lottable05'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', N'COLUMN',N'Remark'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Remarks' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD', @level2type=N'COLUMN',@level2name=N'Remark'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'INVENTORYHOLD', NULL,NULL))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'In WMS, an Inventory Hold is used to maintain inventory visibility but prevent shipments. User is able to put inventory on hold according to the lot#, pallet id and location via the inventory hold window. Locations can also be put on hold on the location window.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVENTORYHOLD'
GO
--ML01-S
IF NOT EXISTS(SELECT TOP 1 1 FROM sys.columns where object_id=OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND name='UCCNo')
   ALTER TABLE [dbo].[INVENTORYHOLD] ADD [UCCNo] [nvarchar](20) NOT NULL DEFAULT ''
GO
IF EXISTS(SELECT TOP 1 1 FROM sys.columns where object_id=OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND name='UCCNo')
   AND NOT EXISTS (SELECT TOP 1 1 FROM sys.default_constraints a, sys.columns b
       WHERE a.parent_object_id=b.object_id AND a.parent_column_id=b.column_id AND a.parent_object_id = OBJECT_ID(N'dbo.InventoryHold') AND b.name='UCCNo')
   ALTER TABLE [dbo].[INVENTORYHOLD] ADD CONSTRAINT [DF_IH_UCCNo]  DEFAULT ('') FOR [UCCNo]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND name = N'IX_INVENTORYHOLD_UCCNo_Storerkey')
   AND EXISTS(SELECT TOP 1 1 FROM sys.columns where object_id=OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND name='UCCNo')
   AND EXISTS(SELECT TOP 1 1 FROM sys.columns where object_id=OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND name='Storerkey')
CREATE NONCLUSTERED INDEX [IX_INVENTORYHOLD_UCCNo_Storerkey] ON [dbo].[INVENTORYHOLD]
(
	[UCCNo] ASC,
   [Storerkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS(SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_IH_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND [definition] LIKE '%UCCNo%')
BEGIN
   IF EXISTS(SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_IH_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]'))
      ALTER TABLE [dbo].[INVENTORYHOLD] DROP CONSTRAINT [CK_IH_01]
   IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_IH_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]'))
      ALTER TABLE [dbo].[INVENTORYHOLD] WITH NOCHECK ADD CONSTRAINT [CK_IH_01] CHECK ((NOT [Lot]='' AND [Loc]='' AND [id]='' AND [UCCNo]='' AND isnull([lottable01],'')='' AND isnull([lottable02],'')='' AND isnull([lottable03],'')='' AND isnull([lottable04],'')='' AND isnull([lottable05],'')='' AND isnull([lottable06],'')='' AND isnull([lottable07],'')='' AND isnull([lottable08],'')='' AND isnull([lottable09],'')='' AND isnull([lottable10],'')='' AND isnull([lottable11],'')='' AND isnull([lottable12],'')='' AND isnull([lottable13],'')='' AND isnull([lottable14],'')='' AND isnull([lottable15],'')='' OR [Lot]='' AND NOT [Loc]='' AND [id]='' AND [UCCNo]='' AND isnull([lottable01],'')='' AND isnull([lottable02],'')='' AND isnull([lottable03],'')='' AND isnull([lottable04],'')='' AND isnull([lottable05],'')='' AND isnull([lottable06],'')='' AND isnull([lottable07],'')='' AND isnull([lottable08],'')='' AND isnull([lottable09],'')='' AND isnull([lottable10],'')='' AND isnull([lottable11],'')='' AND isnull([lottable12],'')='' AND isnull([lottable13],'')='' AND isnull([lottable14],'')='' AND isnull([lottable15],'')='' OR [Lot]='' AND [Loc]='' AND NOT [id]='' AND [UCCNo]='' AND isnull([lottable01],'')='' AND isnull([lottable02],'')='' AND isnull([lottable03],'')='' AND isnull([lottable04],'')='' AND isnull([lottable05],'')='' AND isnull([lottable06],'')='' AND isnull([lottable07],'')='' AND isnull([lottable08],'')='' AND isnull([lottable09],'')='' AND isnull([lottable10],'')='' AND isnull([lottable11],'')='' AND isnull([lottable12],'')='' AND isnull([lottable13],'')='' AND isnull([lottable14],'')='' AND isnull([lottable15],'')='' OR [Lot]='' AND [Loc]='' AND [id]='' AND NOT [Storerkey]='' AND NOT [UCCNo]='' AND isnull([lottable01],'')='' AND isnull([lottable02],'')='' AND isnull([lottable03],'')='' AND isnull([lottable04],'')='' AND isnull([lottable05],'')='' AND isnull([lottable06],'')='' AND isnull([lottable07],'')='' AND isnull([lottable08],'')='' AND isnull([lottable09],'')='' AND isnull([lottable10],'')='' AND isnull([lottable11],'')='' AND isnull([lottable12],'')='' AND isnull([lottable13],'')='' AND isnull([lottable14],'')='' AND isnull([lottable15],'')='' OR [Lot]='' AND [Loc]='' AND [id]='' AND [UCCNo]='' AND NOT [storerkey]='' AND NOT [sku]='' AND (NOT [lottable01]='' OR NOT [lottable02]='' OR NOT [lottable03]='' OR NOT [lottable04]='' OR NOT [lottable05]='' OR NOT [lottable06]='' OR NOT [lottable07]='' OR NOT [lottable08]='' OR NOT [lottable09]='' OR NOT [lottable10]='' OR NOT [lottable11]='' OR NOT [lottable12]='' OR NOT [lottable13]='' OR NOT [lottable14]='' OR NOT [lottable15]='')))
   IF EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_IH_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]'))
      ALTER TABLE [dbo].[INVENTORYHOLD] CHECK CONSTRAINT [CK_IH_01]
END
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORYHOLD]') AND type in (N'U'))
BEGIN
   IF EXISTS(SELECT * FROM sys.database_principals WHERE type='R' and name='NSQL')
      GRANT SELECT, UPDATE, INSERT, DELETE ON  [dbo].[INVENTORYHOLD] TO [NSQL]
   IF EXISTS(SELECT * FROM sys.database_principals WHERE type='R' and name='JReportRole')
      GRANT SELECT ON  [dbo].[INVENTORYHOLD] TO [JReportRole]
END
GO
--ML01-E
