SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ITRN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ITRN](
	[ItrnKey] [nvarchar](10) NOT NULL,
	[ItrnSysId] [int] NULL,
	[TranType] [nvarchar](10) NOT NULL,
	[StorerKey] [nvarchar](15) NOT NULL,
	[Sku] [nvarchar](20) NOT NULL,
	[Lot] [nvarchar](10) NOT NULL,
	[FromLoc] [nvarchar](10) NOT NULL,
	[FromID] [nvarchar](18) NOT NULL,
	[ToLoc] [nvarchar](10) NOT NULL,
	[ToID] [nvarchar](18) NOT NULL,
	[SourceKey] [nvarchar](20) NULL,
	[SourceType] [nvarchar](30) NULL,
	[Status] [nvarchar](10) NULL,
	[LOTTABLE01] [nvarchar](18) NOT NULL,
	[LOTTABLE02] [nvarchar](18) NOT NULL,
	[LOTTABLE03] [nvarchar](18) NOT NULL,
	[LOTTABLE04] [datetime] NULL,
	[LOTTABLE05] [datetime] NULL,
	[CaseCnt] [int] NOT NULL,
	[InnerPack] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[Pallet] [int] NOT NULL,
	[Cube] [float] NOT NULL,
	[GrossWgt] [float] NOT NULL,
	[NetWgt] [float] NOT NULL,
	[OtherUnit1] [float] NOT NULL,
	[OtherUnit2] [float] NOT NULL,
	[PackKey] [nvarchar](10) NULL,
	[UOM] [nvarchar](10) NULL,
	[UOMCalc] [int] NULL,
	[UOMQty] [int] NULL,
	[EffectiveDate] [datetime] NOT NULL,
	[AddDate] [datetime] NOT NULL,
	[AddWho] [nvarchar](128) NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[EditWho] [nvarchar](128) NOT NULL,
	[TrafficCop] [nvarchar](1) NULL,
	[ArchiveCop] [nvarchar](1) NULL,
	[Lottable06] [nvarchar](30) NOT NULL,
	[Lottable07] [nvarchar](30) NOT NULL,
	[Lottable08] [nvarchar](30) NOT NULL,
	[Lottable09] [nvarchar](30) NOT NULL,
	[Lottable10] [nvarchar](30) NOT NULL,
	[Lottable11] [nvarchar](30) NOT NULL,
	[Lottable12] [nvarchar](30) NOT NULL,
	[Lottable13] [datetime] NULL,
	[Lottable14] [datetime] NULL,
	[Lottable15] [datetime] NULL,
	[MoveRefKey] [nvarchar](10) NULL,
	[Channel] [nvarchar](20) NULL,
	[Channel_ID] [bigint] NULL,
	[PalletType] [nvarchar](10) NOT NULL,
 CONSTRAINT [PKItrn] PRIMARY KEY CLUSTERED 
(
	[ItrnKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO


SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ITRN]') AND name = N'IX_ITRN_LotLocID')
CREATE NONCLUSTERED INDEX [IX_ITRN_LotLocID] ON [dbo].[ITRN]
(
	[Lot] ASC,
	[ToLoc] ASC,
	[ToID] ASC,
	[FromLoc] ASC,
	[FromID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ITRN]') AND name = N'IX_ITRN_Sourcekey')
CREATE NONCLUSTERED INDEX [IX_ITRN_Sourcekey] ON [dbo].[ITRN]
(
	[SourceKey] ASC,
	[SourceType] ASC,
	[TranType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ITRN]') AND name = N'IX_ITRN_StorerSku')
CREATE NONCLUSTERED INDEX [IX_ITRN_StorerSku] ON [dbo].[ITRN]
(
	[StorerKey] ASC,
	[Sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_LOTTABLE01]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_LOTTABLE01]  DEFAULT (' ') FOR [LOTTABLE01]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_LOTTABLE02]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_LOTTABLE02]  DEFAULT (' ') FOR [LOTTABLE02]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_LOTTABLE03]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_LOTTABLE03]  DEFAULT (' ') FOR [LOTTABLE03]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_CaseCnt]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_CaseCnt]  DEFAULT ((0)) FOR [CaseCnt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_Innerpack]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_Innerpack]  DEFAULT ((0)) FOR [InnerPack]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_QTY]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_QTY]  DEFAULT ((0)) FOR [Qty]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_Pallet]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_Pallet]  DEFAULT ((0)) FOR [Pallet]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_Cube]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_Cube]  DEFAULT ((0)) FOR [Cube]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_GrossWgt]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_GrossWgt]  DEFAULT ((0)) FOR [GrossWgt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_NetWgt]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_NetWgt]  DEFAULT ((0)) FOR [NetWgt]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_OtherUnit1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_OtherUnit1]  DEFAULT ((0)) FOR [OtherUnit1]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_OtherUnit2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_OtherUnit2]  DEFAULT ((0)) FOR [OtherUnit2]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_EffectiveDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_EffectiveDate]  DEFAULT (getdate()) FOR [EffectiveDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_Lottable06]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_Lottable06]  DEFAULT (' ') FOR [Lottable06]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_Lottable07]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_Lottable07]  DEFAULT (' ') FOR [Lottable07]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_Lottable08]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_Lottable08]  DEFAULT (' ') FOR [Lottable08]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_Lottable09]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_Lottable09]  DEFAULT (' ') FOR [Lottable09]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_Lottable10]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_Lottable10]  DEFAULT (' ') FOR [Lottable10]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_Lottable11]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_Lottable11]  DEFAULT (' ') FOR [Lottable11]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_Lottable12]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_Lottable12]  DEFAULT (' ') FOR [Lottable12]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Itrn_MoveRefKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_Itrn_MoveRefKey]  DEFAULT ('') FOR [MoveRefKey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_Channel]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_Channel]  DEFAULT ('') FOR [Channel]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_Channel_ID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_Channel_ID]  DEFAULT ((0)) FOR [Channel_ID]
END
GO

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'ItrnKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique code identifying Inventory Transaction.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'ItrnKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'StorerKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique key to the Storer record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'StorerKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'Sku'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique code identifying the product.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'Sku'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'Lot'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique pre-populated numeric value associated with a specific product. A unique combination.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'Lot'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'FromLoc'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Current location of the Commodity to be moved.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'FromLoc'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'FromID'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID or Tag number assigned to the Commodity to be moved. (If applicable)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'FromID'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'ToLoc'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Destination (location) for the Commodity to be moved.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'ToLoc'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'ToID'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'New ID or Tag number to be assigned to the Commodity at the location. (If applicable)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'ToID'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'SourceKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique code identifying the source.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'SourceKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'InnerPack'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pick method to use when picking inner packs in the zone.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'InnerPack'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'Qty'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quantity of the product associated.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'Qty'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'Pallet'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A portable platform designed to allow forklift or pallet jack to lift, move and store various loads.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'Pallet'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'Cube'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Records the maximum cubic size for a Commodity the carton can hold.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'Cube'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'PackKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the pcak code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'PackKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'UOM'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit of measure for the product.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'UOM'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'UOMQty'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quantity of the product sorted by Unit of Measure.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'UOMQty'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'AddDate'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of the information added. (System date)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'AddDate'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'AddWho'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The username/login ID added the information.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'AddWho'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'EditDate'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of the information edited/modified/updated. (System date)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'EditDate'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'EditWho'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The username/login ID edited/modified/updated the information.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'EditWho'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'TrafficCop'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'When checked, fields updated in this table will not trigger to update other tables that are linked with this table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'TrafficCop'
GO

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', NULL,NULL))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'An inventory transaction is any deposit (increase), withdrawal (decrease), adjustment, or move of inventory. Each transaction is individually recorded to provide an accurate audit trail. This includes stock count results that will be posted and recorded. These records are often related to as æITRANÆ records.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN'
GO

/*New column Added */
IF NOT EXISTS (SELECT * FROM sys.columns WHERE Name = 'PalletType' AND Object_ID = Object_ID('dbo.ITRN'))
BEGIN
    ALTER TABLE ITRN ADD PalletType NVARCHAR(10) NOT NULL CONSTRAINT [DF_ITRN_PalletType] DEFAULT ('');
    EXEC sp_addextendedproperty N'MS_Description', 'Pallet Type', 'SCHEMA', N'dbo', 'TABLE', N'ITRN', 'COLUMN', N'PalletType'
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_ITRN_PalletType]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ITRN] ADD  CONSTRAINT [DF_ITRN_PalletType]  DEFAULT ('') FOR [PalletType]
END
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'ITRN', N'COLUMN',N'PalletType'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pallet Type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ITRN', @level2type=N'COLUMN',@level2name=N'PalletType'
GO