SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KitSerialNo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KitSerialNo](
	[KitSerialNoKey] [bigint] IDENTITY(1,1) NOT NULL,
	[KitKey] [nvarchar](10) NOT NULL,
	[KitLineNumber] [nvarchar](5) NOT NULL,
	[Type] [nvarchar](5) NOT NULL,
	[StorerKey] [nvarchar](15) NOT NULL,
	[SKU] [nvarchar](20) NOT NULL,
	[ExpectedQTY] [int] NOT NULL,
	[QTY] [int] NOT NULL,
	[SerialNo] [nvarchar](50) NOT NULL,
	[GroupKey] [bigint] NOT NULL,
	[AddWho] [nvarchar](128) NOT NULL,
	[AddDate] [datetime] NOT NULL,
	[EditWho] [nvarchar](128) NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[ArchiveCop] [nvarchar](1) NULL,
 CONSTRAINT [PK_KitSerialNo] PRIMARY KEY CLUSTERED 
(
	[KitSerialNoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_KitSerialNo_GroupKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[KitSerialNo] ADD  CONSTRAINT [DF_KitSerialNo_GroupKey]  DEFAULT ((0)) FOR [GroupKey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_KitSerialNo_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[KitSerialNo] ADD  CONSTRAINT [DF_KitSerialNo_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_KitSerialNo_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[KitSerialNo] ADD  CONSTRAINT [DF_KitSerialNo_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_KitSerialNo_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[KitSerialNo] ADD  CONSTRAINT [DF_KitSerialNo_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_KitSerialNo_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[KitSerialNo] ADD  CONSTRAINT [DF_KitSerialNo_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
