SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PICKDETAIL](
	[PickDetailKey] [nvarchar](18) NOT NULL,
	[CaseID] [nvarchar](20) NOT NULL,
	[PickHeaderKey] [nvarchar](18) NOT NULL,
	[OrderKey] [nvarchar](10) NOT NULL,
	[OrderLineNumber] [nvarchar](5) NOT NULL,
	[Lot] [nvarchar](10) NOT NULL,
	[Storerkey] [nvarchar](15) NOT NULL,
	[Sku] [nvarchar](20) NOT NULL,
	[AltSku] [nvarchar](20) NOT NULL,
	[UOM] [nvarchar](10) NOT NULL,
	[UOMQty] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[QtyMoved] [int] NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[DropID] [nvarchar](20) NOT NULL,
	[Loc] [nvarchar](10) NOT NULL,
	[ID] [nvarchar](18) NOT NULL,
	[PackKey] [nvarchar](10) NULL,
	[UpdateSource] [nvarchar](10) NULL,
	[CartonGroup] [nvarchar](10) NULL,
	[CartonType] [nvarchar](10) NULL,
	[ToLoc] [nvarchar](10) NULL,
	[DoReplenish] [nvarchar](1) NULL,
	[ReplenishZone] [nvarchar](10) NULL,
	[DoCartonize] [nvarchar](1) NULL,
	[PickMethod] [nvarchar](1) NOT NULL,
	[WaveKey] [nvarchar](10) NOT NULL,
	[EffectiveDate] [datetime] NOT NULL,
	[AddDate] [datetime] NOT NULL,
	[AddWho] [nvarchar](128) NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[EditWho] [nvarchar](128) NOT NULL,
	[TrafficCop] [nvarchar](1) NULL,
	[ArchiveCop] [nvarchar](1) NULL,
	[OptimizeCop] [nvarchar](1) NULL,
	[ShipFlag] [nvarchar](1) NULL,
	[PickSlipNo] [nvarchar](10) NULL,
	[TaskDetailKey] [nvarchar](10) NULL,
	[TaskManagerReasonKey] [nvarchar](10) NULL,
	[Notes] [nvarchar](4000) NULL,
	[MoveRefKey] [nvarchar](10) NULL,
	[Channel_ID] [bigint] NULL,
	[SourceType] [nvarchar](50) NULL,
 CONSTRAINT [PKPickDetail] PRIMARY KEY CLUSTERED 
(
	[PickDetailKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'IDX_PICKDETAIL_CASEID')
CREATE NONCLUSTERED INDEX [IDX_PICKDETAIL_CASEID] ON [dbo].[PICKDETAIL]
(
	[CaseID, Storerkey, Status ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'IDX_PICKDETAIL_DropID')
CREATE NONCLUSTERED INDEX [IDX_PICKDETAIL_DropID] ON [dbo].[PICKDETAIL]
(
	[DropID] ASC,
	[Storerkey] ASC,
	[Status] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'IDX_PICKDETAIL_ID')
CREATE NONCLUSTERED INDEX [IDX_PICKDETAIL_ID] ON [dbo].[PICKDETAIL]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'idx_pickdetail_pickslipno')
CREATE NONCLUSTERED INDEX [idx_pickdetail_pickslipno] ON [dbo].[PICKDETAIL]
(
	[PickSlipNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'ix_PICKDETAIL_Lotxlocxid')
CREATE NONCLUSTERED INDEX [ix_PICKDETAIL_Lotxlocxid] ON [dbo].[PICKDETAIL]
(
	[Lot] ASC,
	[Loc] ASC,
	[ID] ASC, [ShipFlag] ASC ,[Status] ASC
)
  WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'IX_pickdetail_SKU')
CREATE NONCLUSTERED INDEX [IX_pickdetail_SKU] ON [dbo].[PICKDETAIL]
(
	[Storerkey] ASC,
	[Sku] ASC,
	[OrderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'IX_PICKDETAIL_TaskDetailKey')
CREATE NONCLUSTERED INDEX [IX_PICKDETAIL_TaskDetailKey] ON [dbo].[PICKDETAIL]
(
	[TaskDetailKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'PICKDETAIL_OrderDetStatus')
CREATE NONCLUSTERED INDEX [PICKDETAIL_OrderDetStatus] ON [dbo].[PICKDETAIL]
(
	[OrderKey] ASC,
	[OrderLineNumber] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'PICKDETAIL10')
CREATE NONCLUSTERED INDEX [PICKDETAIL10] ON [dbo].[PICKDETAIL]
(
	[OrderKey] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'PICKDETAIL12')
CREATE NONCLUSTERED INDEX [PICKDETAIL12] ON [dbo].[PICKDETAIL]
(
	[PickHeaderKey] ASC,
	[OrderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'IDX_PICKDETAIL_Moverefkey')
CREATE NONCLUSTERED INDEX [IDX_PICKDETAIL_Moverefkey] ON [dbo].[PICKDETAIL]
( 
Storerkey ASC, Loc ASC, Moverefkey ASC, Lot ASC, ID ASC

)
INCLUDE([ShipFlag],[Status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_CaseID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_CaseID]  DEFAULT (' ') FOR [CaseID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_AltSku]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_AltSku]  DEFAULT (' ') FOR [AltSku]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_UOM]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_UOM]  DEFAULT (' ') FOR [UOM]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_UOMQty]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_UOMQty]  DEFAULT ((0)) FOR [UOMQty]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_Qty]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_Qty]  DEFAULT ((0)) FOR [Qty]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_QtyMoved]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_QtyMoved]  DEFAULT ((0)) FOR [QtyMoved]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_Status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_Status]  DEFAULT ('0') FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_DropID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_DropID]  DEFAULT ('') FOR [DropID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_Loc]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_Loc]  DEFAULT ('UNKNOWN') FOR [Loc]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_ID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_ID]  DEFAULT (' ') FOR [ID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_PackKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_PackKey]  DEFAULT (' ') FOR [PackKey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_UpdateSource]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_UpdateSource]  DEFAULT ('0') FOR [UpdateSource]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_ToLoc]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_ToLoc]  DEFAULT (' ') FOR [ToLoc]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_DoReplenish]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_DoReplenish]  DEFAULT ('N') FOR [DoReplenish]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_ReplenishZone]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_ReplenishZone]  DEFAULT (' ') FOR [ReplenishZone]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_DoCartonize]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_DoCartonize]  DEFAULT ('N') FOR [DoCartonize]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_PickMethod]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_PickMethod]  DEFAULT (' ') FOR [PickMethod]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_WaveKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_WaveKey]  DEFAULT (' ') FOR [WaveKey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_EffectiveDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_EffectiveDate]  DEFAULT (getdate()) FOR [EffectiveDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PickDetail_ShipFlag]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PickDetail_ShipFlag]  DEFAULT ('0') FOR [ShipFlag]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_MoveRefKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_MoveRefKey]  DEFAULT ('') FOR [MoveRefKey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_Channel_ID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_Channel_ID]  DEFAULT ((0)) FOR [Channel_ID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_PICKDETAIL_SourceType]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PICKDETAIL] ADD  CONSTRAINT [DF_PICKDETAIL_SourceType]  DEFAULT ('') FOR [SourceType]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PICKDETAIL_LOT_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]'))
ALTER TABLE [dbo].[PICKDETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_PICKDETAIL_LOT_01] FOREIGN KEY([Storerkey], [Sku], [Lot])
REFERENCES [dbo].[LOTATTRIBUTE] ([StorerKey], [Sku], [Lot])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PICKDETAIL_LOT_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]'))
ALTER TABLE [dbo].[PICKDETAIL] CHECK CONSTRAINT [FK_PICKDETAIL_LOT_01]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PICKDETAIL_LOTLOCID_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]'))
ALTER TABLE [dbo].[PICKDETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_PICKDETAIL_LOTLOCID_01] FOREIGN KEY([Lot], [Loc], [ID])
REFERENCES [dbo].[LOTxLOCxID] ([Lot], [Loc], [Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PICKDETAIL_LOTLOCID_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]'))
ALTER TABLE [dbo].[PICKDETAIL] CHECK CONSTRAINT [FK_PICKDETAIL_LOTLOCID_01]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PICKDETAIL_SKU_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]'))
ALTER TABLE [dbo].[PICKDETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_PICKDETAIL_SKU_01] FOREIGN KEY([Storerkey], [Sku])
REFERENCES [dbo].[SKU] ([StorerKey], [Sku])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PICKDETAIL_SKU_01]') AND parent_object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]'))
ALTER TABLE [dbo].[PICKDETAIL] CHECK CONSTRAINT [FK_PICKDETAIL_SKU_01]
GO

IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_PICKDETAIL_Qty]') AND parent_object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]'))
ALTER TABLE [dbo].[PICKDETAIL]  WITH NOCHECK ADD  CONSTRAINT [CK_PICKDETAIL_Qty] CHECK  (([Qty]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_PICKDETAIL_Qty]') AND parent_object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]'))
ALTER TABLE [dbo].[PICKDETAIL] CHECK CONSTRAINT [CK_PICKDETAIL_Qty]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_PICKDETAIL_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]'))
ALTER TABLE [dbo].[PICKDETAIL]  WITH NOCHECK ADD  CONSTRAINT [CK_PICKDETAIL_Status] CHECK  ((rtrim([Status]) like '[0-9]'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_PICKDETAIL_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]'))
ALTER TABLE [dbo].[PICKDETAIL] CHECK CONSTRAINT [CK_PICKDETAIL_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'PickDetailKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Number of pickdetail which is picking and system will auto generated pickdetail number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'PickDetailKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'CaseID'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Case id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'CaseID'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'PickHeaderKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pick Ticket #' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'PickHeaderKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'OrderKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Shipment Order number. It''s used to identify a specific shipment order record. Automatically generated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'OrderKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'OrderLineNumber'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Order detail line number. System generated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'OrderLineNumber'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'Lot'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique re-populated numeric value associated with a specific product.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'Lot'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'Storerkey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Storer/seller of the products being shipped (Owner of the goods)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'Storerkey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'Sku'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique code identifying the product' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'Sku'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'AltSku'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Commodities in the warehouse can be identified with a variety of labels, each referring to the product by a different name or item number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'AltSku'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'UOM'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit of measure associated with the transaction when it was entered' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'UOM'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'UOMQty'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quantity of product associated with the transaction, calculated in the UOM associated with the transaction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'UOMQty'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'Qty'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pick Qty' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'Qty'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'QtyMoved'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quantity Moved' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'QtyMoved'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'Status'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Picked Status' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'Status'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'DropID'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Drop Id refers to the pallet in which the items' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'DropID'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'Loc'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Location Picked' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'Loc'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'ID'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Movable Unit ID for the Commodity being picked' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'ID'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'PackKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pack code associated with the transaction when it was entered' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'PackKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'UpdateSource'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Update Source' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'UpdateSource'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'CartonGroup'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Carton Group' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'CartonGroup'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'CartonType'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Carton Type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'CartonType'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'ToLoc'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Location to which to move the Commodity to' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'ToLoc'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'DoCartonize'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Do Cartonization' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'DoCartonize'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'WaveKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique code identifying Wave.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'WaveKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'EffectiveDate'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Effective Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'EffectiveDate'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'AddDate'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of the information added. (System date)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'AddDate'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'AddWho'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The username/login ID added the information.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'AddWho'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'EditDate'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of the information edited/modified/updated. (System date)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'EditDate'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'EditWho'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The username/login ID edited/modified/updated the information.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'EditWho'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'TrafficCop'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'When checked, fields updated in this table will not trigger to update other tables that are linked with this table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'TrafficCop'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'PickSlipNo'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique number identifying Pick Slip.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'PickSlipNo'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'TaskDetailKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Task number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'TaskDetailKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PICKDETAIL', N'COLUMN',N'SourceType'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SourceType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PICKDETAIL', @level2type=N'COLUMN',@level2name=N'SourceType'
GO


IF   EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'IDX_PICKDETAIL_CASEID')
   AND ( 3 <> (SELECT count(1) 
   FROM sys.indexes i
   JOIN sys.index_columns AS ic ON i.object_id = ic.object_id AND i.index_id = ic.index_id
   WHERE i.object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND i.name = N'IDX_PICKDETAIL_CASEID' 
   AND ic.is_included_column = 0 ))
BEGIN
   DROP INDEX [IDX_PICKDETAIL_CASEID] ON [dbo].[PICKDETAIL]

   CREATE NONCLUSTERED INDEX [IDX_PICKDETAIL_CASEID] ON [dbo].[PICKDETAIL]
   (
	   [CaseID] ASC, [Storerkey] ASC, [Status] ASC
   )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
END
GO

IF EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'ix_PICKDETAIL_Lotxlocxid')
   AND ( 5 <> (SELECT count(1) 
   FROM sys.indexes i
   JOIN sys.index_columns AS ic ON i.object_id = ic.object_id AND i.index_id = ic.index_id
   WHERE i.object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND i.name = N'ix_PICKDETAIL_Lotxlocxid' 
   AND ic.is_included_column = 0 ))
BEGIN
   DROP INDEX [ix_PICKDETAIL_Lotxlocxid] ON [dbo].[PICKDETAIL]

   CREATE NONCLUSTERED INDEX [ix_PICKDETAIL_Lotxlocxid] ON [dbo].[PICKDETAIL]
   (
	   [Lot] ASC,
	   [Loc] ASC,
	   [ID] ASC, [ShipFlag] ASC ,[Status] ASC
   )
     WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
END
GO

IF   EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PICKDETAIL]') AND name = N'PICKDETAIL9')
DROP INDEX PICKDETAIL9 ON [dbo].[PICKDETAIL]
GO
 


  