SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SerialNo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SerialNo](
	[SerialNoKey] [nvarchar](10) NOT NULL,
	[OrderKey] [nvarchar](10) NOT NULL,
	[OrderLineNumber] [nvarchar](5) NOT NULL,
	[StorerKey] [nvarchar](15) NOT NULL,
	[SKU] [nvarchar](20) NOT NULL,
	[SerialNo] [nvarchar](30) NOT NULL,
	[Qty] [int] NULL,
	[AddWho] [nvarchar](128) NULL,
	[AddDate] [datetime] NULL,
	[Status] [nvarchar](10) NOT NULL,
	[LotNo] [nvarchar](20) NULL,
	[EditDate] [datetime] NOT NULL,
	[EditWho] [nvarchar](128) NOT NULL,
	[ID] [nvarchar](18) NULL,
	[ExternStatus] [nvarchar](10) NULL,
	[PickSlipNo] [nvarchar](10) NULL,
	[CartonNo] [int] NULL,
	[LabelLine] [nvarchar](5) NULL,
	[UserDefine01] [nvarchar](30) NULL,
	[UserDefine02] [nvarchar](30) NULL,
	[UserDefine03] [nvarchar](30) NULL,
	[UserDefine04] [nvarchar](30) NULL,
	[UserDefine05] [nvarchar](30) NULL,
	[ArchiveCop] [nvarchar](1) NULL,
	[TrafficCop] [nchar](1) NULL,
	[UCCNo] [nvarchar](20) NULL,
	[Lot] [nvarchar](10) NOT NULL,
	[Loc] [nvarchar](10) NULL
 CONSTRAINT [PK_SerialNo] PRIMARY KEY CLUSTERED 
(
	[SerialNoKey] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

 GRANT SELECT ON  [dbo].[SerialNo] TO [JReportRole]
   
 GRANT DELETE ON  [dbo].[SerialNo] TO [NSQL]
   
 GRANT INSERT ON  [dbo].[SerialNo] TO [NSQL]
  
 GRANT SELECT ON  [dbo].[SerialNo] TO [NSQL]
   
 GRANT UPDATE ON  [dbo].[SerialNo] TO [NSQL]
END
GO
SET ANSI_PADDING ON
GO

IF NOT EXISTS (SELECT *
               FROM sys.columns
               WHERE Name = 'Loc'
               AND Object_ID = Object_ID('SerialNo'))
BEGIN
    ALTER TABLE SERIALNO
        ADD Loc NVARCHAR(10) NULL CONSTRAINT [DF_SerialNo_Loc] DEFAULT ('');
END       

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[SerialNo]') AND name = N'IX_SerialNo_Orders')
CREATE NONCLUSTERED INDEX [IX_SerialNo_Orders] ON [dbo].[SerialNo]
(
	[OrderKey] ASC,
	[OrderLineNumber] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[SerialNo]') AND name = N'IX_SerialNo_Pack')
CREATE NONCLUSTERED INDEX [IX_SerialNo_Pack] ON [dbo].[SerialNo]
(
	[PickSlipNo] ASC,
	[CartonNo] ASC,
	[LabelLine] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[SerialNo]') AND name = N'IX_SerialNo_UCCNo')
CREATE NONCLUSTERED INDEX [IX_SerialNo_UCCNo] ON [dbo].[SerialNo]
(
	[UCCNo] ASC,
	[SKU] ASC,
	[StorerKey] ASC
)
INCLUDE([SerialNo],[Status]) WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[SerialNo]') AND name = N'IX_SerialNo_UDF01')
CREATE NONCLUSTERED INDEX [IX_SerialNo_UDF01] ON [dbo].[SerialNo]
(
	[StorerKey] ASC,
	[SKU] ASC,
	[PickSlipNo] ASC,
	[UserDefine01] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[SerialNo]') AND name = N'IX_StorerKey_SerialNo')
CREATE NONCLUSTERED INDEX [IX_StorerKey_SerialNo] ON [dbo].[SerialNo]
(
	[StorerKey] ASC,
	[SerialNo] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO  
  
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_Qty]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_Qty]  DEFAULT ((0)) FOR [Qty]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_Status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_Status]  DEFAULT ('0') FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SERIALNO_ID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SERIALNO_ID]  DEFAULT ('') FOR [ID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SERIALNO_ExternStatus]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SERIALNO_ExternStatus]  DEFAULT ('0') FOR [ExternStatus]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SERIALNO_PickSlipNo]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SERIALNO_PickSlipNo]  DEFAULT ('') FOR [PickSlipNo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SERIALNO_CartonNo]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SERIALNO_CartonNo]  DEFAULT ((0)) FOR [CartonNo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SERIALNO_LabelLine]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SERIALNO_LabelLine]  DEFAULT ('') FOR [LabelLine]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_UserDefine01]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_UserDefine01]  DEFAULT ('') FOR [UserDefine01]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_UserDefine02]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_UserDefine02]  DEFAULT ('') FOR [UserDefine02]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_UserDefine03]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_UserDefine03]  DEFAULT ('') FOR [UserDefine03]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_UserDefine04]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_UserDefine04]  DEFAULT ('') FOR [UserDefine04]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_UserDefine05]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_UserDefine05]  DEFAULT ('') FOR [UserDefine05]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_UCCNo]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_UCCNo]  DEFAULT ('') FOR [UCCNo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_Lot]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_Lot]  DEFAULT ('') FOR [Lot]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_SerialNo_Loc]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SerialNo] ADD  CONSTRAINT [DF_SerialNo_Loc]  DEFAULT ('') FOR [Loc]
END
GO

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'SerialNoKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique code identifying Serial Number.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'SerialNoKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'OrderKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique code identifying Orders.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'OrderKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'StorerKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique key to the Storer record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'StorerKey'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'SKU'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique code identifying the product.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'SKU'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'Qty'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quantity of the product associated.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'Qty'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'AddWho'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The username/login ID added the information.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'AddWho'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'AddDate'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of the information added. (System date)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'AddDate'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'ExternStatus'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ExternStatus' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'ExternStatus'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'PickSlipNo'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Packing - Pick Slip #' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'PickSlipNo'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'CartonNo'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Packing - Carton #' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'CartonNo'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'LabelLine'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Packing - Label Line #' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'LabelLine'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'UserDefine01'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User define 01' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'UserDefine01'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'UserDefine02'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User define 02' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'UserDefine02'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'UserDefine03'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User define 03' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'UserDefine03'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'UserDefine04'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User define 04' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'UserDefine04'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'UserDefine05'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User define 05' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'UserDefine05'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'TrafficCop'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'When checked, fields updated in this table will not trigger to update other tables that are linked with this table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'TrafficCop'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'UCCNo'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'UCC No' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'UCCNo'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'Lot'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique re-populated numeric value associated with a  specific product' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'Lot'
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'SerialNo', N'COLUMN',N'Loc'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Location of the serialno' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SerialNo', @level2type=N'COLUMN',@level2name=N'Loc'
GO
         