SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WMREPORTCONV]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WMREPORTCONV](
	[RowId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](50) NULL,
	[ReportType] [nvarchar](100) NULL,
	[DefaultDW] [nvarchar](100) NULL,
	[Parms] [nvarchar](500) NULL,
	[Status] [nvarchar](10) NOT NULL,
	[Remarks] [nvarchar](1000) NULL,
	[ParmsLabel] [nvarchar](1000) NULL,
	[ReportTitle] [nvarchar](125) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__WMREPORTC__Statu__3C82378E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WMREPORTCONV] ADD  DEFAULT ('0') FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__WMREPORTC__Repor__3D765BC7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WMREPORTCONV] ADD  DEFAULT ('') FOR [ReportTitle]
END
GO
