SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkOrderDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WorkOrderDetail](
	[WorkOrderKey] [nvarchar](10) NOT NULL,
	[WorkOrderLineNumber] [nvarchar](5) NOT NULL,
	[ExternWorkOrderKey] [nvarchar](20) NULL,
	[ExternLineNo] [nvarchar](5) NULL,
	[Type] [nvarchar](12) NOT NULL,
	[Reason] [nvarchar](10) NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[Qty] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[LineValue] [money] NULL,
	[Remarks] [nvarchar](215) NULL,
	[WkOrdUdef1] [nvarchar](50) NULL,
	[WkOrdUdef2] [nvarchar](18) NULL,
	[WkOrdUdef3] [nvarchar](18) NULL,
	[WkOrdUdef4] [nvarchar](18) NULL,
	[WkOrdUdef5] [nvarchar](18) NULL,
	[Status] [nvarchar](10) NULL,
	[AddDate] [datetime] NULL,
	[AddWho] [nvarchar](128) NULL,
	[EditDate] [datetime] NULL,
	[EditWho] [nvarchar](128) NULL,
	[TrafficCop] [nvarchar](1) NULL,
	[ArchiveCop] [nvarchar](1) NULL,
	[StorerKey] [nvarchar](15) NULL,
	[Sku] [nvarchar](20) NULL,
	[WkOrdUdef6] [datetime] NULL,
	[WkOrdUdef7] [datetime] NULL,
	[WkOrdUdef8] [nvarchar](30) NULL,
	[WkOrdUdef9] [nvarchar](30) NULL,
	[WkOrdUdef10] [nvarchar](30) NULL,
 CONSTRAINT [PK_WorkOrderDetail] PRIMARY KEY CLUSTERED 
(
	[WorkOrderKey] ASC,
	[WorkOrderLineNumber] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[WorkOrderDetail]') AND name = N'IX_WORKORDERDETAIL_ExtWorkOrderKey')
CREATE NONCLUSTERED INDEX [IX_WORKORDERDETAIL_ExtWorkOrderKey] ON [dbo].[WorkOrderDetail]
(
	[ExternWorkOrderKey] ASC,
	[ExternLineNo] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_WorkOrderKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_WorkOrderKey]  DEFAULT (' ') FOR [WorkOrderKey]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_WorkOrderLineNumber]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_WorkOrderLineNumber]  DEFAULT (' ') FOR [WorkOrderLineNumber]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_ExternWorkOrderKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_ExternWorkOrderKey]  DEFAULT (' ') FOR [ExternWorkOrderKey]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_ExternLineNo]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_ExternLineNo]  DEFAULT (' ') FOR [ExternLineNo]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_Type]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_Type]  DEFAULT (' ') FOR [Type]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_Reason]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_Reason]  DEFAULT (' ') FOR [Reason]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_Unit]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_Unit]  DEFAULT (' ') FOR [Unit]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_Qty]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_Qty]  DEFAULT ((0)) FOR [Qty]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_Price]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_Price]  DEFAULT ((0)) FOR [Price]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_LineValue]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_LineValue]  DEFAULT ((0)) FOR [LineValue]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_Remarks]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_Remarks]  DEFAULT (' ') FOR [Remarks]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_OvasUdef1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_OvasUdef1]  DEFAULT (' ') FOR [WkOrdUdef1]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_OvasUdef2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_OvasUdef2]  DEFAULT (' ') FOR [WkOrdUdef2]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_OvasUdef3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_OvasUdef3]  DEFAULT (' ') FOR [WkOrdUdef3]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_OvasUdef4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_OvasUdef4]  DEFAULT (' ') FOR [WkOrdUdef4]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_OvasUdef5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_OvasUdef5]  DEFAULT (' ') FOR [WkOrdUdef5]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_Status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_Status]  DEFAULT ('0') FOR [Status]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_StorerKey]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_StorerKey]  DEFAULT (' ') FOR [StorerKey]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_Sku]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_Sku]  DEFAULT (' ') FOR [Sku]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_WkOrdUdef6]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_WkOrdUdef6]  DEFAULT (' ') FOR [WkOrdUdef6]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_WkOrdUdef7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_WkOrdUdef7]  DEFAULT (' ') FOR [WkOrdUdef7]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_WkOrdUdef8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_WkOrdUdef8]  DEFAULT (' ') FOR [WkOrdUdef8]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_WkOrdUdef9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_WkOrdUdef9]  DEFAULT (' ') FOR [WkOrdUdef9]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_WorkOrderDetail_WkOrdUdef10]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkOrderDetail] ADD  CONSTRAINT [DF_WorkOrderDetail_WkOrdUdef10]  DEFAULT (' ') FOR [WkOrdUdef10]
END

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WorkOrderKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique code identifying workorder.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WorkOrderKey'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WorkOrderLineNumber'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Workorder transaction line number. Use default' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WorkOrderLineNumber'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'ExternWorkOrderKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique code identifying workorder used by the Storer.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'ExternWorkOrderKey'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'ExternLineNo'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'External Workorder line number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'ExternLineNo'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'Unit'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'unit of measurement' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'Unit'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'Qty'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'quantity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'Qty'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'Price'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the price of the service' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'Price'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'LineValue'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Computed field where the quantity * price' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'LineValue'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'Remarks'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'remark per detail line' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'Remarks'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WkOrdUdef1'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'detail line user defined' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WkOrdUdef1'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WkOrdUdef2'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'detail line user defined' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WkOrdUdef2'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WkOrdUdef3'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'detail line user defined' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WkOrdUdef3'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WkOrdUdef4'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'detail line user defined' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WkOrdUdef4'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WkOrdUdef5'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'detail line user defined' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WkOrdUdef5'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'AddDate'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of the information added. (System date)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'AddDate'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'AddWho'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The username/login ID added the information. ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'AddWho'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'EditDate'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Date of the information edited/modified/updated. (System date)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'EditDate'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'EditWho'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The username/login ID edited/modified/updated the information.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'EditWho'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'TrafficCop'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'When checked, fields updated in this table will not trigger to update other tables that are linked with this table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'TrafficCop'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'StorerKey'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'StorerKey' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'StorerKey'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'Sku'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sku' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'Sku'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WkOrdUdef6'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Work Order Detail Userdefine 6' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WkOrdUdef6'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WkOrdUdef7'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Work Order Detail Userdefine 7' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WkOrdUdef7'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WkOrdUdef8'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Work Order Detail Userdefine 8' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WkOrdUdef8'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WkOrdUdef9'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Work Order Detail Userdefine 9' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WkOrdUdef9'

IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WorkOrderDetail', N'COLUMN',N'WkOrdUdef10'))
	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Work Order Detail Userdefine 10' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkOrderDetail', @level2type=N'COLUMN',@level2name=N'WkOrdUdef10'

END
ELSE
BEGIN
   IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'DBO' AND TABLE_NAME = 'WorkOrderDetail' AND COLUMN_NAME = 'WkOrdUdef1' AND CHARACTER_MAXIMUM_LENGTH = 18)
   BEGIN
   ALTER TABLE dbo.WorkOrderDetail ALTER COLUMN WkOrdUdef1 NVARCHAR (50) NULL
   END
END
