-- 876 = ?? screen
DELETE rdt.RDTScn WHERE Scn = 876 AND Lang_Code = 'ENG'
EXECUTE rdt.rdtAddScn 876, 'ENG',
    @cLine01 = 'Serial No Delete'
   ,@cLine03 = 'Serial #:'
   ,@cLine05 = '%30i01' -- (Modified for SOS#315487 - extend field length to 30 char)
   ,@cLine14 = '%e'
 
-- 877 = ?? screen
DELETE rdt.RDTScn WHERE Scn = 877 AND Lang_Code = 'ENG'
EXECUTE rdt.rdtAddScn 877, 'ENG',
    @cLine01 = 'Serial No Delete'
   ,@cLine03 = 'Serial #:'
   ,@cLine04 = '%30d01' -- (Modified for SOS#315487 - extend field length to 30 char)
   ,@cLine05 = 'Order #:'
   ,@cLine06 = '%10d02'
   ,@cLine07 = 'Customer:'
   ,@cLine08 = '%20d03'
   ,@cLine09 = '%20d04'
   ,@cLine10 = 'SKU:'
   ,@cLine11 = '%20d05'
   ,@cLine12 = '%20d06'
   ,@cLine13 = '<enter> - Delete SN#'
   ,@cLine14 = '%e'
 
-- 878 = ?? screen
DELETE rdt.RDTScn WHERE Scn = 878 AND Lang_Code = 'ENG'
EXECUTE rdt.rdtAddScn 878, 'ENG',
    @cLine01 = 'Serial No Delete'
   ,@cLine03 = 'Confirm Delete SN #?'
   ,@cLine05 = 'Serial #:'
   ,@cLine06 = '%30d01' -- (Modified for SOS#315487 - extend field length to 30 char)
   ,@cLine08 = '1 = Confirm'
   ,@cLine09 = '2 = Abort'
   ,@cLine11 = 'Option: %01i02'
   ,@cLine13 = '%20d03' -- WMS2954
   ,@cLine14 = '%e'

UPDATE RDT.RDTSCN SET FUNC = 871 WHERE SCN BETWEEN 876 AND 878
