IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[rdt].[rdtConvUOM]') and type = 'FN')
DROP FUNCTION [rdt].[rdtConvUOM]
GO

SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS OFF 
GO
/************************************************************************/
/* Function       : rdtConvUOM                                          */
/* Copyright      : IDS                                                 */
/*                                                                      */
/* Purpose: Convert QTY based on FromUOM and ToUOM                      */
/*                                                                      */
/* Modifications log:                                                   */
/*                                                                      */
/* Date         Rev  Author     Purposes                                */
/* 2010-03-30   1.0  AQSACM   Created                                   */
/************************************************************************/

CREATE FUNCTION [RDT].[rdtConvUOM] ( 
   @cStorer  NVARCHAR( 15),
   @cSKU     NVARCHAR( 20),
   @cFromQTY NVARCHAR( 20),
   @cFromUOM NVARCHAR( 1),
   @cToUOM   NVARCHAR( 1)
) RETURNS INT AS
BEGIN
 
	IF Isnumeric(@cFromQTY) <> 1
	BEGIN
		GOTO FAIL
	END

   DECLARE @nEaQTY  INT
   DECLARE @nDivQTY INT
   DECLARE @nToQTY  INT
   DECLARE @nFromQTY Float

   SELECT @nEaQTY  = 0
   SELECT @nDivQTY = 0
   SELECT @nToQTY  = 0

	SELECT @nFromQTY = CONVERT(float,@cFromQTY)

   SELECT 
      @nEaQTY = CASE @cFromUOM
            WHEN '1' THEN @nFromQTY * PACK.Pallet
            WHEN '2' THEN @nFromQTY * PACK.CaseCnt
            WHEN '3' THEN @nFromQTY * PACK.InnerPack
            WHEN '4' THEN @nFromQTY * PACK.OtherUnit1
            WHEN '5' THEN @nFromQTY * PACK.OtherUnit2
            WHEN '6' THEN @nFromQTY * PACK.QTY
            ELSE NULL END,
      @nDivQTY = CASE @cToUOM
            WHEN '1' THEN PACK.Pallet
            WHEN '2' THEN PACK.CaseCnt
            WHEN '3' THEN PACK.InnerPack
            WHEN '4' THEN PACK.OtherUnit1
            WHEN '5' THEN PACK.OtherUnit2
            WHEN '6' THEN PACK.QTY
            ELSE NULL END
   FROM dbo.SKU SKU (NOLOCK)
   INNER JOIN dbo.PACK PACK (NOLOCK) ON (SKU.PackKey = PACK.PackKey)
   WHERE SKU.StorerKey = @cStorer
   AND   SKU.SKU = @cSKU

   IF @nEaQTY IS NULL OR @nDivQTY IS NULL OR @nDivQTY = 0
      GOTO FAIL

   SELECT @nToQTY = CONVERT(INT,(@nEaQTY / @nDivQTY))

   RETURN @nToQTY

FAIL:
   RETURN NULL
END
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON
GO

GRANT EXECUTE ON [rdt].[rdtConvUOM] TO NSQL
GO