# FbM Devops autoImporter job CODEOWNERS-FbM-4119
#* @Maersk-Global/fbm-production-team-fbmbackendcommitters
.github/** @Maersk-Global/fbm-production-team-devops
k8s_manifests/** @Maersk-Global/fbm-production-team-devops
