** @Maersk-Global/FbM-CoreWMS-codeowners @Maersk-Global/fbm-rdt-backend @Maersk-Global/FbM-ReportnLabel @Cap-CJ @Maersk-Global/fbm-wms-dba @Maersk-Global/FbM-MWMS-IO @Maersk-Global/fbm-mwms-tech-l3 @Maersk-Global/fbm-crossfunc-core @Maersk-Global/FbM-MWMS-INV
.github/** @Maersk-Global/fbm-sre
k8s_manifests/** @Maersk-Global/fbm-sre
