SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[rdtDynamicModule]') AND type in (N'U'))
BEGIN
CREATE TABLE [RDT].[rdtDynamicModule](
	[RowRef] [int] IDENTITY(1,1) NOT NULL,
	[Func] [int] NOT NULL,
	[Scn] [int] NOT NULL,
	[FieldNo] [nvarchar](20) NOT NULL,
	[SeqNo] [int] NOT NULL,
	[ProcessType] [nvarchar](10) NOT NULL,
	[PrevScn] [int] NOT NULL,
	[NextScn] [int] NOT NULL,
	[PrevSP] [nvarchar](50) NOT NULL,
	[NextSP] [nvarchar](50) NOT NULL,
	[PrevSQL] [nvarchar](max) NOT NULL,
	[NextSQL] [nvarchar](max) NOT NULL,
	[AddWho] [nvarchar](128) NOT NULL,
	[AddDate] [datetime] NOT NULL,
	[EditWho] [nvarchar](128) NOT NULL,
	[EditDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RDTDynamicModule] PRIMARY KEY CLUSTERED 
(
	[RowRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_FieldNo]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_FieldNo]  DEFAULT ('') FOR [FieldNo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_SeqNo]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_SeqNo]  DEFAULT ((0)) FOR [SeqNo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_PrevScn]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_PrevScn]  DEFAULT ((0)) FOR [PrevScn]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_NextScn]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_NextScn]  DEFAULT ((0)) FOR [NextScn]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_PrevSP]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_PrevSP]  DEFAULT ('') FOR [PrevSP]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_NextSP]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_NextSP]  DEFAULT ('') FOR [NextSP]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_PrevSQL]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_PrevSQL]  DEFAULT ('') FOR [PrevSQL]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_NextSQL]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_NextSQL]  DEFAULT ('') FOR [NextSQL]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModule_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModule] ADD  CONSTRAINT [DF_rdtDynamicModule_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[RDT].[CK_rdtDynamicModule_ProcessType]') AND parent_object_id = OBJECT_ID(N'[RDT].[rdtDynamicModule]'))
ALTER TABLE [RDT].[rdtDynamicModule]  WITH NOCHECK ADD  CONSTRAINT [CK_rdtDynamicModule_ProcessType] CHECK  (([ProcessType]='FLOW' OR [ProcessType]='PROCESS' OR [ProcessType]='VALIDATE' OR [ProcessType]='INIT'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[RDT].[CK_rdtDynamicModule_ProcessType]') AND parent_object_id = OBJECT_ID(N'[RDT].[rdtDynamicModule]'))
ALTER TABLE [RDT].[rdtDynamicModule] CHECK CONSTRAINT [CK_rdtDynamicModule_ProcessType]
GO
