SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[rdtDynamicModuleLibrary]') AND type in (N'U'))
BEGIN
CREATE TABLE [RDT].[rdtDynamicModuleLibrary](
	[RowRef] [int] IDENTITY(1,1) NOT NULL,
	[ProcessType] [nvarchar](10) NOT NULL,
	[Category] [nvarchar](20) NOT NULL,
	[Seq] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[SP] [nvarchar](50) NOT NULL,
	[Script] [nvarchar](max) NOT NULL,
	[AddWho] [nvarchar](128) NOT NULL,
	[AddDate] [datetime] NOT NULL,
	[EditWho] [nvarchar](128) NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_rdtDynamicModuleLibrary] PRIMARY KEY CLUSTERED 
(
	[RowRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModuleLibrary_Category]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModuleLibrary] ADD  CONSTRAINT [DF_rdtDynamicModuleLibrary_Category]  DEFAULT ('') FOR [Category]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModuleLibrary_Seq]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModuleLibrary] ADD  CONSTRAINT [DF_rdtDynamicModuleLibrary_Seq]  DEFAULT ((0)) FOR [Seq]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModuleLibrary_Description]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModuleLibrary] ADD  CONSTRAINT [DF_rdtDynamicModuleLibrary_Description]  DEFAULT ('') FOR [Description]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModuleLibrary_SP]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModuleLibrary] ADD  CONSTRAINT [DF_rdtDynamicModuleLibrary_SP]  DEFAULT ('') FOR [SP]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModuleLibrary_Script]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModuleLibrary] ADD  CONSTRAINT [DF_rdtDynamicModuleLibrary_Script]  DEFAULT ('') FOR [Script]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModuleLibrary_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModuleLibrary] ADD  CONSTRAINT [DF_rdtDynamicModuleLibrary_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModuleLibrary_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModuleLibrary] ADD  CONSTRAINT [DF_rdtDynamicModuleLibrary_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModuleLibrary_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModuleLibrary] ADD  CONSTRAINT [DF_rdtDynamicModuleLibrary_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModuleLibrary_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModuleLibrary] ADD  CONSTRAINT [DF_rdtDynamicModuleLibrary_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtDynamicModuleLibrary_Name]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtDynamicModuleLibrary] ADD  CONSTRAINT [DF_rdtDynamicModuleLibrary_Name]  DEFAULT ('') FOR [Name]
END
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[RDT].[CK_rdtDynamicModuleLibrary_ProcessType]') AND parent_object_id = OBJECT_ID(N'[RDT].[rdtDynamicModuleLibrary]'))
ALTER TABLE [RDT].[rdtDynamicModuleLibrary]  WITH NOCHECK ADD  CONSTRAINT [CK_rdtDynamicModuleLibrary_ProcessType] CHECK  (([ProcessType]='PROCESS' OR [ProcessType]='VALIDATE'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[RDT].[CK_rdtDynamicModuleLibrary_ProcessType]') AND parent_object_id = OBJECT_ID(N'[RDT].[rdtDynamicModuleLibrary]'))
ALTER TABLE [RDT].[rdtDynamicModuleLibrary] CHECK CONSTRAINT [CK_rdtDynamicModuleLibrary_ProcessType]
GO
