SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[rdtVasSerialNoLog]') AND type in (N'U'))
BEGIN
CREATE TABLE [RDT].[rdtVasSerialNoLog](
	[RowRef] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionKey] [nvarchar](10) NOT NULL,
	[Facility] [nvarchar](5) NOT NULL,
	[StorerKey] [nvarchar](15) NOT NULL,
	[UDF01] [nvarchar](60) NOT NULL,
	[UDF02] [nvarchar](60) NOT NULL,
	[UDF03] [nvarchar](60) NOT NULL,
	[UDF04] [nvarchar](60) NOT NULL,
	[UDF05] [nvarchar](60) NOT NULL,
	[SerialNo] [nvarchar](30) NOT NULL,
	[SKU] [nvarchar](20) NOT NULL,
	[Qty] [int] NULL,
	[Status] [nvarchar](10) NULL,
	[AddDate] [datetime] NULL,
	[AddWho] [nvarchar](18) NULL,
	[EditDate] [datetime] NULL,
	[EditWho] [nvarchar](18) NULL,
	[ArchiveCop] [nvarchar](1) NULL,
	[TrafficCop] [nvarchar](1) NULL,
 CONSTRAINT [PK_rdtVasSerialNoLog] PRIMARY KEY CLUSTERED 
(
	[RowRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[RDT].[rdtVasSerialNoLog]') AND name = N'IDX_rdtVasSerialNoLog_MasterChildSerial')
CREATE NONCLUSTERED INDEX [IDX_rdtVasSerialNoLog_MasterChildSerial] ON [RDT].[rdtVasSerialNoLog]
(
	[UDF01] ASC,
	[UDF02] ASC,
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtVasSerialNoLog_UDF01]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtVasSerialNoLog] ADD  CONSTRAINT [DF_rdtVasSerialNoLog_UDF01]  DEFAULT ('') FOR [UDF01]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtVasSerialNoLog_UDF02]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtVasSerialNoLog] ADD  CONSTRAINT [DF_rdtVasSerialNoLog_UDF02]  DEFAULT ('') FOR [UDF02]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtVasSerialNoLog_UDF03]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtVasSerialNoLog] ADD  CONSTRAINT [DF_rdtVasSerialNoLog_UDF03]  DEFAULT ('') FOR [UDF03]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtVasSerialNoLog_UDF04]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtVasSerialNoLog] ADD  CONSTRAINT [DF_rdtVasSerialNoLog_UDF04]  DEFAULT ('') FOR [UDF04]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtVasSerialNoLog_UDF05]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtVasSerialNoLog] ADD  CONSTRAINT [DF_rdtVasSerialNoLog_UDF05]  DEFAULT ('') FOR [UDF05]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtVasSerialNoLog_Qty]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtVasSerialNoLog] ADD  CONSTRAINT [DF_rdtVasSerialNoLog_Qty]  DEFAULT ((0)) FOR [Qty]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtVasSerialNoLog_Status]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtVasSerialNoLog] ADD  CONSTRAINT [DF_rdtVasSerialNoLog_Status]  DEFAULT (suser_sname()) FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtVasSerialNoLog_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtVasSerialNoLog] ADD  CONSTRAINT [DF_rdtVasSerialNoLog_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtVasSerialNoLog_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtVasSerialNoLog] ADD  CONSTRAINT [DF_rdtVasSerialNoLog_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtVasSerialNoLog_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtVasSerialNoLog] ADD  CONSTRAINT [DF_rdtVasSerialNoLog_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtVasSerialNoLog_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtVasSerialNoLog] ADD  CONSTRAINT [DF_rdtVasSerialNoLog_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
