SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[RDTDynamicModuleRegister]') AND type in (N'U'))
BEGIN
CREATE TABLE [RDT].[RDTDynamicModuleRegister](
	[RowRefNo] [bigint] IDENTITY(1,1) NOT NULL,
	[FuncID] [int] NULL,
	[ScreenID] [int] NULL,
	[UserName] [nvarchar](128) NULL,
	[AddDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowRefNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_API.TransactionLog_UserName]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTDynamicModuleRegister] ADD  CONSTRAINT [DF_API.TransactionLog_UserName]  DEFAULT ('') FOR [UserName]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_API.TransactionLog_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTDynamicModuleRegister] ADD  CONSTRAINT [DF_API.TransactionLog_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
