SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[rdtKitSerialNoLog]') AND type in (N'U'))
BEGIN
CREATE TABLE [RDT].[rdtKitSerialNoLog](
	[RowRef] [int] IDENTITY(1,1) NOT NULL,
	[GroupKey] [int] NOT NULL,
	[Mobile] [int] NOT NULL,
	[KitKey] [nvarchar](10) NOT NULL,
	[Type] [nvarchar](5) NOT NULL,
	[StorerKey] [nvarchar](15) NOT NULL,
	[SKU] [nvarchar](20) NOT NULL,
	[ExpectedQTY] [int] NOT NULL,
	[QTY] [int] NOT NULL,
	[SerialNo] [nvarchar](50) NOT NULL,
	[Lottable01] [nvarchar](18) NOT NULL,
	[Lottable02] [nvarchar](18) NOT NULL,
	[Lottable03] [nvarchar](18) NOT NULL,
	[Lottable04] [datetime] NULL,
	[Lottable05] [datetime] NULL,
	[Lottable06] [nvarchar](30) NOT NULL,
	[Lottable07] [nvarchar](30) NOT NULL,
	[Lottable08] [nvarchar](30) NOT NULL,
	[Lottable09] [nvarchar](30) NOT NULL,
	[Lottable10] [nvarchar](30) NOT NULL,
	[Lottable11] [nvarchar](30) NOT NULL,
	[Lottable12] [nvarchar](30) NOT NULL,
	[Lottable13] [datetime] NULL,
	[Lottable14] [datetime] NULL,
	[Lottable15] [datetime] NULL,
	[AddWho] [nvarchar](128) NOT NULL,
	[AddDate] [datetime] NOT NULL,
	[EditWho] [nvarchar](128) NOT NULL,
	[EditDate] [datetime] NOT NULL,
 CONSTRAINT [PK_rdtKitSerialNoLog] PRIMARY KEY CLUSTERED 
(
	[RowRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_GroupKey]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_GroupKey]  DEFAULT ((0)) FOR [GroupKey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_Lottable01]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_Lottable01]  DEFAULT ('') FOR [Lottable01]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_Lottable02]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_Lottable02]  DEFAULT ('') FOR [Lottable02]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_Lottable03]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_Lottable03]  DEFAULT ('') FOR [Lottable03]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_Lottable06]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_Lottable06]  DEFAULT ('') FOR [Lottable06]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_Lottable07]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_Lottable07]  DEFAULT ('') FOR [Lottable07]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_Lottable08]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_Lottable08]  DEFAULT ('') FOR [Lottable08]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_Lottable09]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_Lottable09]  DEFAULT ('') FOR [Lottable09]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_Lottable10]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_Lottable10]  DEFAULT ('') FOR [Lottable10]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_Lottable11]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_Lottable11]  DEFAULT ('') FOR [Lottable11]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_Lottable12]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_Lottable12]  DEFAULT ('') FOR [Lottable12]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_rdtKitSerialNoLog_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[rdtKitSerialNoLog] ADD  CONSTRAINT [DF_rdtKitSerialNoLog_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
