SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[RDTCCLock]') AND type in (N'U'))
BEGIN
CREATE TABLE [RDT].[RDTCCLock](
	[RowRef] [int] IDENTITY(1,1) NOT NULL,
	[Mobile] [int] NOT NULL,
	[CCKey] [nvarchar](10) NOT NULL,
	[CCDetailKey] [nvarchar](10) NOT NULL,
	[SheetNo] [nvarchar](10) NOT NULL,
	[CountNo] [nvarchar](10) NOT NULL,
	[Zone1] [nvarchar](10) NOT NULL,
	[Zone2] [nvarchar](10) NOT NULL,
	[Zone3] [nvarchar](10) NOT NULL,
	[Zone4] [nvarchar](10) NOT NULL,
	[Zone5] [nvarchar](10) NOT NULL,
	[Aisle] [nvarchar](10) NOT NULL,
	[Level] [nvarchar](10) NOT NULL,
	[Storerkey] [nvarchar](15) NOT NULL,
	[Sku] [nvarchar](20) NOT NULL,
	[Lot] [nvarchar](10) NOT NULL,
	[Loc] [nvarchar](10) NOT NULL,
	[Id] [nvarchar](18) NOT NULL,
	[Lottable01] [nvarchar](18) NULL,
	[Lottable02] [nvarchar](18) NULL,
	[Lottable03] [nvarchar](18) NULL,
	[Lottable04] [datetime] NULL,
	[Lottable05] [datetime] NULL,
	[SystemQty] [int] NOT NULL,
	[CountedQty] [int] NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[RefNo] [nvarchar](20) NULL,
	[AddWho] [nvarchar](128) NOT NULL,
	[AddDate] [datetime] NOT NULL,
	[EditWho] [nvarchar](128) NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[Lottable06] [nvarchar](30) NULL,
	[Lottable07] [nvarchar](30) NULL,
	[Lottable08] [nvarchar](30) NULL,
	[Lottable09] [nvarchar](30) NULL,
	[Lottable10] [nvarchar](30) NULL,
	[Lottable11] [nvarchar](30) NULL,
	[Lottable12] [nvarchar](30) NULL,
	[Lottable13] [datetime] NULL,
	[Lottable14] [datetime] NULL,
	[Lottable15] [datetime] NULL,
 CONSTRAINT [PK_RDTCCLock] PRIMARY KEY CLUSTERED 
(
	[RowRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[RDT].[RDTCCLock]') AND name = N'IDX_RDTCCLock_CCKey_LOC')
CREATE NONCLUSTERED INDEX [IDX_RDTCCLock_CCKey_LOC] ON [RDT].[RDTCCLock]
(
	[CCKey] ASC,
	[Loc] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_CCDetailKey]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_CCDetailKey]  DEFAULT (' ') FOR [CCDetailKey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_SheetNo]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_SheetNo]  DEFAULT (' ') FOR [SheetNo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_CountNo]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_CountNo]  DEFAULT (' ') FOR [CountNo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Zone1]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Zone1]  DEFAULT (' ') FOR [Zone1]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Zone2]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Zone2]  DEFAULT (' ') FOR [Zone2]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Zone3]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Zone3]  DEFAULT (' ') FOR [Zone3]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Zone4]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Zone4]  DEFAULT (' ') FOR [Zone4]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Zone5]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Zone5]  DEFAULT (' ') FOR [Zone5]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Aisle]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Aisle]  DEFAULT (' ') FOR [Aisle]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Level]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Level]  DEFAULT (' ') FOR [Level]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_StorerKey]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_StorerKey]  DEFAULT (' ') FOR [Storerkey]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Sku]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Sku]  DEFAULT (' ') FOR [Sku]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Lot]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Lot]  DEFAULT (' ') FOR [Lot]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Loc]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Loc]  DEFAULT (' ') FOR [Loc]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Id]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Id]  DEFAULT (' ') FOR [Id]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_SystemQty]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_SystemQty]  DEFAULT ((0)) FOR [SystemQty]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_CountedQty]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_CountedQty]  DEFAULT ((0)) FOR [CountedQty]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Status]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Status]  DEFAULT ('0') FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_RefNo]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_RefNo]  DEFAULT (' ') FOR [RefNo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Lottable06]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Lottable06]  DEFAULT ('') FOR [Lottable06]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Lottable07]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Lottable07]  DEFAULT ('') FOR [Lottable07]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Lottable08]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Lottable08]  DEFAULT ('') FOR [Lottable08]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Lottable09]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Lottable09]  DEFAULT ('') FOR [Lottable09]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Lottable10]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Lottable10]  DEFAULT ('') FOR [Lottable10]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Lottable11]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Lottable11]  DEFAULT ('') FOR [Lottable11]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCCLock_Lottable12]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCCLock] ADD  CONSTRAINT [DF_RDTCCLock_Lottable12]  DEFAULT ('') FOR [Lottable12]
END
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[RDTCCLock]') AND type in (N'U'))
   GRANT SELECT, INSERT, DELETE, UPDATE ON [RDT].[RDTCCLock] TO [NSQL]
GO
IF EXISTS(SELECT TOP 1 1 FROM sys.columns where object_id=OBJECT_ID(N'[RDT].[RDTCCLock]') AND name='Storerkey' AND TYPE_NAME(system_type_id)='nvarchar' AND max_length < 30)
   ALTER TABLE [RDT].[RDTCCLock] ALTER COLUMN [Storerkey] [nvarchar](15) NOT NULL
GO
