SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[RDTCSAudit_BatchPO]') AND type in (N'U'))
BEGIN
CREATE TABLE [RDT].[RDTCSAudit_BatchPO](
	[RowRef] [int] IDENTITY(1,1) NOT NULL,
	[StorerKey] [nvarchar](15) NOT NULL,
	[Batch] [nvarchar](15) NOT NULL,
	[PO_No] [nvarchar](15) NOT NULL,
	[OrderKey] [nvarchar](10) NOT NULL,
	[AddWho] [nvarchar](128) NOT NULL,
	[AddDate] [datetime] NOT NULL,
	[TrafficCop] [nvarchar](1) NULL,
	[ArchiveCop] [nvarchar](1) NULL,
	[EditDate] [datetime] NOT NULL,
	[EditWho] [nvarchar](128) NOT NULL,
 CONSTRAINT [PKRDTCSAudit_BatchPO] PRIMARY KEY CLUSTERED 
(
	[RowRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[RDT].[RDTCSAudit_BatchPO]') AND name = N'IX_RDTCSAudit_BatchPO')
CREATE NONCLUSTERED INDEX [IX_RDTCSAudit_BatchPO] ON [RDT].[RDTCSAudit_BatchPO]
(
	[Batch] ASC,
	[PO_No] ASC,
	[OrderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[RDT].[RDTCSAudit_BatchPO]') AND name = N'IX_RDTCSAudit_BatchPO_Batch')
CREATE NONCLUSTERED INDEX [IX_RDTCSAudit_BatchPO_Batch] ON [RDT].[RDTCSAudit_BatchPO]
(
	[Batch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCSAudit_BatchPO_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCSAudit_BatchPO] ADD  CONSTRAINT [DF_RDTCSAudit_BatchPO_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCSAudit_BatchPO_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCSAudit_BatchPO] ADD  CONSTRAINT [DF_RDTCSAudit_BatchPO_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCSAudit_BatchPO_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCSAudit_BatchPO] ADD  CONSTRAINT [DF_RDTCSAudit_BatchPO_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RDTCSAudit_BatchPO_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RDTCSAudit_BatchPO] ADD  CONSTRAINT [DF_RDTCSAudit_BatchPO_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[RDTCSAudit_BatchPO]') AND type in (N'U'))
   GRANT SELECT, INSERT, DELETE, UPDATE ON [RDT].[RDTCSAudit_BatchPO] TO [NSQL]
GO
IF EXISTS(SELECT TOP 1 1 FROM sys.columns where object_id=OBJECT_ID(N'[RDT].[RDTCSAudit_BatchPO]') AND name='Storerkey' AND TYPE_NAME(system_type_id)='nvarchar' AND max_length < 30)
   ALTER TABLE [RDT].[RDTCSAudit_BatchPO] ALTER COLUMN [Storerkey] [nvarchar](15) NOT NULL
GO
