SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[RdtGOHSettagelog]') AND type in (N'U'))
BEGIN
CREATE TABLE [RDT].[RdtGOHSettagelog](
	[RowRef] [int] IDENTITY(1,1) NOT NULL,
	[StorerKey] [nvarchar](15) NOT NULL,
	[OrderKey] [nvarchar](10) NOT NULL,
	[LoadKey] [nvarchar](10) NOT NULL,
	[PickDetailKey] [nvarchar](10) NOT NULL,
	[DropID] [nvarchar](18) NOT NULL,
	[SKU] [nvarchar](20) NOT NULL,
	[QTY] [int] NOT NULL,
	[QTYScan] [int] NOT NULL,
	[RemainQTY] [int] NOT NULL,
	[Status] [nvarchar](1) NOT NULL,
	[AddWho] [nvarchar](128) NOT NULL,
	[AddDate] [datetime] NOT NULL,
	[EditWho] [nvarchar](128) NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[TrafficCop] [nvarchar](1) NULL,
	[ArchiveCop] [nvarchar](1) NULL,
 CONSTRAINT [PKRdtGOHSettagelog] PRIMARY KEY CLUSTERED 
(
	[RowRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RdtGOHSettagelog_Status]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RdtGOHSettagelog] ADD  CONSTRAINT [DF_RdtGOHSettagelog_Status]  DEFAULT ('0') FOR [Status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RdtGOHSettagelog_AddWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RdtGOHSettagelog] ADD  CONSTRAINT [DF_RdtGOHSettagelog_AddWho]  DEFAULT (suser_sname()) FOR [AddWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RdtGOHSettagelog_AddDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RdtGOHSettagelog] ADD  CONSTRAINT [DF_RdtGOHSettagelog_AddDate]  DEFAULT (getdate()) FOR [AddDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RdtGOHSettagelog_EditWho]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RdtGOHSettagelog] ADD  CONSTRAINT [DF_RdtGOHSettagelog_EditWho]  DEFAULT (suser_sname()) FOR [EditWho]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[DF_RdtGOHSettagelog_EditDate]') AND type = 'D')
BEGIN
ALTER TABLE [RDT].[RdtGOHSettagelog] ADD  CONSTRAINT [DF_RdtGOHSettagelog_EditDate]  DEFAULT (getdate()) FOR [EditDate]
END
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[RDT].[RdtGOHSettagelog]') AND type in (N'U'))
   GRANT SELECT, INSERT, DELETE, UPDATE ON [RDT].[RdtGOHSettagelog] TO [NSQL]
GO
IF EXISTS(SELECT TOP 1 1 FROM sys.columns where object_id=OBJECT_ID(N'[RDT].[RdtGOHSettagelog]') AND name='Storerkey' AND TYPE_NAME(system_type_id)='nvarchar' AND max_length < 30)
   ALTER TABLE [RDT].[RdtGOHSettagelog] ALTER COLUMN [Storerkey] [nvarchar](15) NOT NULL
GO
