--rdtfnc_OrderTrackNoPicking
--execute rdt.rdtdropmsg 72941 - 72990

execute rdt.rdtAddMsg '72941', 10, '72941^InsRecDetFailed', 'us_english'
execute rdt.rdtAddMsg '72942', 10, '72942^UpdRecDetFailed', 'us_english'
execute rdt.rdtAddMsg '72943', 10, '72943^InsRecDetFailed', 'us_english'
execute rdt.rdtAddMsg '72944', 10, '72944^UpdPackCfgFailed', 'us_english'
execute rdt.rdtAddMsg '72945', 10, '72945^UpdPackCfgFailed', 'us_english'


select * from rdt.rdtmsg (nolock) where message_id between 72641 and 72690