SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/************************************************************************/
/* Function:  fnc_GetFacilitiesByStorer                                 */
/* Creation Date: 07-Nov-2024                                           */
/* Copyright: MAERSK                                                    */
/* Written by:                                                          */
/*                                                                      */
/* Purpose: WMS-26556 Get Facilities by storer                          */
/*                                                                      */
/* Called By:  Allocation SP                                            */
/*                                                                      */
/* Gitlab Version: 1.0                                                  */
/*                                                                      */
/* Version: 7.0                                                         */
/*                                                                      */
/* Data Modifications:                                                  */
/*                                                                      */
/* Updates:                                                             */
/* Date        Author   Ver.  Purposes                                  */
/************************************************************************/

CREATE OR ALTER FUNCTION [dbo].[fnc_GetFacilitiesByStorer]
(
   @c_StorerKey          NVARCHAR(15),    
   @c_Facility           NVARCHAR(5)
)
RETURNS @tFacilities TABLE 
   (
     SeqNo     INT IDENTITY (1, 1) NOT NULL
    ,Facility  NVARCHAR(5)  NULL
    ,FacSort   NVARCHAR(10) NULL      
   )  
AS
BEGIN                         
   DECLARE @c_Configkey NVARCHAR(30),
           @c_ListName NVARCHAR(10),
           @c_MultiFacilities NVARCHAR(30)
           
   SET @c_Configkey = 'MultiFacilityShipment'           
   SET @c_ListName = 'MultiFclt'
                     
   SELECT @c_MultiFacilities = dbo.fnc_GetRight(@c_Facility, @c_Storerkey, '', @c_ConfigKey)
   
   IF @c_MultiFacilities = '1'
   BEGIN
      INSERT INTO @tFacilities (Facility, FacSort)
         SELECT Code, ISNULL(Short,'')
         FROM CODELKUP (NOLOCK)
         WHERE ListName = @c_ListName
         AND Storerkey = @c_Storerkey
         ORDER BY Short, Code
         
      IF @@ROWCOUNT = 0
      BEGIN
         INSERT INTO @tFacilities (Facility, FacSort)
         VALUES (@c_Facility,'')              
      END
   END
   ELSE
   BEGIN 
      INSERT INTO @tFacilities (Facility, FacSort)
      VALUES (@c_Facility,'')              
   END   
          
EXIT_FUNCTION: 
                                            
RETURN                                 
                                       
END   
GO
GRANT SELECT ON [dbo].[fnc_GetFacilitiesByStorer] TO [nSQL]
GO