

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

/* 17-Mar-2009  TLTING     Change user_name() to SUSER_SNAME()          */
/* 28-Oct-2013  TLTING    Review Editdate column update                 */
/* 06-Oct-2025  AK01   1.3 UWP-42143 - Replace SUSER_SNAME with fnc_GetUserName */


CREATE OR ALTER TRIGGER [dbo].[ntrContainerDetailUpdate]
 ON  [dbo].[CONTAINERDETAIL]
 FOR UPDATE
 AS
 BEGIN
 IF @@ROWCOUNT = 0
 BEGIN
 RETURN
 END 
   SET NOCOUNT ON
   SET ANSI_NULLS OFF
   SET QUOTED_IDENTIFIER OFF
   SET CONCAT_NULL_YIELDS_NULL OFF

 DECLARE
 @b_Success            int       -- Populated by calls to stored procedures - was the proc successful?
 ,         @n_err                int       -- Error number returned by stored procedure or this trigger
 ,         @n_err2 int              -- For Additional Error Detection
 ,         @c_errmsg             NVARCHAR(250) -- Error message returned by stored procedure or this trigger
 ,         @n_continue int                 
 ,         @n_starttcnt int                -- Holds the current transaction count
 ,         @c_preprocess NVARCHAR(250)         -- preprocess
 ,         @c_pstprocess NVARCHAR(250)         -- post process
 ,         @n_cnt int                  
 SELECT @n_continue=1, @n_starttcnt=@@TRANCOUNT
 IF UPDATE(archivecop)
 BEGIN
 SELECT @n_continue = 4 
 END
 IF UPDATE(TrafficCop)
 BEGIN
 SELECT @n_continue = 4 
 END
      /* #INCLUDE <TRCONDU1.SQL> */     
 IF @n_continue=1 or @n_continue=2
 BEGIN
 IF EXISTS (SELECT * FROM CONTAINER (NOLOCK), INSERTED
 WHERE CONTAINER.ContainerKey = INSERTED.ContainerKey
 AND CONTAINER.Status = "9")
 BEGIN
 SELECT @n_continue = 3
 SELECT @n_err=68300
 SELECT @c_errmsg="NSQL"+CONVERT(char(5),@n_err)+": CONTAINER.Status = 'SHIPPED'. UPDATE rejected. (ntrContainerDetailUpdate)"
 END
 END
 IF ( @n_continue=1 or @n_continue=2 ) AND NOT UPDATE(EditDate) 
 BEGIN
 UPDATE CONTAINERDETAIL
 SET  EditDate = dbo.fnc_GetDate(),
 EditWho = dbo.fnc_GetUserName()
 FROM CONTAINERDETAIL, INSERTED
 WHERE CONTAINERDETAIL.ContainerKey = INSERTED.ContainerKey
 AND CONTAINERDETAIL.ContainerLineNumber = INSERTED.ContainerLineNumber
 SELECT @n_err = @@ERROR, @n_cnt = @@ROWCOUNT
 IF @n_err <> 0
 BEGIN
 SELECT @n_continue = 3
 SELECT @c_errmsg = CONVERT(CHAR(250),@n_err), @n_err=68302   -- Should Be Set To The SQL Errmessage but I don't know how to do so.
 SELECT @c_errmsg="NSQL"+CONVERT(char(5),@n_err)+": Update Failed On Table CONTAINERDETAIL. (ntrContainerDetailUpdate)" + " ( " + " SQLSvr MESSAGE=" + dbo.fnc_LTrim(dbo.fnc_RTrim(@c_errmsg)) + " ) "
 END
 END
      /* #INCLUDE <TRCONDU2.SQL> */
 IF @n_continue=3  -- Error Occured - Process And Return
 BEGIN
 IF @@TRANCOUNT = 1 and @@TRANCOUNT >= @n_starttcnt
 BEGIN
 ROLLBACK TRAN
 END
 ELSE
 BEGIN
 WHILE @@TRANCOUNT > @n_starttcnt
 BEGIN
 COMMIT TRAN
 END
 END
 execute nsp_logerror @n_err, @c_errmsg, "ntrContainerDetailUpdate"
 RAISERROR (@c_errmsg, 16, 1) WITH SETERROR    -- SQL2012
 RETURN
 END
 ELSE
 BEGIN
 WHILE @@TRANCOUNT > @n_starttcnt
 BEGIN
 COMMIT TRAN
 END
 RETURN
 END
 END

GO

