

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ntrKitDetailAdd]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[ntrKitDetailAdd]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

/************************************************************************/
/* Trigger: ntrKitDetailAdd                                             */
/* Creation Date:                                                       */
/* Copyright: IDS                                                       */
/* Written by:                                                          */
/*                                                                      */
/* Purpose:                                                             */
/*                                                                      */
/* Called By: When Add Kit Detail Record                                */
/*                                                                      */
/* PVCS Version: 1.1                                                    */
/*                                                                      */
/* Version: 5.4                                                         */
/*                                                                      */
/* Data Modifications:                                                  */
/*                                                                      */
/* Updates:                                                             */
/* Date         Author        Purposes                                  */
/* 14-June-2006 Vicky         Modify Update OpenQty to cater ManyToMany */
/*                            Kitting                                   */
/* 30-May-2007  Shong         Add Checking on TrifficCop AND ArchiveCop */
/* 02-May-2014  Shong         1.5  Added Lottables 06-15                */
/* 27-Nov-2017  Leong         INC0028640 - Cater for <TO> Explode BOM.  */
/*                            [Exceed will delete Type F detail and     */
/*                            insert new Type F detail based on BOM]    */
/* 20-Dec-2018  TLTING01 1.2  missing nolock                            */
/************************************************************************/

CREATE TRIGGER ntrKitDetailAdd
ON  KitDetail
FOR INSERT
AS
BEGIN
   SET NOCOUNT ON
   SET ANSI_NULLS OFF
   SET QUOTED_IDENTIFIER OFF
   SET CONCAT_NULL_YIELDS_NULL OFF

   DECLARE @b_debug INT
   SELECT @b_debug = 0

   IF @b_debug = 1
   BEGIN
      SELECT 'INSERTED', * FROM INSERTED
   END
   ELSE IF @b_debug = 2
   BEGIN
      DECLARE @profiler NVARCHAR(80)
      SELECT @profiler = 'PROFILER,888,00,0,ntrKitDetailAdd Trigger                       ,' + CONVERT(CHAR(12), GETDATE(), 114)
      PRINT @profiler
   END

   DECLARE
     @b_Success    INT           -- Populated by calls to stored procedures - was the proc successful?
   , @n_err        INT           -- Error number returned by stored procedure OR this trigger
   , @n_err2       INT           -- For Additional Error Detection
   , @c_errmsg     NVARCHAR(250) -- Error message returned by stored procedure OR this trigger
   , @n_continue   INT
   , @n_starttcnt  INT           -- Holds the current transaction COUNT
   , @c_preprocess NVARCHAR(250) -- preprocess
   , @c_pstprocess NVARCHAR(250) -- post process
   , @n_cnt        INT

   DECLARE @c_authority_kitting NVARCHAR(1)
         , @c_kitstorer         NVARCHAR(15)
         , @c_KitKey            NVARCHAR(10) --INC0028640
         , @c_KitType           NVARCHAR(5)  --INC0028640

   SELECT @n_continue = 1, @n_starttcnt = @@TRANCOUNT

   IF EXISTS( SELECT 1 FROM INSERTED WHERE ArchiveCop = '9')
      SELECT @n_continue = 4

   IF @n_continue = 1 OR @n_continue = 2
   BEGIN
      UPDATE KitDetail SET LOTTABLE01 = KitDetail.PACKKEY, TrafficCop = NULL
      FROM  INSERTED, SKU (NOLOCK)
      WHERE KitDetail.KitKey = INSERTED.KitKey
      AND   KitDetail.KitLineNumber = INSERTED.KitLineNumber
      AND   INSERTED.TYPE  = KITDETAIL.TYPE
      AND   INSERTED.StorerKey = SKU.Storerkey
      AND   INSERTED.SKU = SKU.SKU
      AND   SKU.OnReceiptCopyPackKey = '1'

      SELECT @n_err = @@ERROR, @n_cnt = @@ROWCOUNT
      IF @n_err <> 0
      BEGIN
         SELECT @n_continue = 3
         SELECT @c_errmsg = CONVERT(CHAR(250),@n_err), @n_err = 88804   -- Should Be Set To The SQL Errmessage but I don't know how to do so.
         SELECT @c_errmsg = 'NSQL'+CONVERT(CHAR(5),@n_err)+': Update failed on table KitDetail. (ntrKitDetailAdd)' + ' ( ' + ' SQLSvr MESSAGE = ' + dbo.fnc_LTrim(dbo.fnc_RTrim(@c_errmsg)) + ' ) '
      END
   END

   IF @n_continue = 1 OR @n_continue = 2
   BEGIN
      IF @b_debug = 2
      BEGIN
         SELECT @profiler = 'PROFILER,888,01,0,ITRN Process                                      ,' + CONVERT(CHAR(12), GETDATE(), 114)
         PRINT @profiler
      END

      DECLARE @c_KitPrimaryKey       NVARCHAR(15),
              @c_FromStorerKey       NVARCHAR(15),
              @c_FromSku             NVARCHAR(20),
              @c_FromLoc             NVARCHAR(10),
              @c_FromLot             NVARCHAR(10),
              @c_FromId              NVARCHAR(18),
              @c_FromPackKey         NVARCHAR(10),
              @c_FromUOM             NVARCHAR(10),
              @c_StorerKey           NVARCHAR(15),
              @c_ToSku               NVARCHAR(20),
              @c_ToLoc               NVARCHAR(10),
              @c_ToLot               NVARCHAR(10),
              @c_ToId                NVARCHAR(18),
              @c_ToPackKey           NVARCHAR(10),
              @c_ToUOM               NVARCHAR(10),
              @c_lottable01          NVARCHAR(18),
              @c_lottable02          NVARCHAR(18),
              @c_lottable03          NVARCHAR(18),
              @d_lottable04          DATETIME,
              @d_lottable05          DATETIME,
              @c_lottable06          NVARCHAR(30),
              @c_lottable07          NVARCHAR(30),
              @c_lottable08          NVARCHAR(30),
              @c_lottable09          NVARCHAR(30),
              @c_lottable10          NVARCHAR(30),
              @c_lottable11          NVARCHAR(30),
              @c_lottable12          NVARCHAR(30),
              @d_lottable13          DATETIME,
              @d_lottable14          DATETIME,
              @d_lottable15          DATETIME,
              @d_EffectiveDate       DATETIME,
              @n_FromQty             INT,
              @n_ToQty               INT

      SELECT @c_KitPrimaryKey = ''
      WHILE (1 = 1)
      BEGIN
         --SET ROWCOUNT 1
         SELECT TOP 1
                @c_KitPrimaryKey = KitKey + KitLineNumber,
                @c_FromStorerKey = StorerKey,
                @c_FromSku       = Sku,
                @c_FromLoc       = Loc,
                @c_FromLot       = Lot,
                @c_FromId        = Id,
                @n_FromQty       = Qty,
                @c_FromPackKey   = PackKey,
                @c_FromUOM       = UOM
         FROM INSERTED
         WHERE KitKey + KitLineNumber > @c_KitPrimaryKey
         AND Status = '9'
         AND Type = 'F'
         ORDER BY KitKey, KitLineNumber

         IF @@ROWCOUNT = 0
         BEGIN
            BREAK
         END

         EXECUTE nspItrnAddWithdrawal
                  @n_ItrnSysId  = NULL,
                  @c_StorerKey  = @c_FromStorerKey,
                  @c_Sku        = @c_FromSku,
                  @c_Lot        = @c_FromLot,
                  @c_ToLoc      = @c_FromLoc,
                  @c_ToID       = @c_FromId,
                  @c_Status     = '',
                  @c_lottable01 = '',
                  @c_lottable02 = '',
                  @c_lottable03 = '',
                  @d_lottable04 = NULL,
                  @d_lottable05 = NULL,
                  @c_lottable06 = '',
                  @c_lottable07 = '',
                  @c_lottable08 = '',
                  @c_lottable09 = '',
                  @c_lottable10 = '',
                  @c_lottable11 = '',
                  @c_lottable12 = '',
                  @d_lottable13 = NULL,
                  @d_lottable14 = NULL,
                  @d_lottable15 = NULL,
                  @n_casecnt    = 0,
                  @n_innerpack  = 0,
                  @n_Qty        = @n_FromQty,
                  @n_pallet     = 0,
                  @f_cube       = 0,
                  @f_grosswgt   = 0,
                  @f_netwgt     = 0,
                  @f_otherunit1 = 0,
                  @f_otherunit2 = 0,
                  @c_SourceKey  = @c_KitPrimaryKey,
                  @c_SourceType = 'ntrKitDetailAdd',
                  @c_PackKey    = @c_FromPackKey,
                  @c_UOM        = @c_FromUOM,
                  @b_UOMCalc    = 0,
                  @d_EffectiveDate = @d_EffectiveDate,
                  @c_ItrnKey    = '',
                  @b_Success    = @b_Success OUTPUT,
                  @n_err        = @n_err     OUTPUT,
                  @c_errmsg     = @c_errmsg  OUTPUT

         IF @b_success <> 1
         BEGIN
            SELECT @n_continue = 3
            BREAK
         END
      END -- WHILE FROM

      SELECT @c_KitPrimaryKey = ''

      WHILE (1 = 1)
      BEGIN
         SELECT TOP 1
               @c_KitPrimaryKey          = KitKey + KitLineNumber,
               @c_StorerKey              = StorerKey,
               @c_ToSku                  = Sku,
               @c_ToLoc                  = Loc,
               @c_ToLot                  = Lot,
               @c_ToId                   = Id,
               @n_ToQty                  = Qty,
               @c_ToPackKey              = PackKey,
               @c_ToUOM                  = UOM,
               @c_lottable01             = lottable01,
               @c_lottable02             = lottable02,
               @c_lottable03             = lottable03,
               @d_lottable04             = lottable04,
               @d_lottable05             = lottable05,
               @c_lottable06             = lottable06,
               @c_lottable07             = lottable07,
               @c_lottable08             = lottable08,
               @c_lottable09             = lottable09,
               @c_lottable10             = lottable10,
               @c_lottable11             = lottable11,
               @c_lottable12             = lottable12,
               @d_lottable13             = lottable13,
               @d_lottable14             = lottable14,
               @d_lottable15             = lottable15,
               @d_EffectiveDate          = EffectiveDate
         FROM INSERTED
         WHERE KitKey + KitLineNumber > @c_KitPrimaryKey
         AND Status = '9'
         AND Type = 'T'
         ORDER BY KitKey, KitLineNumber

         IF @@ROWCOUNT = 0
         BEGIN
            BREAK
         END

         EXECUTE nspItrnAddDeposit
                   @n_ItrnSysId  = NULL,
                   @c_StorerKey  = @c_StorerKey,
                   @c_Sku        = @c_ToSku,
                   @c_Lot        = @c_ToLot,
                   @c_ToLoc      = @c_ToLoc,
                   @c_ToID       = @c_ToId,
                   @c_Status     = '',
                   @c_lottable01 = @c_lottable01,
                   @c_lottable02 = @c_lottable02,
                   @c_lottable03 = @c_lottable03,
                   @d_lottable04 = @d_lottable04,
                   @d_lottable05 = @d_lottable05,
                   @c_lottable06 = @c_lottable06,
                   @c_lottable07 = @c_lottable07,
                   @c_lottable08 = @c_lottable08,
                   @c_lottable09 = @c_lottable09,
                   @c_lottable10 = @c_lottable10,
                   @c_lottable11 = @c_lottable11,
                   @c_lottable12 = @c_lottable12,
                   @d_lottable13 = @d_lottable13,
                   @d_lottable14 = @d_lottable14,
                   @d_lottable15 = @d_lottable15,
                   @n_casecnt    = 0,
                   @n_innerpack  = 0,
                   @n_Qty        = @n_ToQty,
                   @n_pallet     = 0,
                   @f_cube       = 0,
                   @f_grosswgt   = 0,
                   @f_netwgt     = 0,
                   @f_otherunit1 = 0,
                   @f_otherunit2 = 0,
                   @c_SourceKey  = @c_KitPrimaryKey,
                   @c_SourceType = 'ntrKitDetailAdd',
                   @c_PackKey    = @c_ToPackKey,
                   @c_UOM        = @c_ToUOM,
                   @b_UOMCalc    = 0,
                   @d_EffectiveDate = @d_EffectiveDate,
                   @c_ItrnKey    = '',
                   @b_Success    = @b_Success OUTPUT,
                   @n_err        = @n_err     OUTPUT,
                   @c_errmsg     = @c_errmsg  OUTPUT

         IF @b_success <> 1
         BEGIN
            SELECT @n_continue = 3
            BREAK
         END
      END -- WHILE


      IF @b_debug = 2
      BEGIN
         SELECT @profiler = 'PROFILER,888,01,9,ITRN Process                                      ,' + CONVERT(CHAR(12), GETDATE(), 114)
         PRINT @profiler
      END
   END

   -- Added By Vicky on 14-June-2006 (Start)
   IF @n_continue = 1 OR @n_continue = 2
   BEGIN
      SELECT @c_kitstorer = ''
           , @c_KitKey    = ''
           , @c_KitType   = ''

      SELECT @c_kitstorer = INSERTED.Storerkey
           , @c_KitKey    = INSERTED.KitKey --INC0028640
           , @c_KitType   = INSERTED.[Type] --INC0028640
      FROM  KIT with (NOLOCK), INSERTED     --tlting01
      WHERE KIT.KitKey = INSERTED.KitKey
      --AND   INSERTED.Type = T             --INC0028640

      SELECT @b_success = 0
      EXECUTE dbo.nspGetRight NULL,
               @c_kitstorer,         -- Storer
               '',                   -- Sku
               'ManyToManyKitting',  -- ConfigKey
               @b_success             OUTPUT,
               @c_authority_kitting   OUTPUT,
               @n_err                 OUTPUT,
               @c_errmsg              OUTPUT

      IF @b_success <> 1
      BEGIN
         SELECT @n_continue = 3
      END
   END
   -- Added By Vicky on 14-June-2006 (END)

   IF @n_continue = 1 OR @n_continue = 2
   BEGIN
      IF @b_debug = 2
      BEGIN
         SELECT @profiler = 'PROFILER,888,02,0,KIT Update                                   ,' + CONVERT(CHAR(12), GETDATE(), 114)
         PRINT @profiler
      END
      DECLARE @n_InsertedCount INT

      -- Modified By Vicky on 14-June-2006 (Start)
      IF @c_authority_kitting = '1'
      BEGIN
         IF @c_KitType = 'T' --INC0028640
         BEGIN
            UPDATE KIT WITH (ROWLOCK)
            SET KIT.OpenQty = ( SELECT ISNULL(SUM(KitDetail.ExpectedQty), 0)
                                FROM KitDetail WITH (NOLOCK)
                                WHERE KitDetail.KitKey = KIT.KitKey
                                AND   KitDetail.Type = 'T')
              , KIT.TrafficCop = NULL
            FROM KIT, INSERTED
            WHERE KIT.KitKey = @c_KitKey
            AND KIT.KitKey = INSERTED.KitKey
            AND INSERTED.Type = 'T'
         END
         IF @c_KitType = 'F' --INC0028640
         BEGIN
            UPDATE KIT WITH (ROWLOCK)
            SET KIT.OpenQty = ( SELECT ISNULL(SUM(KitDetail.ExpectedQty), 0)
                                FROM KitDetail WITH (NOLOCK)
                                WHERE KitDetail.KitKey = KIT.KitKey
                                AND   KitDetail.Type = 'T')
              , KIT.TrafficCop = NULL
            FROM KIT, INSERTED
            WHERE KIT.KitKey = @c_KitKey
            AND KIT.KitKey = INSERTED.KitKey
         END

         SELECT @n_err = @@ERROR, @n_cnt = @@ROWCOUNT
      END -- @c_authority_kitting = '1'
      ELSE
      BEGIN
         SELECT @n_InsertedCount = (SELECT COUNT(1) FROM INSERTED)
         IF @n_InsertedCount = 1
         BEGIN
            UPDATE KIT WITH (ROWLOCK)
            SET   KIT.OpenQty = KIT.OpenQty + INSERTED.ExpectedQty, TrafficCop = NULL
            FROM  KIT, INSERTED
            WHERE KIT.KitKey = INSERTED.KitKey
            AND   INSERTED.Type = 'T'

            SELECT @n_err = @@ERROR, @n_cnt = @@ROWCOUNT
         END
         -- ELSE
         -- BEGIN
         --    UPDATE KIT SET KIT.OpenQty
         --    = (SELECT SUM(KitDetail.ExpectedQty) FROM KitDetail
         --    WHERE KitDetail.KitKey = KIT.KitKey
         --    AND   KitDetail.Type = 'T')
         --    FROM KIT,INSERTED
         --    WHERE KIT.KitKey IN (SELECT DISTINCT KitKey FROM INSERTED)
         --    AND KIT.KitKey = INSERTED.KitKey
         --    AND INSERTED.Type = 'T'
         --    SELECT @n_err = @@ERROR, @n_cnt = @@ROWCOUNT
         -- END
      END -- @c_authority_kitting <> '1'
      -- Modified By Vicky on 14-June-2006 (END)

      IF @n_err <> 0
      BEGIN
         SELECT @n_continue = 3
         SELECT @c_errmsg = CONVERT(CHAR(250),@n_err), @n_err = 88801   -- Should Be Set To The SQL Errmessage but I don't know how to do so.
         SELECT @c_errmsg = 'NSQL'+CONVERT(CHAR(5),@n_err)+': Insert failed on table KIT. (ntrKitDetailAdd)' + ' ( ' + ' SQLSvr MESSAGE = ' + dbo.fnc_LTrim(dbo.fnc_RTrim(@c_errmsg)) + ' ) '
      END
      /*
      ELSE IF @n_cnt = 0
      BEGIN
         SELECT @n_continue = 3
         SELECT @n_err = 88802
         SELECT @c_errmsg = 'NSQL'+CONVERT(CHAR(5),@n_err)+': Zero rows affected updating table KIT. (ntrKitDetailAdd)'
      END
      */
      IF @b_debug = 2
      BEGIN
         SELECT @profiler = 'PROFILER,888,02,9,KIT Update                                   ,' + CONVERT(CHAR(12), GETDATE(), 114)
         PRINT @profiler
      END
   END

   IF @n_continue = 1 OR @n_continue = 2
   BEGIN
      IF @b_debug = 2
      BEGIN
         SELECT @profiler = 'PROFILER,888,03,0,KIT Update for ''POSTED''                      ,' + CONVERT(CHAR(12), GETDATE(), 114)
         PRINT @profiler
      END

      UPDATE KIT WITH (ROWLOCK)
      SET   KIT.OpenQty = KIT.OpenQty - INSERTED.Qty, TrafficCop = NULL
      FROM  KIT, INSERTED
      WHERE KIT.KitKey = INSERTED.KitKey
      AND INSERTED.Status = '9'
      AND INSERTED.Type = 'T'

      SELECT @n_err = @@ERROR, @n_cnt = @@ROWCOUNT
      IF @n_err <> 0
      BEGIN
         SELECT @n_continue = 3
         SELECT @c_errmsg = CONVERT(CHAR(250),@n_err), @n_err = 88803   -- Should Be Set To The SQL Errmessage but I don't know how to do so.
         SELECT @c_errmsg = 'NSQL'+CONVERT(CHAR(5),@n_err)+': Insert failed on table KIT. (ntrKitDetailAdd)' + ' ( ' + ' SQLSvr MESSAGE = ' + dbo.fnc_LTrim(dbo.fnc_RTrim(@c_errmsg)) + ' ) '
      END
      IF @b_debug = 2
      BEGIN
         SELECT @profiler = 'PROFILER,888,03,9,KIT Update for ''POSTED''                      ,' + CONVERT(CHAR(12), GETDATE(), 114)
         PRINT @profiler
      END
   END

   IF @n_continue = 3  -- Error Occured - Process AND Return
   BEGIN
      IF @@TRANCOUNT = 1 AND @@TRANCOUNT > = @n_starttcnt
      BEGIN
         ROLLBACK TRAN
      END
      ELSE
      BEGIN
         WHILE @@TRANCOUNT > @n_starttcnt
         BEGIN
            COMMIT TRAN
         END
      END

      EXECUTE nsp_logerror @n_err, @c_errmsg, 'ntrKitDetailAdd'
      RAISERROR (@c_errmsg, 16, 1) WITH SETERROR    -- SQL2012

      IF @b_debug = 2
      BEGIN
         SELECT @profiler = 'PROFILER,888,00,9,ntrKitDetailAdd Tigger                       ,' + CONVERT(CHAR(12), GETDATE(), 114)
         PRINT @profiler
      END
      RETURN
   END
   ELSE
   BEGIN
      WHILE @@TRANCOUNT > @n_starttcnt
      BEGIN
         COMMIT TRAN
      END

      IF @b_debug = 2
      BEGIN
         SELECT @profiler = 'PROFILER,888,00,9,ntrKitDetailAdd Trigger                       ,' + CONVERT(CHAR(12), GETDATE(), 114)
         PRINT @profiler
      END
      RETURN
   END
END

GO



