
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/******************************************************************************/
/* Store Procedure:  ntrRFPutawayUpdate                                       */
/* Copyright: LF Logistics                                                    */
/*                                                                            */
/* Modification log:                                                          */
/* Date         Author     Ver   Purposes                                     */
/* 24-Mar-2022  YeeKung    1.0   Created                                      */
/* 06-Oct-2025  AK01       1.1   UWP-42143 - Replace SUSER_SNAME with fnc_GetUserName*/
/******************************************************************************/

CREATE OR ALTER TRIGGER [dbo].[ntrRFPutawayUpdate]
ON  [dbo].[RFPUTAWAY]
FOR UPDATE
AS
BEGIN

/* ---- WMS-MIGRATION GUARD (FN839 Phase 2 dual-run) - codegen-managed, do not hand-edit. ----
   Skip this trigger's body ONLY when the request is from the MODERN app AND this trigger is
   already migrated to Java (its wms.skip.<name> flag is set for the session). Every other case
   - legacy caller, or trigger not yet migrated - falls through and runs the body as today.
   Placed AFTER the @@ROWCOUNT check so that check still sees the row count untouched.
   Signals are set once per connection by WM.lsp_SetTriggerOwner. See memory dual-run-trigger-routing. */
IF CONVERT(NVARCHAR(20), SESSION_CONTEXT(N'wms.app_source')) = N'MODERN'
   AND CONVERT(INT, ISNULL(SESSION_CONTEXT(CONCAT(N'wms.skip.', OBJECT_NAME(@@PROCID))), 0)) = 1
BEGIN
   RETURN
END
/* ---- END WMS-MIGRATION GUARD ---- */
   SET NOCOUNT ON
   SET ANSI_NULLS OFF
   SET QUOTED_IDENTIFIER OFF
   SET CONCAT_NULL_YIELDS_NULL OFF

   DECLARE @b_debug int
   SELECT @b_debug = 0

   DECLARE
      @b_Success            int           -- Populated by calls to stored procedures - was the proc successful?
     ,@n_err                int           -- Error number returned by stored procedure or this trigger
     ,@n_err2               int           -- For Additional Error Detection
     ,@c_errmsg             NVARCHAR(250) -- Error message returned by stored procedure or this trigger
     ,@n_continue           int
     ,@n_starttcnt          int           -- Holds the current transaction count
     ,@c_preprocess         NVARCHAR(250) -- preprocess
     ,@c_pstprocess         NVARCHAR(250) -- post process
     ,@profiler             NVARCHAR(80)

   SELECT @n_continue=1, @n_starttcnt=@@TRANCOUNT

   IF @n_continue = 1 OR @n_continue=2
   BEGIN
      UPDATE RFPUTAWAY WITH (ROWLOCK) 
      SET   EditDate = dbo.fnc_GetDate(), 
            EditWho=dbo.fnc_GetUserName()                          
      FROM RFPUTAWAY  
      JOIN INSERTED ON INSERTED.rowref = RFPUTAWAY.rowref  

      SELECT @n_err = @@ERROR
      IF @n_err <> 0
      BEGIN
         SELECT @n_continue = 3
         SELECT @c_errmsg = CONVERT(CHAR(250),@n_err), @n_err = 61620
         SELECT @c_errmsg='NSQL'+CONVERT(char(5),@n_err)+': Update Failed On RFPUTAWAY. (ntrPickDetailUpdate)' + ' ( ' + ' SQLSvr MESSAGE=' + LTRIM(RTRIM(@c_errmsg)) + ' ) '
         ROLLBACK TRAN 
      END
   END
   GOTO QUIT

QUIT:
   WHILE @@TRANCOUNT > @n_starttcnt  
   BEGIN  
      COMMIT TRAN  
   END  

END


