if exists (select * from dbo.sysobjects where id = object_id(N'[PTL].[isp_PTL_TerminateModule]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
   drop procedure PTL.isp_PTL_TerminateModule
GO

SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS OFF
GO
    
      
/******************************************************************************/  
/* Stored Proceduew Name: isp_PTL_TerminateModule                             */  
/* Copyright: IDS                                                             */  
/* Purpose: BondDPC Integration SP                                            */  
/*          This SP is to Terminate All Light By PutawayZone                  */  
/*                                                                            */  
/* Modifications log:                                                         */  
/*                                                                            */  
/* Date       Rev  Author     Purposes                                        */  
/* 2014-02-07 1.0  ChewKP     Created                                         */  
/* 2014-05-15 1.1  Shong      Add Deveice ID when calling isp_DPC_SendMsg     */  
/* 2015-01-30 1.2  ChewKP     LightUp Update by DevicePosition (CheWKP01)     */  
/* 2015-06-25 1.3  ChewKP     Fixes (ChewKP02)                                */  
/* 2016-03-21 1.4  Ung        SOS361967 Add DeviceType = STATION              */  
/*                            Add back update PTLTran.LightUP = 0             */  
/* 2019-01-22 1.5  ChewKP     Tuning                                          */  
/******************************************************************************/  
  
CREATE PROC [PTL].[isp_PTL_TerminateModule]  
(  
   @c_StorerKey NVARCHAR(15)  
  ,@n_Func      INT  
  ,@c_DeviceID  NVARCHAR(20)  
  ,@c_TerminateType NVARCHAR(1)  
  ,@b_Success   INT OUTPUT  
  ,@n_Err       INT OUTPUT  
  ,@c_ErrMsg    NVARCHAR(215) OUTPUT  
)  
AS  
BEGIN  
   SET NOCOUNT ON  
   SET QUOTED_IDENTIFIER OFF  
   SET ANSI_NULLS OFF  
   SET CONCAT_NULL_YIELDS_NULL OFF            
  
   DECLARE @c_DeviceIP        NVARCHAR(40),  
           @nTranCount        INT,  
           @c_PutawayZone     NVARCHAR(10),  
           @c_DevicePosition  NVARCHAR(20),  
           @c_DeviceType      NVARCHAR(20),  
           @c_CurrDeviceID    NVARCHAR(20),  
           @c_LightAction     NVARCHAR(20),  
           @c_LightCommand    NVARCHAR(2000),  
           @c_TCPMessage      NVARCHAR(2000),  
           @n_PTLKey          BIGINT,  
           @c_PTLType         NVARCHAR(10),  
           @c_LightAddress    NVARCHAR(1024),  
           @n_LightLinkLogKey INT  
  
   SET @c_PutawayZone = ''  
  
   IF @c_DeviceID <> ''  
   BEGIN  
      SET @c_DeviceIP = ''  
      SELECT @c_DeviceIP = ISNULL(ll.IPAddress,'')  
            ,@c_DeviceType = ll.DeviceType  
      FROM DeviceProfile ll WITH (NOLOCK)  
      WHERE ll.DeviceID = @c_DeviceID  
  
      SELECT @c_PutawayZone = PutawayZone  
      FROM dbo.Loc  WITH (NOLOCK)  
      WHERE Loc = @c_DeviceID  
   END  
  
   IF ISNULL(RTRIM(@c_DeviceIP), '') = ''  
   BEGIN  
      SET @n_Err = 85701  
      SET @c_ErrMsg = '85701 Bad DeviceID (not found in DeviceProfile)'  
      GOTO Quit  
   END  
  
   IF @c_TerminateType = '0'  
   BEGIN  
      IF @c_DeviceType = 'LOC'  
      BEGIN  
         DECLARE CursorPTLTranLightUp CURSOR LOCAL FAST_FORWARD READ_ONLY FOR  
         SELECT D.DevicePosition, D.DeviceType, D.DeviceID  
         FROM dbo.DeviceProfile D WITH (NOLOCK)  
         INNER JOIN dbo.LOC Loc WITH (NOLOCK) ON Loc.Loc = D.DeviceID  
         WHERE D.IPAddress = @c_DeviceIP  
         AND Loc.PutawayZone = @c_PutawayZone  
         AND D.DeviceType = 'LOC'  
      END  
      ELSE IF RTRIM(@c_DeviceType) IN ('CART', 'STATION')  
      BEGIN  
         DECLARE CursorPTLTranLightUp CURSOR LOCAL FAST_FORWARD READ_ONLY FOR  
         SELECT D.DevicePosition, D.DeviceType, D.DeviceID  
         FROM dbo.DeviceProfile D WITH (NOLOCK)  
         WHERE D.IPAddress = @c_DeviceIP  
         AND D.DeviceID = @c_DeviceID  
         AND D.DeviceType = @c_DeviceType  
      END  
   END  
   ELSE        
   BEGIN        
      IF RTRIM(@c_DeviceType) = 'LOC'    
      BEGIN    
         DECLARE CursorPTLTranLightUp CURSOR LOCAL FAST_FORWARD READ_ONLY FOR      
         SELECT D.DevicePosition, D.DeviceType, D.DeviceID          
         FROM dbo.DeviceProfile D WITH (NOLOCK)        
         INNER JOIN dbo.LOC Loc WITH (NOLOCK) ON Loc.Loc = D.DeviceID        
         WHERE D.IPAddress = @c_DeviceIP        
         AND Loc.PutawayZone = @c_PutawayZone        
         AND D.DeviceID = @c_DeviceID        
         AND D.DeviceType = 'LOC'    
      END    
    
      --Terminate ALL Light in CART  
      IF RTRIM(@c_DeviceType) IN ('CART', 'STATION')  
      BEGIN  
         DECLARE CursorPTLTranLightUp CURSOR LOCAL FAST_FORWARD READ_ONLY FOR  
         SELECT  D.DevicePosition, D.DeviceType, D.DeviceID  
         FROM dbo.DeviceProfile D WITH (NOLOCK)  
         WHERE D.IPAddress = @c_DeviceIP  
         AND D.DeviceID = @c_DeviceID  
         AND D.DeviceType = @c_DeviceType  
      END  
   END  
  
   SET @c_LightAddress = ''  
  
   -- Handling transaction  
   SET @nTranCount = @@TRANCOUNT  
   BEGIN TRAN  -- Begin our own transaction  
   SAVE TRAN isp_PTL_TerminateModule -- For rollback or commit only our own transaction  
  
   OPEN CursorPTLTranLightUp  
   FETCH NEXT FROM CursorPTLTranLightUp INTO @c_DevicePosition, @c_DeviceType, @c_CurrDeviceID  
  
   WHILE @@FETCH_STATUS <> -1  
   BEGIN  
      -- Terminate all lights for CART only  
      IF @c_DeviceType IN ('Cart', 'STATION')  
      BEGIN  
         SET @c_PTLType = @c_DeviceType  
      END  
      ELSE  
      BEGIN  
         SET @c_PTLType = 'Pick2PTS'  
      END  
  
      SET @c_LightAddress = ISNULL(RTRIM(@c_LightAddress),'') + ISNULL(RTRIM(@c_DevicePosition),'')  
  
      IF LEN(@c_LightAddress) > 500  
      BEGIN  
         SET @c_LightAction ='TerminateModule'  
         SET @c_LightCommand = [PTL].fnc_PTL_GenLightCommand(@c_LightAction, '', '')  
  
         INSERT INTO PTL.LFLightLinkLOG(  
               Application, LocalEndPoint,   RemoteEndPoint,  
               SourceKey,      MessageType,     Data,  
               Status,      AddDate,         DeviceIPAddress)  
         VALUES(  
               'LFLigthLink', '' , '',  
               '0', 'COMMAND', @c_LightCommand + @c_LightAddress,  
               '0', GetDate(),  @c_DeviceIP )  
  
         SET @n_LightLinkLogKey = @@identity  
  
         UPDATE PTL.LFLightLinkLog WITH (ROWLOCK)  
         SET SourceKey = @n_LightLinkLogKey  
         WHERE SerialNo = @n_LightLinkLogKey  
  
         --SET @n_LightLinkLogKey = RIGHT((REPLICATE(' ', 7) + CAST(@n_LightLinkLogKey AS VARCHAR(8))), 8)  
         SET @c_TCPMessage = @n_LightLinkLogKey  
  
         EXEC PTL.isp_PTL_SendMsg   
            @c_StorerKey,   
            @c_TCPMessage,   
            @b_success  OUTPUT,   
            @n_Err      OUTPUT,   
            @c_ErrMsg   OUTPUT,   
            @c_DeviceType,   
            @c_DeviceID  
  
         SET @c_LightAddress = ''  
      END  
  
      IF NOT EXISTS (SELECT 1 FROM PTL.LightStatus AS ls WITH (NOLOCK)  
                     WHERE ls.IPAddress = @c_DeviceIP  
                     AND   ls.DevicePosition = @c_DevicePosition)  
      BEGIN  
         INSERT INTO PTL.LightStatus  
         (  IPAddress,        DevicePosition,   DeviceID,  
            [Status],         PTLKey,           PTLType,  
            StorerKey,        UserName,         DisplayValue,  
            ReceiveValue,     ReceiveTime,      Remarks,  Func ,  
            ErrorMessage,     SourceKey,        DeviceProfileLogKey, LightCmd )  
         VALUES  
         (  @c_DeviceIP,      @c_DevicePosition, @c_DeviceID,  
            '0',              0,                 @c_PTLType,  
            @c_StorerKey,     SUSER_SNAME(),     '',  
            '',               NULL,              '',  @n_Func ,  
            '',               '',        '', @c_LightCommand)  
      END  
      ELSE  
      BEGIN  
         UPDATE PTL.LightStatus WITH (ROWLOCK)  
            SET [Status] = '0',  
                PTLKey   = 0,  
                PTLType  = '',  
                StorerKey = @c_StorerKey,  
                UserName = SUSER_SNAME(),  
                DisplayValue = '',  
                ReceiveValue = '',  
                ReceiveTime = NULL,  
                Remarks = '',  
                ErrorMessage = '',  
                SourceKey = '' ,  
        LightCmd = @c_LightCommand,  
                Func = @n_Func  
         WHERE IPAddress = @c_DeviceIP  
         AND   DevicePosition = @c_DevicePosition  
      END  
  
      -- Turn off light up flag  
      SET @n_PTLKey = 0  
      WHILE @n_PTLKey >= 0  
      BEGIN  
         SELECT @n_PTLKey = PTLKey  
         FROM PTL.PTLTran WITH (NOLOCK)  
         WHERE IPAddress = @c_DeviceIP  
            AND DevicePosition = @c_DevicePosition  
            AND LightUp = '1'  
         IF @n_PTLKey > 0  
         BEGIN  
            UPDATE PTL.PTLTran SET  
               LightUp = '0'  
            WHERE PTLKey = @n_PTLKey  
            IF @@ERROR <> 0  
            BEGIN  
               SET @n_Err = 85702  
               SET @c_ErrMsg = '85702 UPD PTL Fail'  
               GOTO RollBackTran  
            END  
         END  
         ELSE  
            BREAK  
           
         SET @n_PTLKey = 0  
      END  
  
      FETCH NEXT FROM CursorPTLTranLightUp INTO @c_DevicePosition, @c_DeviceType, @c_CurrDeviceID  
   END  
   CLOSE CursorPTLTranLightUp  
   DEALLOCATE CursorPTLTranLightUp  
  
   IF LEN(@c_LightAddress) > 0  
   BEGIN  
      SET @c_LightAction ='TerminateModule'  
      SET @c_LightCommand = [PTL].fnc_PTL_GenLightCommand(@c_LightAction, '', '')  
  
      INSERT INTO PTL.LFLightLinkLOG(  
             Application, LocalEndPoint,   RemoteEndPoint,  
             SourceKey,      MessageType,     Data,  
             Status,      AddDate,         DeviceIPAddress )  
      VALUES(  
             'LFLigthLink', '' , '',  
             '0', 'COMMAND', @c_LightCommand + @c_LightAddress,  
             '0', GetDate(), @c_DeviceIP  )  
  
      SET @n_LightLinkLogKey = @@identity  
  
      UPDATE PTL.LFLightLinkLog WITH (ROWLOCK)  
      SET SourceKey = @n_LightLinkLogKey  
      WHERE SerialNo = @n_LightLinkLogKey  
  
      --SET @n_LightLinkLogKey = RIGHT((REPLICATE(' ', 7) + CAST(@n_LightLinkLogKey AS VARCHAR(8))), 8)  
      SET @c_TCPMessage = @n_LightLinkLogKey  
  
      EXEC PTL.isp_PTL_SendMsg @c_StorerKey, @c_TCPMessage, @b_success OUTPUT, @n_Err OUTPUT, @c_ErrMsg OUTPUT, @c_DeviceType  
                              ,@c_DeviceID  
        
      SET @c_LightAddress = ''  
        
      IF @n_Err <> 0   
      BEGIN  
         GOTO RollBackTran  
      END  
   END  
  
   COMMIT TRAN isp_PTL_TerminateModule  
   GOTO Quit  
  
RollBackTran:  
   ROLLBACK TRAN isp_PTL_TerminateModule -- Only rollback change made here  
Quit:  
   WHILE @@TRANCOUNT > @nTranCount -- Commit until the level we started  
      COMMIT TRAN  
END  
GO

SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
GRANT EXECUTE ON PTL.isp_PTL_TerminateModule TO NSQL