SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/************************************************************************/
/* Store procedure: rdt_840ExtValid16                                   */
/* Purpose: Check whether carton allow to mix sku                       */
/*                                                                      */
/* Called By: RDT Pack By Track No                                      */ 
/*                                                                      */
/* Modifications log:                                                   */
/*                                                                      */
/* Date       Rev  Author     Purposes                                  */
/* 2023-03-31 1.0  James      WMS-22084 Created                         */
/************************************************************************/

CREATE OR ALTER PROC [RDT].[rdt_840ExtValid16] (
   @nMobile                   INT,
   @nFunc                     INT,
   @cLangCode                 NVARCHAR( 3),
   @nStep                     INT,
   @nInputKey                 INT, 
   @cStorerkey                NVARCHAR( 15),
   @cOrderKey                 NVARCHAR( 10),
   @cPickSlipNo               NVARCHAR( 10),
   @cTrackNo                  NVARCHAR( 20),
   @cSKU                      NVARCHAR( 20),
   @nCartonNo                 INT,
   @cCtnType                  NVARCHAR( 10),
   @cCtnWeight                NVARCHAR( 10),
   @cSerialNo                 NVARCHAR( 30), 
   @nSerialQTY                INT,           
   @nErrNo                    INT           OUTPUT,
   @cErrMsg                   NVARCHAR( 20) OUTPUT 
)
AS

   SET NOCOUNT ON
   SET QUOTED_IDENTIFIER OFF
   SET ANSI_NULLS OFF

   DECLARE @cFacility            NVARCHAR( 5)
   DECLARE @cBillToKey           NVARCHAR( 15)
   DECLARE @nIsAllowMixSKU       INT = 1
   DECLARE @cData1               NVARCHAR( 60)
   DECLARE @nPickQty             INT = 0
   DECLARE @nPackQty             INT = 0
   
   SET @nErrNo = 0

   IF @nStep = 3
   BEGIN
      IF @nInputKey = 1
      BEGIN
      	SELECT @cFacility = Facility
      	FROM rdt.RDTMOBREC WITH (NOLOCK)
      	WHERE Mobile = @nMobile

         SELECT @cBillToKey = BillToKey
         FROM dbo.ORDERS WITH (NOLOCK)
         WHERE OrderKey = @cOrderKey
         
         IF EXISTS ( SELECT 1
                     FROM dbo.STORER WITH (NOLOCK)
                     WHERE StorerKey = @cBillToKey
                     AND   [type] = '2'
                     AND   Facility = @cFacility
                     AND   SUSR3 = 'N')
            SET @nIsAllowMixSKU = 0

         IF EXISTS ( SELECT 1
                     FROM dbo.PackDetail WITH (NOLOCK)
                     WHERE PickSlipNo = @cPickSlipNo
                     AND   CartonNo = @nCartonNo)
         BEGIN
            IF NOT EXISTS( SELECT 1 
                           FROM dbo.PackDetail WITH (NOLOCK)
                           WHERE PickSlipNo = @cPickSlipNo
                           AND   CartonNo = @nCartonNo
                           AND   SKU = @cSKU) AND @nIsAllowMixSKU = 0
            BEGIN
               SET @nErrNo = 198701
               SET @cErrMsg = rdt.rdtgetmessage(@nErrNo, @cLangCode,'DSP') --Ctn Mix SKU
               GOTO Quit  
            END
         END
         

      END
   END
   
   IF @nStep = 4
   BEGIN
      IF @nInputKey = 1
      BEGIN
         IF EXISTS ( SELECT 1 
                     FROM dbo.ORDERS O WITH (NOLOCK)
                     WHERE O.OrderKey = @cOrderKey
                     AND   EXISTS ( SELECT 1
                                    FROM dbo.CODELKUP CLK WITH (NOLOCK)
                                    WHERE CLK.LISTNAME = 'STFCART'
                                    AND   CLK.Code = O.ShipperKey
                                    AND   CLK.Storerkey = O.StorerKey))
         BEGIN
         	SELECT @nPickQty = ISNULL( SUM( Qty), 0)
         	FROM dbo.PICKDETAIL WITH (NOLOCK)
         	WHERE OrderKey = @cOrderKey
         	
         	SELECT @nPackQty = ISNULL( SUM( Qty), 0)
         	FROM dbo.PackDetail WITH (NOLOCK)
         	WHERE PickSlipNo = @cPickSlipNo
         	
         	IF @nPickQty <> @nPackQty
            BEGIN
               SET @nErrNo = 198703
               SET @cErrMsg = rdt.rdtgetmessage( @nErrNo, @cLangCode, 'DSP') --Max Carton = 1
               GOTO Quit
            END
         END
      END	
   END
   
   IF @nStep = 9
   BEGIN
   	IF @nInputKey = 1
   	BEGIN
   		SELECT @cData1 = I_Field02
   		FROM rdt.RDTMOBREC WITH (NOLOCK)
   		WHERE Mobile = @nMobile
   		
         IF NOT EXISTS ( SELECT 1
                           FROM dbo.CODELKUP WITH (NOLOCK)
                           WHERE LISTNAME = 'LVSCOO'
                           AND   Code = @cData1
                           AND   Storerkey = @cStorerKey) AND ISNULL( @cData1, '') <> ''
         BEGIN
            SET @nErrNo = 198702
            SET @cErrMsg = rdt.rdtgetmessage( @nErrNo, @cLangCode, 'DSP') --Invalid COO
            GOTO Quit
         END
   	END
   END
   Quit:
   
   
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

GRANT EXECUTE ON RDT.rdt_840ExtValid16 TO NSQL
GO
