IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[isp_DropIDSN01]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
DROP PROCEDURE [dbo].[isp_DropIDSN01]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/************************************************************************/
/* Stored Proc: isp_DropIDSN01                                          */
/* Creation Date: 22-MAY-2017                                           */
/* Copyright: LF Logistics                                              */
/* Written by: Wan                                                      */
/*                                                                      */
/* Purpose:                                                             */
/*        :                                                             */
/* Called By: isp_SerialNo_dropid_Wrapper                               */
/*          :                                                           */
/* PVCS Version: 1.2                                                    */
/*                                                                      */
/* Version: 7.0                                                         */
/*                                                                      */
/* Data Modifications:                                                  */
/*                                                                      */
/* Updates:                                                             */
/* Date        Author   Ver   Purposes                                  */
/* 04-JUL-2017 Wan01    1.1   WMS-2332 - Changes to Logitech Packing    */
/* 04-JUL-2017 Wan02    1.2   WMS-3062 - CN&SG Logitech Packing         */
/* 27-Nov-2017 TLTING   1.2   Performance tune                          */
/************************************************************************/
CREATE PROC [dbo].[isp_DropIDSN01]
           @c_PickSlipNo      NVARCHAR(10) 
         , @c_Storerkey       NVARCHAR(15)
         , @c_Sku             NVARCHAR(20)
         , @c_DropId          NVARCHAR(20)
         , @c_SerialNo        NVARCHAR(30)
         , @n_Qty             INT            OUTPUT
         , @b_DisableQty      INT            OUTPUT
         , @c_PackMode        NVARCHAR(50)
         , @c_Source          NVARCHAR(50)
         , @b_Success         INT            OUTPUT
         , @n_Err             INT            OUTPUT
         , @c_ErrMsg          NVARCHAR(255)  OUTPUT
AS
BEGIN
   SET NOCOUNT ON
   SET ANSI_NULLS OFF
   SET QUOTED_IDENTIFIER OFF
   SET CONCAT_NULL_YIELDS_NULL OFF

   DECLARE  
           @n_StartTCnt       INT
         , @n_Continue        INT
         
         , @c_SerialNoType    NVARCHAR(1)
         , @n_CaseCnt         FLOAT
         , @n_InnerPack       FLOAT

         , @n_POS             INT            --(Wan02)
         , @c_Char            CHAR(1)        --(Wan02)
   
   SET @n_StartTCnt = @@TRANCOUNT
   SET @n_Continue = 1
   SET @n_err      = 0
   SET @c_errmsg   = ''

   IF @c_Source = 'serialno' AND @c_SerialNo <> ''
   BEGIN
      --(Wan01) - START
      IF LEN(@c_SerialNo) <> 12 
      BEGIN 
         SET @n_Continue = 3
         SET @n_err = 60005                                                                                          
         SET @c_errmsg= 'NSQL'+ CONVERT(CHAR(5),@n_err)+': Invalid Serial # Length: ' 
                      + RTRIM(@c_SerialNo) + '. (isp_DropIDSN01)' 
         GOTO QUIT_SP
      END
      --(Wan01) - END

      --(Wan02) - START
      SET @c_SerialNo = UPPER(@c_SerialNo) 
      SET @n_POS = 1
      WHILE @n_POS <= LEN(@c_SerialNo)
      BEGIN
         SET @c_Char = SUBSTRING(@c_SerialNo, @n_POS, 1)

         IF  (ASCII(@c_Char) NOT BETWEEN 48 AND 57)           --0 - 9
         AND (ASCII(@c_Char) NOT BETWEEN 65 AND 90)           --A - Z
         BEGIN
            SET @n_Continue = 3
            SET @n_err = 60006                                                                                          
            SET @c_errmsg= 'NSQL'+ CONVERT(CHAR(5),@n_err)+': Serial # Contain Special Character: ' 
                         + RTRIM(@c_SerialNo) + '. Please Scan Again. (isp_DropIDSN01)' 
            GOTO QUIT_SP
         END

         IF @n_POS IN (5,6)
         BEGIN
            IF ASCII(@c_Char) NOT BETWEEN 65 AND 90         --A - Z
            BEGIN
               SET @n_Continue = 3
               SET @n_err = 60007                                                                                         
               SET @c_errmsg= 'NSQL'+ CONVERT(CHAR(5),@n_err)+': Serial # Contain Invalid Character at position 5 & 6: ' 
                            + RTRIM(@c_SerialNo) + '. Please Scan Again. (isp_DropIDSN01)' 
               GOTO QUIT_SP
            END
         END

         SET @n_POS = @n_POS + 1
      END
      --(Wan02) - END      

      IF EXISTS ( SELECT 1
                  FROM SERIALNO   WITH (NOLOCK) 
                  JOIN fnc_GetWaveOrder_DropID (@c_DropId) TOTEORD ON (SERIALNO.Orderkey = TOTEORD.Orderkey)
                  WHERE SERIALNO.SerialNo = @c_SerialNo
                  AND SERIALNO.Storerkey = @c_Storerkey  --tlting
                  AND SERIALNO.ExternStatus <> 'CANC'
               )
      BEGIN
         SET @n_Continue = 3
         SET @n_err = 60010                                                                                           
         SET @c_errmsg= 'NSQL'+ CONVERT(CHAR(5),@n_err)+': Duplicate Serial #: ' 
                      + RTRIM(@c_SerialNo) + '. (isp_DropIDSN01)' 
         GOTO QUIT_SP
      END

      --(Wan02) - START
      IF EXISTS ( SELECT 1
                  FROM SERIALNO SN WITH (NOLOCK) 
                  WHERE SN.SerialNo = @c_SerialNo
                  AND SN.Storerkey = @c_Storerkey  --tlting
                  AND SN.ExternStatus <> 'CANC'
                  AND EXISTS ( SELECT 1 FROM PACKDETAIL PD WITH (NOLOCK)
                               WHERE PD.PickSlipNo = SN.PickSlipNo   
                               AND   PD.CartonNo   = SN.CartonNo  
                               AND   PD.LabelLine  = SN.LabelLine
                             )
                  --AND SN.AddDate BETWEEN DATEADD(HH, -24, GETDATE()) AND GETDATE() 
                  AND SN.AddDate BETWEEN CONVERT(DATETIME, CONVERT(NVARCHAR(10), GETDATE(), 121))
                                 AND CONVERT(DATETIME, CONVERT(NVARCHAR(10), GETDATE(), 121) + ' 23:59:59')
               )
      BEGIN
         SET @n_Continue = 3
         SET @n_err = 60011                                                                                           
         SET @c_errmsg= 'NSQL'+ CONVERT(CHAR(5),@n_err)+': Duplicate Serial #: ' 
                      + RTRIM(@c_SerialNo) + '. SerialNo had been packed. (isp_DropIDSN01)' 
         GOTO QUIT_SP
      END
      --(Wan02) - END

      SET @b_DisableQty = 0
      SET @c_SerialNoType = RIGHT(RTRIM(@c_SerialNo),1) 

      IF @c_SerialNoType NOT IN ('M', 'C', '9')
      BEGIN
         SET @n_Continue = 3
         SET @n_err = 60020                                                                                           
         SET @c_errmsg= 'NSQL'+ CONVERT(CHAR(5),@n_err)+': Invalid Serial #. (isp_DropIDSN01)' 
         GOTO QUIT_SP
      END

      IF @c_SerialNoType = 'M'
      BEGIN 
         SELECT @n_CaseCnt = PACK.CaseCnt
         FROM SKU WITH (NOLOCK)
         JOIN PACK WITH (NOLOCK) ON (SKU.Packkey = PACK.Packkey)
         WHERE SKU.Storerkey = @c_Storerkey
         AND   SKU.Sku = @c_Sku

         SET @n_Qty = @n_CaseCnt
         SET @b_DisableQty = 1
      END

      IF @c_SerialNoType = '9'
      BEGIN 
         SET @n_Qty = 1
         SET @b_DisableQty = 1
      END
   END

   -- (Wan02) - START
   IF @c_Source = 'qty' AND @n_Qty > 0 
   BEGIN
      IF (dbo.fnc_GetOrder_DropID (@c_DropID, @c_Storerkey, @c_Sku, @n_Qty)) = ''
      BEGIN
         SET @n_continue = 3                                                                                              
         SET @n_err = 60030                                                                                        
         SET @c_errmsg='NSQL'+ CONVERT(CHAR(5),@n_err)+': Pack Qty > Pick Qty. (isp_DropIDSN01)' 
                                                                                                                      
         GOTO QUIT_SP  
      END
   END
   -- (Wan02) - END

QUIT_SP:
   IF @n_Continue=3  -- Error Occured - Process And Return
   BEGIN
      SET @b_Success = 0
      IF  @@TRANCOUNT = 1 AND @@TRANCOUNT > @n_StartTCnt
      BEGIN
         ROLLBACK TRAN
      END
      ELSE
      BEGIN
         WHILE @@TRANCOUNT > @n_StartTCnt
         BEGIN
            COMMIT TRAN
         END
      END

      EXECUTE nsp_logerror @n_err, @c_ErrMsg, 'isp_DropIDSN01'
      --RAISERROR (@c_errmsg, 16, 1) WITH SETERROR    -- SQL2012
   END
   ELSE
   BEGIN
      SET @b_Success = 1
      WHILE @@TRANCOUNT > @n_StartTCnt
      BEGIN
         COMMIT TRAN
      END
   END
END -- procedure
GO

GRANT EXECUTE ON [dbo].[isp_DropIDSN01] TO nSQL 
GO
