SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/************************************************************************/
/* Stored Proc: isp_LoadToTransportOrder                                */
/* Creation Date: 2021-12-13                                            */
/* Copyright: LF Logistics                                              */
/* Written by: Wan                                                      */
/*                                                                      */
/* Purpose: LFWM-3249 - UAT RG  Dock door booking backend + SP          */
/*        :                                                             */
/* Called By: ispFinalizeLoadPlan                                       */
/*          :                                                           */
/* PVCS Version: 1.0                                                    */
/*                                                                      */
/* Version: 7.0                                                         */
/*                                                                      */
/* Data Modifications:                                                  */
/*                                                                      */
/* Updates:                                                             */
/* Date        Author   Ver   Purposes                                  */
/* 2021-12-13  Wan      1.0   Created.                                  */
/* 2021-12-13  Wan      1.0   DevOps Combine Script.                    */
/************************************************************************/
CREATE OR ALTER PROC dbo.isp_LoadToTransportOrder
           @c_LoadKey            NVARCHAR(10) = ''
         , @b_Success            INT            OUTPUT
         , @n_Err                INT            OUTPUT
         , @c_ErrMsg             NVARCHAR(255)  OUTPUT
AS
BEGIN
   SET NOCOUNT ON
   SET ANSI_NULLS OFF
   SET QUOTED_IDENTIFIER OFF
   SET CONCAT_NULL_YIELDS_NULL OFF

   DECLARE  
           @n_StartTCnt       INT   = @@TRANCOUNT
         , @n_Continue        INT   = 1
      
   DECLARE @t_ShipmentKey     TABLE (  ShipmentGID    NVARCHAR(50)   NOT NULL DEFAULT ('')
                                    ,  Loadkey        NVARCHAR(10)   NOT NULL DEFAULT ('') )       

   SET @n_err      = 0
   SET @c_errmsg   = ''

   INSERT INTO dbo.TMS_Shipment
       (
          ShipmentGID
       ,  VehicleLPN
       ,  EquipmentID
       ,  DriveName
       ,  ShipmentPlannedStartDate
       ,  ShipmentPlannedEndDate
       ,  [Route]
       ,  ServiceProviderID
       ,  ShipmentVolume
       ,  ShipmentWeight
       ,  ShipmentCartonCount
       ,  ShipmentPalletCount
       ,  OTMShipmentStatus
       )
   OUTPUT INSERTED.ShipmentGID, @c_LoadKey INTO @t_ShipmentKey 
   SELECT
          ShipmentGID = CASE WHEN lp.ExternLoadKey <> '' AND lp.ExternLoadKey IS NOT NULL THEN lp.ExternLoadKey ELSE lp.Loadkey END         
       ,  VehicleLPN = N''           
       ,  EquipmentID = N''           
       ,  lp.Driver    
       ,  lp.PickUpDate    
       ,  ShipmentPlannedEndDate = GETDATE()    
       ,  [Route]             = lp.[Route]           
       ,  ServiceProviderID   = ISNULL(lp.CarrierKey,'') 
       ,  ShipmentVolume      = ISNULL(lp.[Cube],0.00)         
       ,  ShipmentWeight      = ISNULL(lp.[Weight],0.00)           
       ,  ShipmentCartonCount = ISNULL(lp.CaseCnt,0)         
       ,  ShipmentPalletCount = ISNULL(lp.PalletCnt,0)         
       ,  OTMShipmentStatus   = N'' 
   FROM dbo.LoadPlan AS lp WITH (NOLOCK)
   WHERE lp.LoadKey = @c_LoadKey
   
   IF @@ERROR <> 0
   BEGIN
      SET @n_Continue = 3
      SET @n_Err = 65110
      SET @c_ErrMsg = 'NSQL' + CONVERT(CHAR(5),@n_Err) + ': Error Inserting Data into TMS_Shipment. (isp_LoadToTransportOrder) '
                    + ' ( SQLSvr MESSAGE = ' + ERROR_MESSAGE() + ')'
      GOTO QUIT_SP
   END
   
   INSERT INTO dbo.TMS_ShipmentTransOrderLink
       (
           ProvShipmentID
       ,   ShipmentGID
       )
   SELECT TOP 1
           ProvShipmentID = tsk.ShipmentGID
       ,   ShipmentGID    = tsk.ShipmentGID
   FROM @t_ShipmentKey AS tsk

   IF @@ERROR <> 0
   BEGIN
      SET @n_Continue = 3
      SET @n_Err = 65120
      SET @c_ErrMsg = 'NSQL' + CONVERT(CHAR(5),@n_Err) + ': Error Inserting Data into TMS_ShipmentTransOrderLink. (isp_LoadToTransportOrder) '
                    + ' ( SQLSvr MESSAGE = ' + ERROR_MESSAGE() + ')'
      GOTO QUIT_SP
   END

   INSERT INTO TMS_TransportOrder
      (
         ProvShipmentID
      ,  OrderReleaseID
      ,  OrderSourceID
      ,  ClientReferenceID
      ,  Loadkey
      ,  MBOLkey
      ,  ParentSourceID
      ,  SplitFlag
      ,  Principal
      ,  Country
      ,  FacilityID
      ,  StopSeq
      ,  IOIndicator
      ,  StopServiceTime
      ,  OrderVolume
      ,  OrderWeight
      ,  OrderCartonCount
      ,  OrderPalletCount
      ,  PickPriority
      ,  ErrorCode
      )
   SELECT 
         ProvShipmentID = tsk.ShipmentGID
      ,  OrderReleaseID = ''
      ,  OrderSourceID  = lpd.Orderkey
      ,  ClientReferenceID = lpd.ExternOrderKey
      ,  Loadkey  = lpd.Loadkey
      ,  MBOLkey  = o.MBOLkey 
      ,  ParentSourceID = ''
      ,  SplitFlag   = ''
      ,  Principal   = o.StorerKey
      ,  Country     = ISNULL(o.C_ISOCntryCode,'')
      ,  FacilityID  = o.Facility
      ,  StopSeq     = ''
      ,  IOIndicator = N'O'
      ,  StopServiceTime= ''
      ,  OrderVolume = lpd.[Cube]
      ,  OrderWeight = lpd.[Weight]
      ,  OrderCartonCount= lpd.CaseCnt
      ,  OrderPalletCount= 0
      ,  PickPriority= ''
      ,  ErrorCode   = ''
   FROM @t_ShipmentKey AS tsk
   JOIN dbo.LoadPlanDetail AS lpd WITH (NOLOCK) ON lpd.LoadKey = tsk.Loadkey
   JOIN dbo.ORDERS AS o WITH (NOLOCK) ON o.OrderKey = lpd.OrderKey

   IF @@ERROR <> 0
   BEGIN
      SET @n_Continue = 3
      SET @n_Err = 65130
      SET @c_ErrMsg = 'NSQL' + CONVERT(CHAR(5),@n_Err) + ': Error Inserting Data into TMS_Transorder. (isp_LoadToTransportOrder) '
                    + ' ( SQLSvr MESSAGE = ' + ERROR_MESSAGE() + ')'
      GOTO QUIT_SP
   END
QUIT_SP:
   IF @n_Continue=3  -- Error Occured - Process And Return
   BEGIN
      SET @b_Success = 0
      IF  @@TRANCOUNT = 1 AND @@TRANCOUNT > @n_StartTCnt
      BEGIN
         ROLLBACK TRAN
      END
      ELSE
      BEGIN
         WHILE @@TRANCOUNT > @n_StartTCnt
         BEGIN
            COMMIT TRAN
         END
      END

      EXECUTE nsp_logerror @n_err, @c_ErrMsg, 'isp_LoadToTransportOrder'
      RAISERROR (@c_errmsg, 16, 1) WITH SETERROR    -- SQL2012
   END
   ELSE
   BEGIN
      SET @b_Success = 1
      WHILE @@TRANCOUNT > @n_StartTCnt
      BEGIN
         COMMIT TRAN
      END
   END
END -- procedure
GO
GRANT EXECUTE ON [dbo].[isp_LoadToTransportOrder] TO nSQL 
GO
