IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ispPostFinalizeTransferWrapper]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ispPostFinalizeTransferWrapper]
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/************************************************************************/  
/* Stored Procedure: ispPostFinalizeTransferWrapper                     */  
/* Creation Date: 11-APR-2014                                           */  
/* Copyright: IDS                                                       */  
/* Written by: YTWan                                                    */  
/*                                                                      */  
/* Purpose: SOS#304838 - ANF - Allocation strategy for Transfer         */ 
/*                                                                      */  
/* Called By: ispFinalizeTransfer                                       */  
/*                                                                      */  
/* PVCS Version: 1.1                                                    */  
/*                                                                      */  
/* Data Modifications:                                                  */  
/*                                                                      */  
/* Updates:                                                             */  
/* Date         Author  Rev   Purposes                                  */ 
/* 02-Feb-2015  YTWan   1.2   SOS#315474 - Project Merlion – Exceed GTM */
/*                            Kiosk Module (Wan01)                      */
/************************************************************************/  
CREATE PROC [dbo].[ispPostFinalizeTransferWrapper]    
     @c_TransferKey              NVARCHAR(10)
   , @c_PostFinalizeTransferSP   NVARCHAR(30)   
   , @b_Success                  INT           OUTPUT    
   , @n_Err                      INT           OUTPUT    
   , @c_ErrMsg                   NVARCHAR(250) OUTPUT    
   , @b_debug                    INT = 0    
   , @c_TransferLineNumber       NVARCHAR(5) = ''  --(Wan01)  

AS    
BEGIN    
   SET NOCOUNT ON 
   SET ANSI_NULLS OFF
   SET QUOTED_IDENTIFIER OFF 
   SET CONCAT_NULL_YIELDS_NULL OFF  
    
   DECLARE  @n_Continue                INT     
         ,  @n_StartTCnt               INT  -- Holds the current transaction count     
  
   DECLARE  @c_SQL                     NVARCHAR(MAX)      
         ,  @c_SQLParm                 NVARCHAR(MAX)  
   
    
   SET @n_StartTCnt  =  @@TRANCOUNT
   SET @n_Continue   =  1
   SET @b_Success    =  1 
   SET @n_Err        =  0  
   SET @c_ErrMsg     =  ''  

  
   IF ISNULL(RTRIM(@c_PostFinalizeTransferSP),'') = ''  
   BEGIN    
      SET @n_Continue = 3    
      SET @n_Err = 63500    
      SET @c_ErrMsg='NSQL'+CONVERT(NVARCHAR(5),@n_Err)+': Stored Procedure Name is Blank (ispPostFinalizeTransferWrapper)'
      GOTO EXIT_SP    
   END    
   
   IF NOT EXISTS (SELECT 1 FROM sys.objects o WHERE NAME = @c_PostFinalizeTransferSP AND TYPE = 'P')
   BEGIN
      SET @n_Continue = 3    
      SET @n_Err = 63501    
      SET @c_ErrMsg='NSQL'+CONVERT(NVARCHAR(5),@n_Err)+': Stored Procedure Name ' + @c_PostFinalizeTransferSP + ' Not Found (ispPostFinalizeTransferWrapper)'
      GOTO EXIT_SP          
   END

   SET @c_SQL = N'  
      EXECUTE ' + @c_PostFinalizeTransferSP + CHAR(13) +  
      '  @c_TransferKey  = @c_TransferKey '  + CHAR(13) +  
      ', @b_Success  = @b_Success     OUTPUT ' + CHAR(13) + 
      ', @n_Err      = @n_Err         OUTPUT ' + CHAR(13) +  
      ', @c_ErrMsg   = @c_ErrMsg      OUTPUT ' + CHAR(13) +    -- (Wan01)
      ', @c_TransferLineNumber  = @c_TransferLineNumber '      -- (Wan01)

   SET @c_SQLParm =  N'@c_TransferKey  NVARCHAR(10), '  
                  +   '@b_Success INT OUTPUT, @n_Err INT OUTPUT, @c_ErrMsg NVARCHAR(250) OUTPUT '         
                  +   ', @c_TransferLineNumber NVARCHAR(5) '   -- (Wan01) 
   EXEC sp_ExecuteSQL @c_SQL, @c_SQLParm, @c_TransferKey, 
                      @b_Success OUTPUT, @n_Err OUTPUT, @c_ErrMsg OUTPUT 
                   ,  @c_TransferLineNumber            -- (Wan01)  
                      

   IF @@ERROR <> 0 OR @b_Success <> 1  
   BEGIN  
      SET @n_Continue= 3    
      SET @n_Err     = 63502    
      SET @c_ErrMsg  =  'NSQL'+CONVERT(NVARCHAR(5),@n_Err)+': Failed to EXEC ' + @c_PostFinalizeTransferSP +   
                        CASE WHEN ISNULL(@c_ErrMsg, '') <> '' THEN ' - ' + @c_ErrMsg ELSE '' END + ' (ispPostFinalizeTransferWrapper)'
      GOTO EXIT_SP                          
   END 
EXIT_SP:
   IF @n_Continue=3  -- Error Occured - Process And Return    
   BEGIN    
      SET @b_Success = 0    
      IF @@TRANCOUNT = 1 AND @@TRANCOUNT > @n_StartTCnt    
      BEGIN    
         ROLLBACK TRAN    
      END  
      ELSE
      BEGIN
         WHILE @@TRANCOUNT > @n_StartTCnt
         BEGIN
            COMMIT TRAN
         END
      END  
  
      EXECUTE nsp_logerror @n_Err, @c_ErrMsg, 'ispPostFinalizeTransferWrapper'    
      RAISERROR (@c_errmsg, 16, 1) WITH SETERROR    -- SQL2012    
      RETURN    
   END    
   ELSE    
   BEGIN 
      SET @b_Success = 1    
      WHILE @@TRANCOUNT > @n_StartTCnt
      BEGIN
         COMMIT TRAN
      END
   
      RETURN    
   END    
END -- Procedure 
GO

GRANT EXECUTE ON [dbo].[ispPostFinalizeTransferWrapper] TO NSQL
GO
