IF EXISTS ( SELECT * FROM dbo.sysobjects WHERE  id = OBJECT_ID(N'[dbo].[ispSHPMO04]') 
AND OBJECTPROPERTY(id ,N'IsProcedure') = 1 ) 
DROP PROCEDURE [dbo].[ispSHPMO04]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/***************************************************************************/
/* Stored Procedure: ispSHPMO04                                            */
/* Creation Date: 23-NOV-2018                                              */
/* Copyright: LFL                                                          */
/* Written by:                                                             */
/*                                                                         */
/* Purpose: WMS-6214 CN UA Ship combine order update child order status    */
/*                                                                         */
/*                                                                         */
/* Called By: MBOL Ship Storerconfig: PostMBOLShipSP                       */
/*                                                                         */
/*                                                                         */
/* PVCS Version: 1.0                                                       */
/*                                                                         */
/* Version: 6.0                                                            */
/*                                                                         */
/* Data Modifications:                                                     */
/*                                                                         */
/* Updates:                                                                */
/* Date         Author  Ver   Purposes                                     */
/* 2019-09-21   TLTING01 1.1  Update Editdate                              */
/***************************************************************************/  
CREATE PROC [dbo].[ispSHPMO04]  
(     @c_MBOLkey     NVARCHAR(10)   
  ,   @c_Storerkey   NVARCHAR(15)
  ,   @b_Success     INT           OUTPUT
  ,   @n_Err         INT           OUTPUT
  ,   @c_ErrMsg      NVARCHAR(255) OUTPUT   
)  
AS  
BEGIN  
   SET NOCOUNT ON  
   SET QUOTED_IDENTIFIER OFF  
   SET ANSI_NULLS OFF  
   SET CONCAT_NULL_YIELDS_NULL OFF  
  
   DECLARE @b_Debug     INT
         , @n_Continue  INT 
         , @n_StartTCnt INT 
         , @c_ChildOrderkey   NVARCHAR(10)
         , @c_OrderLineNumber NVARCHAR(5) 

   SET @b_Success= 1 
   SET @n_Err    = 0  
   SET @c_ErrMsg = ''
   SET @b_Debug = '0' 
   SET @n_Continue = 1  
   SET @n_StartTCnt = @@TRANCOUNT  

   IF @@TRANCOUNT = 0
      BEGIN TRAN         

   DECLARE cur_shiporder CURSOR LOCAL FAST_FORWARD READ_ONLY FOR
        SELECT DISTINCT CHILD.Orderkey
        FROM MBOL MB (NOLOCK)
        JOIN MBOLDETAIL MD (NOLOCK) ON MB.Mbolkey = MD.Mbolkey
	      JOIN ORDERS O (NOLOCK) ON MD.Orderkey = O.Orderkey
	      JOIN ORDERDETAIL OD (NOLOCK) ON O.Orderkey = OD.Orderkey
	      JOIN ORDERS CHILD (NOLOCK) ON OD.ConsoOrderkey = CHILD.Orderkey AND OD.Storerkey = CHILD.Storerkey
	      WHERE MB.Mbolkey = @c_Mbolkey
	      --AND O.Status = '9'

      OPEN cur_shiporder  
      
      FETCH NEXT FROM cur_shiporder INTO @c_ChildOrderkey
           
      WHILE @@FETCH_STATUS = 0 AND @n_continue IN(1,2)
      BEGIN
   	     DECLARE cur_orddet CURSOR LOCAL FAST_FORWARD READ_ONLY FOR
   	        SELECT OrderLineNumber
   	        FROM ORDERDETAIL (NOLOCK)   	        
       	    WHERE Orderkey = @c_ChildOrderkey
      	    AND Status NOT IN('9','CANC')

         OPEN cur_orddet  
       
         FETCH NEXT FROM cur_orddet INTO @c_OrderLineNumber
           
         WHILE @@FETCH_STATUS = 0 AND @n_continue IN(1,2)
         BEGIN   	       
      	    UPDATE ORDERDETAIL WITH (ROWLOCK)
      	    SET Status = '9',      	          	 
      	        Trafficcop = NULL,
                 Editdate   = getdate(),   -- tlting01
                 Editwho    = Suser_Sname()    --tlting01
      	    WHERE Orderkey = @c_ChildOrderkey
      	    AND OrderLineNumber = @c_OrderLineNumber
            
            SET @n_err = @@ERROR    
            IF @n_err <> 0    
            BEGIN    
               SET @n_continue = 3    
               SET @n_err = 61900-- Should Be Set To The SQL Errmessage but I don't know how to do so. 
               SET @c_errmsg='NSQL'+CONVERT(char(5), @n_err)+': Update Failed On Table ORDERDETAIL. (ispORD06)'            
            END   
            
            FETCH NEXT FROM cur_orddet INTO @c_OrderLineNumber
         END   
         CLOSE cur_orddet
         DEALLOCATE cur_orddet 	   	 	        	 
      	 
      	 UPDATE ORDERS WITH (ROWLOCK)
      	 SET Status = '9',
      	     SoStatus = '9',      	          	 
      	     Trafficcop = NULL,
               Editdate   = getdate(),   -- tlting01
               Editwho    = Suser_Sname()    --tlting01
      	 WHERE Orderkey = @c_ChildOrderkey
      	 AND Status NOT IN('9','CANC')      	 

         SET @n_err = @@ERROR    
         IF @n_err <> 0    
         BEGIN    
            SET @n_continue = 3    
            SET @n_err = 61910-- Should Be Set To The SQL Errmessage but I don't know how to do so. 
            SET @c_errmsg='NSQL'+CONVERT(char(5), @n_err)+': Update Failed On Table ORDERS. (ispORD06)'            
         END    	   	 	  
      	       	 
         FETCH NEXT FROM cur_shiporder INTO @c_ChildOrderkey
	    END
	    CLOSE cur_shiporder
	    DEALLOCATE cur_shiporder

   QUIT_SP:

   IF @n_continue = 3  -- Error Occured - Process And Return
   BEGIN
      SET @b_success = 0

      IF @@TRANCOUNT = 1 AND @@TRANCOUNT >= @n_StartTCnt
      BEGIN
         ROLLBACK TRAN
      END
      EXECUTE nsp_logerror @n_err, @c_errmsg, 'ispSHPMO04'
      RAISERROR (@c_errmsg, 16, 1) WITH SETERROR    -- SQL2012
      RETURN
   END
   ELSE
   BEGIN
      SET @b_success = 1
      WHILE @@TRANCOUNT > @n_StartTCnt
      BEGIN
        COMMIT TRAN
      END 
      RETURN
   END 
END
GO

GRANT EXECUTE ON [dbo].[ispSHPMO04] TO nSQL 
GO
