if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[nspALLOGI1]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[nspALLOGI1]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

/************************************************************************/
/* Stored Procedure: nspALLOGI1                                         */
/* Creation Date: 24-Mar-2017                                           */
/* Copyright: LFL                                                       */
/* Written by:                                                          */
/*                                                                      */
/* Purpose:  WMS-1413 CN/SG Logitech allocation                         */
/*                                                                      */
/* Called By:                                                           */
/*                                                                      */
/* PVCS Version: 1.4                                                    */
/*                                                                      */
/* Version: 5.4                                                         */
/*                                                                      */
/* Data Modifications:                                                  */
/*                                                                      */
/* Updates:                                                             */
/* Date         Author  Ver. Purposes                                   */
/* 13/09/2019   WLChooi 1.1  WMS-10163 - Use Codelkup to control if need*/
/*                                       to allocate from DPP Loc (WL01)*/
/************************************************************************/

CREATE PROC nspALLOGI1 
@c_lot NVARCHAR(10) ,
@c_uom NVARCHAR(10) ,
@c_HostWHCode NVARCHAR(10),
@c_Facility NVARCHAR(5),
@n_uombase int ,
@n_qtylefttofulfill int,
@c_OtherParms NVARCHAR(200) = ''         
AS
BEGIN
   SET NOCOUNT ON 
   
	 DECLARE @c_OrderKey          NVARCHAR(10),
	         @c_OrderLineNumber   NVARCHAR(5),
	         @c_Condition         NVARCHAR(2000),
	         @c_OrderBy           NVARCHAR(1000),
	         @c_SQL               NVARCHAR(MAX),
            @c_AllocateFromDPP   NVARCHAR(10) = 'N',    --WL01
            @c_Storerkey         NVARCHAR(20)           --WL01
	                     
   IF LEN(@c_OtherParms) > 0  -- when storerconfig 'Orderinfo4Allocation' is turned on
   BEGIN        
      SET @c_OrderKey = LEFT(@c_OtherParms,10)         
      SET @c_OrderLineNumber = SUBSTRING(@c_OtherParms,11,5)

      SELECT @c_Storerkey = Storerkey
      FROM ORDERS (NOLOCK)
      WHERE ORDERKEY = @c_OrderKey
   END   

   --WL01 Start      
   IF EXISTS(SELECT 1 FROM CODELKUP (NOLOCK)  
             WHERE ListName = 'PKCODECFG'  
             AND Storerkey = @c_Storerkey  
             AND Code = 'AllocateFromDPP'  
             AND Long = 'nspALLOGI1'  
             AND ISNULL(Short,'') <> 'N')   
      SET @c_AllocateFromDPP = 'Y'  
   ELSE  
      SET @c_AllocateFromDPP = 'N'   
   --WL01 End   
   
   SELECT @c_Condition = '', @c_OrderBy = ''

   IF @c_UOM IN ('1','2')
   BEGIN  --WL01 Start
      IF @c_AllocateFromDPP = 'N'
         SELECT @c_Condition = " AND LOC.LocationType <> 'DYNPPICK' AND LOC.LocationCategory <> 'DYNPPICK' "
      ELSE
         SELECT @c_Condition = ''
   END  --WL01 End

   IF @c_UOM IN('6','7')
      SELECT  @c_Orderby =  " ORDER BY CASE WHEN SKUXLOC.LocationType IN('PICK','CASE') OR LOC.LocationType IN('PICK','CASE','DYNPPICK') OR LOC.LocationCategory = 'DYNPPICK' " + 
                                          " THEN 1 " +
                                          " WHEN LOC.LocationHandling = '2' AND LOC.LocationCategory = 'SHELVING' THEN 2 ELSE 3 END,3, LOC.LogicalLocation, LOC.LOC " 
   ELSE
      SELECT  @c_Orderby =  " ORDER BY 3, LOC.LogicalLocation, LOC.LOC " 
   
   SELECT @c_SQL =  " DECLARE  CURSOR_CANDIDATES CURSOR FAST_FORWARD READ_ONLY " +
                    " FOR SELECT LOTxLOCxID.LOC, LOTxLOCxID.ID, " +
                    "            QTYAVAILABLE = (LOTxLOCxID.QTY - LOTxLOCxID.QTYALLOCATED - LOTxLOCxID.QTYPICKED - LOTxLOCxID.QtyReplen), '1' " +
                    " FROM LOTxLOCxID (NOLOCK) " +
                    " JOIN LOC (NOLOCK) ON LOTxLOCxID.Loc = LOC.LOC " +
                    " JOIN SKUxLOC (NOLOCK) ON LOTxLOCxID.Storerkey = SKUxLOC.Storerkey AND LOTxLOCxID.Sku = SKUxLOC.Sku " +
                    "                          AND LOTxLOCxID.Loc = SKUxLOC.Loc " +
                    " JOIN ID (NOLOCK) ON LOTxLOCxID.ID = ID.ID " +
                    " WHERE LOTxLOCxID.Lot = '" +@c_lot + "'" +
                    " AND LOC.Facility = '" + @c_Facility +"'" +
                    " AND LOC.Locationflag <>'HOLD' " +
                    " AND LOC.Locationflag <> 'DAMAGE' " +
                    " AND LOC.Status <> 'HOLD' " +
                    " AND ID.Status = 'OK' " +
                    " AND (LOTxLOCxID.QTY - LOTxLOCxID.QTYALLOCATED - LOTxLOCxID.QTYPICKED - LOTxLOCxID.QtyReplen) > 0  " +      
                    @C_Condition + ' ' +
                    @C_Orderby           
   EXEC (@c_SQL)                 
END
GO

SET QUOTED_IDENTIFIER OFF
GO

SET ANSI_NULLS OFF
GO

GRANT EXECUTE ON nspALLOGI1 TO nSQL
GO
