IF EXISTS (SELECT * FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[nspPRTWPG7]') AND Type IN (N'P', N'PC'))
   DROP PROCEDURE [dbo].[nspPRTWPG7]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/************************************************************************/
/* Stored Procedure: nspPRTWPG7                                         */
/* Creation Date:                                                       */
/* Copyright: LF Logistics                                              */
/* Written by: Shong                                                    */
/*                                                                      */
/* Purpose: Sort by Lottable04, Lottable05                              */
/*          Getting from Location with Full Pallet Only                 */
/*                                                                      */
/* Called By:                                                           */
/*                                                                      */
/* PVCS Version: 1.1                                                    */
/*                                                                      */
/* Version: 5.4                                                         */
/*                                                                      */
/* Data Modifications:                                                  */
/*                                                                      */
/* Updates:                                                             */
/* Date         Author        Purposes                                  */
/* 20-11-2013   Shong         SOS#291875 - Design For TW P&G Requirement*/
/* 27-12-2013   Leong         SOS#299047 - Include LOT.QtyPreAllocated  */
/* 24-01-2014   Shong         Fixing Issues caused by SOS#299047        */
/* 25-02-2014   Audrey        SOS#304394 - Bug fixed             (ang01)*/
/* 07-05-2014   Audrey        SOS#310562 - Get next available Lot.      */
/************************************************************************/

CREATE PROC [dbo].[nspPRTWPG7]
   @c_StorerKey  NVARCHAR(15),
   @c_SKU        NVARCHAR(20),
   @c_LOT        NVARCHAR(10),
   @c_Lottable01 NVARCHAR(18),
   @c_Lottable02 NVARCHAR(18),
   @c_Lottable03 NVARCHAR(18),
   @d_Lottable04 DATETIME,
   @d_Lottable05 DATETIME,
   @c_UOM        NVARCHAR(10),
   @c_Facility   NVARCHAR(10),  -- added By Ricky for IDSV5
   @n_UOMBase    INT,
   @n_QtyLeftToFulfill INT,
   @c_OtherParms NVARCHAR(20) = ''
AS
BEGIN
   SET NOCOUNT ON

   DECLARE @n_ConsigneeMinShelfLife INT,
           @c_Condition    NVARCHAR(MAX),
           @c_UOMBase      NVARCHAR(10),
           @n_PalletCnt    INT,
           @n_QtyAvailable INT,
           @c_SelectedLOT  NVARCHAR(10),
           @d_SelectedLot4 DATETIME,
           @c_LOC          NVARCHAR(10),
           @n_Qty          INT,
           @c_ID           NVARCHAR(18),
           @c_CursorStmnt  NVARCHAR(MAX),
           @c_Pallet       NVARCHAR(10),
           @n_LotQtyAvail  INT

   SET @c_UOMBase = RTRIM(CAST ( @n_uombase AS NVARCHAR(10)))

   DECLARE @t_LOTxLOCxiD AS TABLE (LOT NVARCHAR(10), LOC NVARCHAR(10), ID NVARCHAR(18), Qty INT)

   IF ISNULL(LTRIM(RTRIM(@c_LOT)) ,'') <> '' AND LEFT(@c_LOT ,1) <> '*'
   BEGIN
      /* Get Storer Minimum Shelf Life */
      SELECT @n_ConsigneeMinShelfLife = ISNULL(Storer.MinShelflife, 0)
      FROM   STORER (NOLOCK)
      WHERE  StorerKey = @c_Lottable03

      SELECT @n_ConsigneeMinShelfLife = ((ISNULL(Sku.Shelflife,0) * @n_ConsigneeMinShelfLife /100) * -1),
             @n_PalletCnt = PACK.Pallet,
             @c_Pallet = CAST(PACK.Pallet AS VARCHAR(10))
      FROM  Sku (NOLOCK)
      JOIN PACK (NOLOCK) ON PACK.PACKKey = Sku.PACKKey
      WHERE Sku.Sku = @c_SKU
      AND   Sku.StorerKey = @c_StorerKey

      DECLARE PREALLOCATE_CURSOR_CANDIDATES CURSOR FAST_FORWARD READ_ONLY
      FOR
      SELECT LOT.StorerKey, LOT.SKU, LOT.LOT,
      QTYAVAILABLE = (LOT.QTY - LOT.QTYALLOCATED - LOT.QTYPICKED - LOT.QTYPREALLOCATED)
      FROM LOT (NOLOCK), Lotattribute (NOLOCK), LOTxLOCxID (NOLOCK), LOC (NOLOCK)
      WHERE LOT.LOT = @c_LOT
      AND Lot.Lot = Lotattribute.Lot
      AND LOTxLOCxID.Lot = LOT.LOT
      AND LOTxLOCxID.LOT = LOTATTRIBUTE.LOT
      AND LOTxLOCxID.LOC = LOC.LOC
      AND LOC.Facility = @c_Facility
      AND DATEADD(Day, @n_ConsigneeMinShelfLife, Lotattribute.Lottable04) > GETDATE()

      GOTO EXIT_SP
   END
   ELSE
   BEGIN
      SELECT @n_PalletCnt = PACK.Pallet,
             @c_Pallet = CAST(PACK.Pallet AS VARCHAR(10))
      FROM  Sku (NOLOCK)
      JOIN PACK (NOLOCK) ON PACK.PACKKey = Sku.PACKKey
      WHERE Sku.Sku = @c_SKU
      AND   Sku.StorerKey = @c_StorerKey

      IF @c_UOM = '7' AND LEFT(RTRIM(@c_LOT),1) <> '*'
      BEGIN
         DECLARE PREALLOCATE_CURSOR_CANDIDATES CURSOR FAST_FORWARD READ_ONLY FOR
         SELECT LOT.StorerKey, LOT.SKU, LOT.LOT, 0
         FROM LOT WITH (NOLOCK)
         WHERE 1=2

         GOTO EXIT_SP
      END

      DECLARE @c_OrderKey  NVARCHAR(10),
              @c_OrderType NVARCHAR(10)

      IF LEN(@c_OtherParms) > 0
      BEGIN
         SET @c_OrderKey = LEFT(@c_OtherParms,10)

         SET @c_OrderType = ''
         SELECT @c_OrderType = TYPE
         FROM   ORDERS WITH (NOLOCK)
         WHERE  OrderKey = @c_OrderKey

         IF @c_OrderType = 'VAS'
         BEGIN
            SELECT @c_Condition = RTRIM(@c_Condition) + " AND RIGHT(RTRIM(Lotattribute.Lottable02),1) <> 'Z' "
         END
      END

      IF LEN(ISNULL(RTRIM(@c_LOT),'')) > 1 AND LEFT(@c_LOT,1) = '*'
      BEGIN
         -- Minimum Shelf Life provided
         SELECT @n_ConsigneeMinShelfLife = CASE WHEN ISNUMERIC(RIGHT(RTRIM(@c_LOT), LEN(RTRIM(@c_LOT)) - 1)) = 1
                                                   THEN CAST(RIGHT(RTRIM(@c_LOT), LEN(RTRIM(@c_LOT)) - 1) AS INT) * -1
                                                ELSE 0
                                           END
      END
      IF ISNULL(@n_ConsigneeMinShelfLife,0) = 0
      BEGIN
         /* Get Storer Minimum Shelf Life */
         /* Lottable03 = Consignee Key */
         SELECT @n_ConsigneeMinShelfLife = ISNULL(Storer.MinShelflife, 0)
         FROM   STORER (NOLOCK)
         WHERE  StorerKey = RTRIM(@c_Lottable03)

         SELECT @n_ConsigneeMinShelfLife = ((ISNULL(Sku.Shelflife,0) * @n_ConsigneeMinShelfLife /100) * -1)
         FROM  Sku (NOLOCK)
         WHERE Sku.Sku = @c_SKU
         AND   Sku.StorerKey = @c_StorerKey

         IF @n_ConsigneeMinShelfLife IS NULL
            SELECT @n_ConsigneeMinShelfLife = 0
      END

      -- Lottable01 is used for loc.HostWhCode -- modified by Jeff
      IF ISNULL(RTRIM(@c_Lottable01),'') <> '' AND @c_Lottable01 IS NOT NULL
      BEGIN           SELECT @c_Condition = ISNULL(RTRIM(@c_Condition),'') + " AND LOC.HostWhCode = N'" + ISNULL(RTRIM(@c_Lottable01),'') + "' "
      END

      IF ISNULL(RTRIM(@c_Lottable02),'') <> '' AND @c_Lottable02 IS NOT NULL
      BEGIN
         SELECT @c_Condition = ISNULL(RTRIM(@c_Condition),'') + " AND Lottable02 = N'" + ISNULL(RTRIM(@c_Lottable02),'') + "' "
      END

      IF CONVERT(CHAR(8), @d_Lottable04, 112) <> '19000101' AND @d_Lottable04 IS NOT NULL
      BEGIN
         SELECT @c_Condition = ISNULL(RTRIM(@c_Condition),'') + " AND (Lotattribute.Lottable04 >= N'" + RTRIM(CONVERT(CHAR(8), @d_Lottable04, 112)) + "') "
      END
      ELSE
      BEGIN
         SELECT @c_Condition = ISNULL(RTRIM(@c_Condition),'') + " AND (DATEADD(Day, " + CAST(@n_ConsigneeMinShelfLife AS NVARCHAR(10)) + ", Lotattribute.Lottable04) > GETDATE() "
         SELECT @c_Condition = ISNULL(RTRIM(@c_Condition),'') + " OR Lotattribute.Lottable04 IS NULL) "
      END

      SELECT @c_condition = ISNULL(RTRIM(@c_Condition),'') + " GROUP BY LOT.StorerKey, LOT.Sku, LOTATTRIBUTE.Lottable04, LOTATTRIBUTE.Lottable05, LOT.LOT "
      --SELECT @c_condition = ISNULL(RTRIM(@c_Condition),'') + " HAVING SUM(LOTxLOCxID.QTY - LOTxLOCxID.QTYALLOCATED - LOTxLOCxID.QTYPICKED) - MIN(LOT.QTYPREALLOCATED) >= " + RTRIM(CAST ( @n_uombase AS NVARCHAR(10))) + " "(ang01)

      SELECT @c_condition = ISNULL(RTRIM(@c_Condition),'') + " HAVING CASE WHEN SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0)) < " + @c_UOMBase +
         "      THEN SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0)) " +
         "      WHEN SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0)) % " + @c_UOMBase + " = 0 " +
         " THEN SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0)) " +
         "      ELSE   " +
         "        SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0)) " +
         "        - ((SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0))) % " + @c_UOMBase + ") " +
         "      END  >= " + RTRIM(CAST ( @n_uombase AS NVARCHAR(10))) + " " --(ang01)

      IF @n_ConsigneeMinShelfLife = 0
      BEGIN
         SELECT @c_Condition = ISNULL(RTRIM(@c_Condition) ,'') +
                             " ORDER BY LOTATTRIBUTE.Lottable04, " +
                   " LOTATTRIBUTE.Lottable05, MIN(LOC.LOC) "
      END
      ELSE
      BEGIN
         SELECT @c_Condition = ISNULL(RTRIM(@c_Condition) ,'') +
                             " ORDER BY  " +
                             " LOTATTRIBUTE.Lottable04, "  +
                             " LOTATTRIBUTE.Lottable05, MIN(LOC.LOC) "
      END

      EXEC (" DECLARE  LOT_CURSOR CURSOR FAST_FORWARD READ_ONLY FOR " +
         " SELECT LOT.LOT, LOTATTRIBUTE.Lottable04, "  +
         " QTYAVAILABLE = CASE WHEN SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0)) < " + @c_UOMBase +
         "      THEN SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0)) " +
         "      WHEN SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0)) % " + @c_UOMBase + " = 0 " +
         " THEN SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0)) " +
         "      ELSE   " +
         "        SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0)) " +
         "        - ((SUM(LOTXLOCXID.QTY - LOTXLOCXID.QTYALLOCATED - LOTXLOCXID.QTYPICKED) - MIN(ISNULL(p.QTYPREALLOCATED, 0))) % " + @c_UOMBase + ") " +
         "      END " +
         " FROM LOTxLOCxID (NOLOCK) " +
         " JOIN LOT (NOLOCK) ON LOT.LOT = LOTxLOCxID.Lot " +
         " JOIN LOTATTRIBUTE (NOLOCK) ON LOT.LOT = LOTATTRIBUTE.LOT " +
         " JOIN LOC (NOLOCK) ON LOTxLOCxID.Loc = LOC.Loc " +
         " JOIN ID (NOLOCK) ON LOTxLOCxID.ID = ID.ID " +
         " JOIN SKUxLOC (NOLOCK) ON SKUxLOC.StorerKey = LOTxLOCxID.StorerKey " +
         " AND SKUxLOC.SKU = LOTxLOCxID.SKU " +
         " AND SKUxLOC.LOC = LOTxLOCxID.LOC " +
         " LEFT OUTER JOIN (SELECT PP.lot, ORDERS.facility, QtyPreallocated = SUM(PP.Qty) " +
         "                   FROM PreallocatePickdetail PP (NOLOCK), ORDERS (NOLOCK) " +
         "                   WHERE PP.Orderkey = ORDERS.Orderkey " +
         "                   AND   PP.Storerkey = N'" + @c_StorerKey + "' " +
         "                   AND   PP.SKU = N'" + @c_SKU + "' " +
         "                   GROUP BY PP.Lot, ORDERS.Facility) p ON LOTxLOCxID.Lot = p.Lot AND p.Facility = LOC.Facility " +
         " LEFT OUTER JOIN (SELECT DISTINCT LLI.Lot FROM LOTXLOCXID LLI (NOLOCK) JOIN SKUXLOC SL ON LLI.Storerkey = SL.Storerkey " +
         "                                                              AND LLI.Sku = SL.Sku AND LLI.Loc = SL.Loc " +
         "                  WHERE SL.Locationtype NOT IN ('PICK','CASE') " +
         "                  AND LLI.Storerkey = N'" + @c_StorerKey + "' " +
         "                  AND LLI.Sku = N'" + @c_SKU + "' "+
         "                  AND (LLI.Qty - LLI.QtyAllocated - LLI.QtyPicked) > 0) bulkloc ON LOTXLOCXID.Lot = bulkloc.lot "  +
         " WHERE LOT.StorerKey = N'" + @c_StorerKey + "' " +
         " AND LOT.SKU = N'" + @c_SKU + "' " +
         " AND LOT.STATUS = 'OK' " +
         " AND ID.STATUS <> 'HOLD' " +
         " AND LOC.Status = 'OK' " +
         " AND LOC.Facility = N'" + @c_Facility + "' " +
         " AND LOC.LocationFlag <> 'HOLD' " +
         " AND LOC.LocationFlag <> 'DAMAGE' " +
         " AND LOTxLOCxID.StorerKey = N'" + @c_StorerKey + "' " +
         " AND LOTxLOCxID.SKU = N'" + @c_SKU + "' " +
         " AND LOTATTRIBUTE.StorerKey = N'" + @c_StorerKey + "' " +
         @c_Condition  )

      OPEN LOT_CURSOR

      SET @c_CursorStmnt = ' DECLARE PREALLOCATE_CURSOR_CANDIDATES CURSOR FAST_FORWARD READ_ONLY FOR ' + CHAR(13) +
                           ' SELECT LOT.StorerKey, LOT.SKU, LOT.LOT, 0 AS Qty ' + CHAR(13) +
                           ' FROM LOT WITH (NOLOCK) ' +  CHAR(13) +
                           ' WHERE 1=2 ' + CHAR(13)

      FETCH NEXT FROM LOT_CURSOR INTO @c_SelectedLOT, @d_SelectedLot4, @n_QtyAvailable
      WHILE @@FETCH_STATUS <> -1 AND @n_QtyLeftToFulfill > 0
      BEGIN
         -- Find the exact match qty location
         Get_Next:
         SET @n_Qty = 0
         SET @c_LOC = ''
         SET @c_ID  = ''
         SET @n_LotQtyAvail = 0

         -- SOS#310562 (Start)
         IF @n_QtyAvailable = 0
            GOTO FETCH_NEXT

         IF @n_QtyAvailable < @n_PalletCnt
            BREAK
         -- SOS#310562 (End)

         SELECT @c_LOC = LLI.Loc,
                @c_ID  = LLI.Id,
                @n_Qty = LLI.Qty - LLI.QtyAllocated - LLI.QtyPicked
         FROM LOTxLOCxID LLI WITH (NOLOCK)
         JOIN LOC L WITH (NOLOCK) ON l.Loc = LLI.Loc AND L.LocationFlag NOT IN ('HOLD','DAMAGE') AND L.Status = 'OK'
         JOIN ID WITH (NOLOCK) ON ID.Id = LLI.Id AND ID.[Status] = 'OK'
         JOIN LOT WITH (NOLOCK) ON LLI.Lot = LOT.Lot -- SOS#299047
         WHERE LLI.Lot = @c_SelectedLOT
         AND NOT EXISTS(SELECT 1 FROM @t_LOTXLOCXID TB WHERE LLI.Lot = TB.LOT AND LLI.Loc = TB.LOC AND LLI.Id = TB.ID)
         AND ((LLI.Qty - LLI.QtyAllocated - LLI.QtyPicked ) = @n_QtyLeftToFulfill
          OR ((LLI.Qty - LLI.QtyAllocated - LLI.QtyPicked ) < @n_QtyLeftToFulfill) ) -- SOS#299047
         ORDER BY LLI.Qty, L.LogicalLocation, L.LOC

         SELECT @n_LotQtyAvail = (Qty - QtyAllocated - QtyPicked - QtyPreAllocated)
         FROM LOT WITH (NOLOCK)
         WHERE LOT = @c_SelectedLOT

         IF @n_LotQtyAvail < @n_QtyLeftToFulfill
            SET @n_Qty = 0

         IF @n_Qty > 0
         BEGIN
            --PRINT 'Qty = QtyLeftToFulfill OR Qty < QtyLeftToFulfill, Qty=' + CAST(@n_Qty AS VARCHAR) + ' QtyLeftToFulfill:' + CAST(@n_QtyLeftToFulfill AS VARCHAR)
            SET @c_CursorStmnt = RTRIM(@c_CursorStmnt) + ' UNION ALL SELECT ''' + @c_StorerKey + ''', ''' + @c_SKU + ''', ''' +
                                 @c_SelectedLOT + ''', ' + CAST(@n_Qty AS VARCHAR(10)) +  CHAR(13)
            INSERT INTO @t_LOTxLOCxID VALUES (@c_SelectedLOT, @c_LOC, @c_ID, @n_Qty)

            SET @n_QtyAvailable = @n_QtyAvailable - @n_Qty
            SET @n_QtyLeftToFulfill = @n_QtyLeftToFulfill - @n_Qty
         END
         ELSE
         BEGIN
            IF @n_QtyLeftToFulfill < @n_PalletCnt
               BREAK
         END

         IF @n_QtyLeftToFulfill = 0
            BREAK

         IF @n_QtyLeftToFulfill >= @n_PalletCnt
         BEGIN
            --PRINT 'Full Pallet'
            -- Find full pallet Location
            SET @n_Qty = 0
            SET @c_LOC = ''
            SET @c_ID  = ''

            SELECT @c_LOC = lli.Loc,
                   @c_ID  = lli.Id,
               @n_Qty = LLI.Qty - LLI.QtyAllocated - LLI.QtyPicked
            FROM LOTxLOCxID LLI WITH (NOLOCK)
            JOIN LOC L WITH (NOLOCK) ON L.Loc = LLI.Loc AND L.LocationFlag NOT IN ('HOLD','DAMAGE') AND L.Status = 'OK'
            JOIN ID WITH (NOLOCK) ON ID.Id = LLI.Id AND ID.[Status] = 'OK'
            WHERE LLI.Lot = @c_SelectedLOT
            AND NOT EXISTS(SELECT 1 FROM @t_LOTXLOCXID TB WHERE LLI.Lot = TB.LOT AND LLI.Loc = TB.LOC AND LLI.Id = TB.ID)
            AND (LLI.Qty - LLI.QtyAllocated - LLI.QtyPicked ) = @n_PalletCnt
            ORDER BY LLI.Qty, L.LogicalLocation, L.LOC

           SELECT @n_LotQtyAvail = (Qty - QtyAllocated - QtyPicked - QtyPreAllocated)
           FROM LOT WITH (NOLOCK)
           WHERE LOT = @c_SelectedLOT

           IF @n_LotQtyAvail < @n_PalletCnt
              SET @n_Qty = 0

            IF @n_Qty > 0
            BEGIN
               SET @c_CursorStmnt = RTRIM(@c_CursorStmnt) + ' UNION ALL SELECT ''' + @c_StorerKey + ''', ''' + @c_SKU + ''', ''' +
                                    @c_SelectedLOT + ''', ' + CAST(@n_Qty AS VARCHAR(10)) +  CHAR(13)
               INSERT INTO @t_LOTxLOCxID VALUES (@c_SelectedLOT, @c_LOC, @c_ID, @n_Qty)

               SET @n_QtyAvailable = @n_QtyAvailable - @n_Qty
               SET @n_QtyLeftToFulfill = @n_QtyLeftToFulfill - @n_Qty

               IF @n_QtyLeftToFulfill = 0
                  BREAK
               ELSE
                  GOTO Get_Next
            END
            ELSE
               GOTO FETCH_NEXT
         END
         ELSE
         BEGIN
            IF @n_QtyLeftToFulfill > 0
               GOTO Get_Next

            GOTO FETCH_NEXT
     END

         FETCH_NEXT:
         FETCH NEXT FROM LOT_CURSOR INTO @c_SelectedLOT, @d_SelectedLot4, @n_QtyAvailable

         --select @c_SelectedLOT'@c_SelectedLOT', @d_SelectedLot4'@d_SelectedLot4', @n_QtyAvailable'@n_QtyAvailable',@n_QtyLeftToFulfill'@n_QtyLeftToFulfill'--ang01

      END
      CLOSE LOT_CURSOR
      DEALLOCATE LOT_CURSOR

      --PRINT @c_CursorStmnt
      EXEC( @c_CursorStmnt )
   END
   EXIT_SP:
END

GO

GRANT EXECUTE ON [dbo].[nspPRTWPG7] TO NSQL
GO