GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS OFF
GO

/* =====================================================================
   Store Procedure: nspRBClrPl (Order-Driven Allocation) enhanced from nspALClrPl

   2019-06-06 1.1  TLTING01 Performance tuning - avoid recompile
   2026-03-26 2.0  Order-Driven Allocation with FIFO + Pallet Priority

   =====================================================================
   PURPOSE: Allocate inventory based on order structure with FIFO and
            pallet type prioritization (Full pallets before Partial)

   BUSINESS LOGIC:
   - Scenario 1: Order with full pallets → Phase 1: FULL only, Phase 2: PARTIAL
   - Scenario 3: Order without full pallets → Single phase: PARTIAL only
   - FIFO applied within each phase (oldest LOT.Editdate first)
   - Partial pallets CANNOT fulfill full pallet quantities
   ===================================================================== */

CREATE OR ALTER PROCEDURE [dbo].[nspRBClrPl]
	@c_lot NVARCHAR(10),
	@c_uom NVARCHAR(10),
	@c_HostWHCode NVARCHAR(10),
	@c_Facility NVARCHAR(5),
	@n_uombase INT,
	@n_qtylefttofulfill INT,
	@c_OtherParms NVARCHAR(200) = ''
AS
BEGIN
   SET NOCOUNT ON

   -- =====================================================================
   -- STEP 1: CALCULATE ORDER STRUCTURE
   -- =====================================================================
   DECLARE @n_fullPalletRequirement INT;
   DECLARE @n_remainingRequirement INT;

   SET @n_fullPalletRequirement = (@n_qtylefttofulfill / @n_uombase) * @n_uombase;
   SET @n_remainingRequirement = @n_qtylefttofulfill % @n_uombase;

   -- =====================================================================
   -- STEP 2: DECLARE CURSOR - ORDER-DRIVEN ALLOCATION
   -- =====================================================================
   DECLARE CURSOR_CANDIDATES CURSOR FAST_FORWARD READ_ONLY
   FOR SELECT
          LOTxLOCxID.LOC,
          LOTxLOCxID.ID,
          QTYAVAILABLE = (LOTxLOCxID.QTY - LOTxLOCxID.QTYALLOCATED - LOTxLOCxID.QTYPICKED),'1'

       FROM LOT (NOLOCK)
           JOIN LOTxLOCxID (NOLOCK) ON (LOTxLOCxID.LOT = LOT.LOT)
           JOIN LOC WITH (NOLOCK) ON (LOTxLOCxID.Loc = LOC.LOC)
           JOIN ID WITH (NOLOCK) ON (LOTxLOCxID.ID = ID.ID)
           JOIN SKUxLOC WITH (NOLOCK) ON (LOTxLOCxID.StorerKey = SKUxLOC.StorerKey
                                      AND LOTxLOCxID.Sku = SKUxLOC.Sku
                                      AND LOTxLOCxID.Loc = SKUxLOC.Loc)

       WHERE LOT.Lot = @c_lot
         AND ID.Status <> N'HOLD'
         AND LOC.Locationflag <> N'HOLD'
         AND LOC.Locationflag <> N'DAMAGE'
         AND LOC.LocationType <> N'IDZ'
         AND LOC.LocationType <> N'FLOW'
         AND LOC.Facility = @c_Facility
         AND LOC.Status <> N'HOLD'
         AND (LOTxLOCxID.QTY - LOTxLOCxID.QTYALLOCATED - LOTxLOCxID.QTYPICKED) > 0
         AND SKUxLOC.LocationType <> N'PICK'
         AND SKUxLOC.LocationType <> N'CASE'
         AND SKUxLOC.LocationType <> N'IDZ'
         AND SKUxLOC.LocationType <> N'FLOW'

       -- =====================================================================
       -- ORDER BY: Phase + FIFO + Pallet Type + Location
       -- =====================================================================
       -- Priority 1: Allocation Phase (FULL_REQ first, PARTIAL_REM second)
       -- Priority 2: FIFO (oldest LOT.CreateDate first)
       -- Priority 3: Pallet Type (Full before Partial within phase)
       -- Priority 4: Location ordering
       -- Priority 5: Highest quantity first
       ORDER BY
              -- Priority 1: Phase (FULL_REQ=0 sorts first)
              CASE
                 WHEN @n_fullPalletRequirement > 0
                      AND ((LOTxLOCxID.QTY - LOTxLOCxID.QTYALLOCATED - LOTxLOCxID.QTYPICKED) % @n_uombase = 0)
                      AND ((LOTxLOCxID.QTY - LOTxLOCxID.QTYALLOCATED - LOTxLOCxID.QTYPICKED) >= @n_uombase)
                 THEN 0  -- Phase 1: Full Pallets
                 ELSE 1  -- Phase 2: Partial Pallets
              END,

              -- Priority 2: FIFO (oldest LOT.CreateDate first)
              LOT.EditDate ASC,

              -- Priority 3: Pallet Type within phase (Full before Partial)
              CASE
                 WHEN ((LOTxLOCxID.QTY - LOTxLOCxID.QTYALLOCATED - LOTxLOCxID.QTYPICKED) % @n_uombase = 0)
                      AND ((LOTxLOCxID.QTY - LOTxLOCxID.QTYALLOCATED - LOTxLOCxID.QTYPICKED) >= @n_uombase)
                 THEN 0  -- Full pallet
                 ELSE 1  -- Partial pallet
              END,

              -- Priority 4: Location ordering
              LOC.LogicalLocation ASC,
              LOTxLOCxID.LOC ASC,

              -- Priority 5: Highest quantity first
              (LOTxLOCxID.QTY - LOTxLOCxID.QTYALLOCATED - LOTxLOCxID.QTYPICKED) DESC

       OPTION (OPTIMIZE FOR UNKNOWN);

END

GO
GRANT EXECUTE ON nspRBClrPl TO nSQL
GO
